Repository MystenLabs/sui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joyqvq, @kchalkias, @benr-ml, @patrickkuo, @mystenmark, @randall-Mysten, @ronny-mysten, @tharbert, @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @suiwombat, @MystenLabs/consensus, @MystenLabs/fe-and-apps, @MystenLabs/sdk-reviewers, @MystenLabs/kiosk-sdk-reviewers, @MystenLabs/wallet-kit-reviewers

address comments
  crates/sui-types/benches/nitro_attestation_bench.rs
  crates/sui-types/src/nitro_attestation.rs
  crates/sui-types/src/unit_tests/nitro_attestation_tests.rs
Owners: none

Turn off randomized tx workload (#20660)
  crates/sui-benchmark/tests/simtest.rs
Owners: none

Switch to new key space API
  crates/sui-core/src/authority/authority_store_tables.rs
  crates/typed-store/src/tidehunter/th_db_map.rs
Owners: none

lint
  crates/sui-types/src/nitro_attestation.rs
Owners: none

feedback
  crates/sui-indexer-alt/src/handlers/coin_balance_buckets_pruner.rs
  crates/sui-indexer-alt/src/handlers/obj_info_pruner.rs
Owners: none

change burst limit to a soft cap
  crates/sui-core/src/authority/shared_object_congestion_tracker.rs
Owners: none

[indexer-alt] Add CheckpointLagMetricReporter
  crates/sui-indexer-alt-framework/src/ingestion/client.rs
  crates/sui-indexer-alt-framework/src/metrics.rs
  crates/sui-indexer-alt-framework/src/pipeline/processor.rs
Owners: none

[indexer-alt] Add more checkpoint lag metrics
  crates/sui-indexer-alt-framework/src/metrics.rs
  crates/sui-indexer-alt-framework/src/pipeline/concurrent/collector.rs
  crates/sui-indexer-alt-framework/src/pipeline/concurrent/commit_watermark.rs
  crates/sui-indexer-alt-framework/src/pipeline/concurrent/committer.rs
  crates/sui-indexer-alt-framework/src/pipeline/mod.rs
Owners: none

[docs] fix typo in legacyAddress docs
  sdk/docs/pages/typescript/zklogin.mdx
Owners: @MystenLabs/sdk-reviewers

fix npm audit
  pnpm-lock.yaml
Owners: none

[indexer-alt] Add more checkpoint lag metrics
  crates/sui-indexer-alt-framework/src/metrics.rs
  crates/sui-indexer-alt-framework/src/pipeline/concurrent/collector.rs
  crates/sui-indexer-alt-framework/src/pipeline/concurrent/commit_watermark.rs
  crates/sui-indexer-alt-framework/src/pipeline/concurrent/committer.rs
  crates/sui-indexer-alt-framework/src/pipeline/mod.rs
Owners: none

[indexer-alt] Add CheckpointLagMetricReporter
  crates/sui-indexer-alt-framework/src/ingestion/client.rs
  crates/sui-indexer-alt-framework/src/metrics.rs
  crates/sui-indexer-alt-framework/src/pipeline/processor.rs
Owners: none

[indexer-alt] Do not prune in the case of object creation (#20641)
  crates/sui-indexer-alt/src/handlers/coin_balance_buckets.rs
  crates/sui-indexer-alt/src/handlers/coin_balance_buckets_pruner.rs
  crates/sui-indexer-alt/src/handlers/obj_info.rs
  crates/sui-indexer-alt/src/handlers/obj_info_pruner.rs
Owners: none

[docs] fix typo in legacyAddress docs (#20662)
  pnpm-lock.yaml
  sdk/docs/pages/typescript/zklogin.mdx
Owners: @MystenLabs/sdk-reviewers

comment clarification
  crates/sui-protocol-config/src/lib.rs
Owners: @mystenmark

[move-analyzer] Cache user program
  external-crates/move/crates/move-analyzer/src/analyzer.rs
  external-crates/move/crates/move-analyzer/src/completions/mod.rs
  external-crates/move/crates/move-analyzer/src/symbols.rs
  external-crates/move/crates/move-analyzer/tests/ide_testsuite.rs
Owners: none

Cosmetic changes
  external-crates/move/crates/move-analyzer/src/symbols.rs
Owners: none

Fixed collection of files to analyze
  external-crates/move/crates/move-analyzer/src/symbols.rs
Owners: none

Made clippy happy
  external-crates/move/crates/move-analyzer/src/symbols.rs
Owners: none

Addressed review comments
  external-crates/move/crates/move-analyzer/src/symbols.rs
Owners: none

Addressed more review comments
  external-crates/move/crates/move-analyzer/tests/ide_testsuite.rs
Owners: none

Made clippy happy
  external-crates/move/crates/move-analyzer/src/symbols.rs
Owners: none

Suppress more types of overload protection in backpressure test (#20651)
  crates/sui-benchmark/tests/simtest.rs
Owners: none

add vector, mutable and immutable references
  crates/sui/src/unit_tests/fixtures/upgrade_errors/function_errors_v1/sources/UpgradeErrors.move
  crates/sui/src/unit_tests/fixtures/upgrade_errors/function_errors_v2/sources/UpgradeErrors.move
  crates/sui/src/unit_tests/fixtures/upgrade_errors/type_param_errors_v1/sources/UpgradeErrors.move
  crates/sui/src/unit_tests/fixtures/upgrade_errors/type_param_errors_v2/sources/UpgradeErrors.move
  crates/sui/src/unit_tests/snapshots/sui__upgrade_compatibility__upgrade_compatibility_tests__function.snap
  crates/sui/src/unit_tests/snapshots/sui__upgrade_compatibility__upgrade_compatibility_tests__type_param.snap
  crates/sui/src/upgrade_compatibility.rs
Owners: none

no newline after package
  crates/sui/src/unit_tests/fixtures/upgrade_errors/missing_module_toml/package_no_name/Move.toml
Owners: none

small fixes
  crates/sui/src/unit_tests/snapshots/sui__upgrade_compatibility__upgrade_compatibility_tests__declarations_missing.snap
  crates/sui/src/unit_tests/snapshots/sui__upgrade_compatibility__upgrade_compatibility_tests__empty.snap
  crates/sui/src/unit_tests/snapshots/sui__upgrade_compatibility__upgrade_compatibility_tests__whitespace.snap
  crates/sui/src/unit_tests/upgrade_compatibility_tests.rs
  crates/sui/src/upgrade_compatibility.rs
Owners: none

format module missing error
  crates/sui/src/unit_tests/fixtures/upgrade_errors/malformed_move_toml/addresses_first/Move.toml
  crates/sui/src/unit_tests/fixtures/upgrade_errors/malformed_move_toml/empty/Move.toml
  crates/sui/src/unit_tests/fixtures/upgrade_errors/malformed_move_toml/starts_second_line/Move.toml
  crates/sui/src/unit_tests/fixtures/upgrade_errors/malformed_move_toml/whitespace/Move.toml
  crates/sui/src/unit_tests/snapshots/sui__upgrade_compatibility__upgrade_compatibility_tests__addresses_first.snap
  crates/sui/src/unit_tests/snapshots/sui__upgrade_compatibility__upgrade_compatibility_tests__declarations_missing.snap
  crates/sui/src/unit_tests/snapshots/sui__upgrade_compatibility__upgrade_compatibility_tests__empty.snap
  crates/sui/src/unit_tests/snapshots/sui__upgrade_compatibility__upgrade_compatibility_tests__starts_second_line.snap
  crates/sui/src/unit_tests/snapshots/sui__upgrade_compatibility__upgrade_compatibility_tests__whitespace.snap
  crates/sui/src/unit_tests/upgrade_compatibility_tests.rs
  crates/sui/src/upgrade_compatibility.rs
Owners: none

add more examples return the next few lines, avoid slicing bytes
  crates/sui/src/unit_tests/fixtures/upgrade_errors/missing_module_toml/addresses_first/Move.toml
  crates/sui/src/unit_tests/fixtures/upgrade_errors/missing_module_toml/emoji/Move.toml
  crates/sui/src/unit_tests/fixtures/upgrade_errors/missing_module_toml/empty/Move.toml
  crates/sui/src/unit_tests/fixtures/upgrade_errors/missing_module_toml/package_no_name/Move.toml
  crates/sui/src/unit_tests/fixtures/upgrade_errors/missing_module_toml/starts_second_line/Move.toml
  crates/sui/src/unit_tests/fixtures/upgrade_errors/missing_module_toml/whitespace/Move.toml
  crates/sui/src/unit_tests/snapshots/sui__upgrade_compatibility__upgrade_compatibility_tests__addresses_first.snap
  crates/sui/src/unit_tests/snapshots/sui__upgrade_compatibility__upgrade_compatibility_tests__emoji.snap
  crates/sui/src/unit_tests/snapshots/sui__upgrade_compatibility__upgrade_compatibility_tests__package_no_name.snap
  crates/sui/src/unit_tests/snapshots/sui__upgrade_compatibility__upgrade_compatibility_tests__starts_second_line.snap
  crates/sui/src/unit_tests/upgrade_compatibility_tests.rs
  crates/sui/src/upgrade_compatibility.rs
Owners: none

handle additive and deponly upgrades for upgrade errors
  crates/sui/src/lib.rs
  crates/sui/src/unit_tests/fixtures/upgrade_errors/additive_errors_v1/Move.toml
  crates/sui/src/unit_tests/fixtures/upgrade_errors/additive_errors_v1/sources/UpgradeErrors.move
  crates/sui/src/unit_tests/fixtures/upgrade_errors/additive_errors_v2/Move.toml
  crates/sui/src/unit_tests/fixtures/upgrade_errors/additive_errors_v2/sources/UpgradeErrors.move
  crates/sui/src/unit_tests/fixtures/upgrade_errors/deponly_errors_v1/Move.toml
  crates/sui/src/unit_tests/fixtures/upgrade_errors/deponly_errors_v1/sources/UpgradeErrors.move
  crates/sui/src/unit_tests/fixtures/upgrade_errors/deponly_errors_v2/Move.toml
  crates/sui/src/unit_tests/fixtures/upgrade_errors/deponly_errors_v2/sources/UpgradeErrors.move
  crates/sui/src/unit_tests/snapshots/sui__upgrade_compatibility__upgrade_compatibility_tests__additive.snap
  crates/sui/src/unit_tests/snapshots/sui__upgrade_compatibility__upgrade_compatibility_tests__all.snap
  crates/sui/src/unit_tests/snapshots/sui__upgrade_compatibility__upgrade_compatibility_tests__declarations_missing.snap
  crates/sui/src/unit_tests/snapshots/sui__upgrade_compatibility__upgrade_compatibility_tests__deponly.snap
  crates/sui/src/unit_tests/snapshots/sui__upgrade_compatibility__upgrade_compatibility_tests__enum.snap
  crates/sui/src/unit_tests/snapshots/sui__upgrade_compatibility__upgrade_compatibility_tests__function.snap
  crates/sui/src/unit_tests/snapshots/sui__upgrade_compatibility__upgrade_compatibility_tests__struct.snap
  crates/sui/src/unit_tests/snapshots/sui__upgrade_compatibility__upgrade_compatibility_tests__type_param.snap
  crates/sui/src/unit_tests/upgrade_compatibility_tests.rs
  crates/sui/src/upgrade_compatibility.rs
  external-crates/move/crates/move-binary-format/src/compatibility.rs
  external-crates/move/crates/move-binary-format/src/inclusion_mode.rs
Owners: none

[sdk] Add new options and improve docs for verifying signatures are valid for a specific address
  .changeset/cold-apples-happen.md
  .changeset/small-toys-begin.md
  sdk/docs/pages/typescript/cryptography/keypairs.mdx
  sdk/typescript/src/cryptography/publickey.ts
  sdk/typescript/src/verify/verify.ts
  sdk/typescript/src/zklogin/publickey.ts
Owners: @MystenLabs/sdk-reviewers

[sdk] improve typing of splitCoins and make splitCoins have a concrete size
  .changeset/brown-gorillas-jam.md
  sdk/typescript/src/transactions/Transaction.ts
Owners: @MystenLabs/sdk-reviewers

Temporary work around for crash
  crates/sui-core/src/execution_cache/cache_types.rs
Owners: none

Sui v1.39.4 Version Bump
  Cargo.lock
  Cargo.toml
  crates/sui-open-rpc/spec/openrpc.json
Owners: none

Temporary work around for crash (#20666)
  crates/sui-core/src/execution_cache/cache_types.rs
Owners: none

Add a short wait at the beginning of randomized workload
  crates/sui-benchmark/src/workloads/randomized_transaction.rs
Owners: none

Revert "Add backpressure to writeback cache (#20430)"
  crates/sui-benchmark/tests/simtest.rs
  crates/sui-config/src/node.rs
  crates/sui-core/src/authority.rs
  crates/sui-core/src/authority/backpressure.rs
  crates/sui-core/src/authority/test_authority_builder.rs
  crates/sui-core/src/checkpoints/checkpoint_executor/mod.rs
  crates/sui-core/src/checkpoints/checkpoint_executor/tests.rs
  crates/sui-core/src/checkpoints/mod.rs
  crates/sui-core/src/consensus_handler.rs
  crates/sui-core/src/consensus_manager/mysticeti_manager.rs
  crates/sui-core/src/execution_cache.rs
  crates/sui-core/src/execution_cache/metrics.rs
  crates/sui-core/src/execution_cache/passthrough_cache.rs
  crates/sui-core/src/execution_cache/proxy_cache.rs
  crates/sui-core/src/execution_cache/unit_tests/writeback_cache_tests.rs
  crates/sui-core/src/execution_cache/writeback_cache.rs
  crates/sui-node/src/lib.rs
  crates/sui-swarm-config/tests/snapshots/snapshot_tests__network_config_snapshot_matches.snap
Owners: @MystenLabs/consensus

[move-analyzer] Cache user program (#20621)
  external-crates/move/crates/move-analyzer/src/analyzer.rs
  external-crates/move/crates/move-analyzer/src/completions/mod.rs
  external-crates/move/crates/move-analyzer/src/symbols.rs
  external-crates/move/crates/move-analyzer/tests/ide_testsuite.rs
Owners: none

fix: add missing comma to sim_test macro
  crates/sui-proc-macros/src/lib.rs
Owners: none

Add consensus amplifaction for SIP-45
  crates/sui-core/src/consensus_adapter.rs
Owners: @MystenLabs/consensus

fix: add missing comma to sim_test macro
  crates/sui-proc-macros/src/lib.rs
Owners: none

.github/CODEOWNERS:

/crates/sui-types/src/crypto.rs @joyqvq @kchalkias @benr-ml
/crates/sui-types/src/base_types.rs @joyqvq
/crates/sui-keys/ @joyqvq @patrickkuo
/crates/sui-protocol-config @mystenmark

*.md @randall-Mysten @ronny-mysten
# Omit auto-generated changelogs and changesets from docs review:
/.changeset/*.md
CHANGELOG.md

# When snapshot changes, most likely we will need to recreate the genesis blob.
/crates/sui-config/tests/snapshot_tests.rs @tharbert

# When native functions change, so we can evaluate cost impact
/crates/sui-framework/src/natives/ @oxade

# GraphQL RPC working group
/crates/sui-graphql-rpc/ @oxade @amnn @wlmyng @stefan-mysten @emmazzz @suiwombat
/crates/sui-graphql-e2e-tests/ @oxade @amnn @wlmyng @stefan-mysten @emmazzz @suiwombat

# Consensus working group
/consensus/ @MystenLabs/consensus
/crates/sui-core/src/consensus_handler.rs @MystenLabs/consensus
/crates/sui-core/src/consensus_adapter.rs @MystenLabs/consensus

apps/ @MystenLabs/fe-and-apps
sdk/ @MystenLabs/sdk-reviewers
sdk/kiosk @MystenLabs/kiosk-sdk-reviewers
sdk/wallet-standard @MystenLabs/wallet-kit-reviewers
