Repository MystenLabs/sui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joyqvq, @kchalkias, @benr-ml, @patrickkuo, @mystenmark, @ronny-mysten, @dariorussi, @MystenLabs/devx-indexers-and-rpcs, @MystenLabs/consensus, @MystenLabs/mysten-pe

.github/CODEOWNERS:

/crates/sui-types/src/crypto.rs @joyqvq @kchalkias @benr-ml
/crates/sui-types/src/base_types.rs @joyqvq
/crates/sui-keys/ @joyqvq @patrickkuo
/crates/sui-protocol-config @mystenmark

*.md @ronny-mysten
# Omit auto-generated changelogs and changesets from docs review:
/.changeset/*.md
CHANGELOG.md

# When native functions change, so we can evaluate cost impact
/crates/sui-framework/src/natives/ @dariorussi

# GraphQL RPC working group
/crates/sui-default-config @MystenLabs/devx-indexers-and-rpcs
/crates/sui-display @MystenLabs/devx-indexers-and-rpcs
/crates/sui-field-count* @MystenLabs/devx-indexers-and-rpcs
/crates/sui-graphql* @MystenLabs/devx-indexers-and-rpcs
/crates/sui-indexer* @MystenLabs/devx-indexers-and-rpcs
/crates/sui-pg-db @MystenLabs/devx-indexers-and-rpcs
/crates/sui-sql-macro @MystenLabs/devx-indexers-and-rpcs

# Consensus working group
/consensus/ @MystenLabs/consensus
/crates/sui-core/src/consensus_handler.rs @MystenLabs/consensus
/crates/sui-core/src/consensus_adapter.rs @MystenLabs/consensus


/docker/ @MystenLabs/mysten-pe

split description into multiple lines
  external-crates/move/crates/move-compiler/src/sui_mode/linters/unnecessary_public_entry.rs
  external-crates/move/crates/move-compiler/tests/sui_mode/linter/public_random_invalid.move
  external-crates/move/crates/move-compiler/tests/sui_mode/linter/public_random_invalid.snap
  external-crates/move/crates/move-compiler/tests/sui_mode/linter/true_unnecessary_public_entry.snap
Owners: none

[trace-view] Fixed a problem related to using incorrect pkg IDs
  crates/sui-replay-2/src/tracing.rs
  external-crates/move/crates/move-analyzer/trace-adapter/src/trace_utils.ts
Owners: none

[nre] improve operator guide
  nre/sui_for_node_operators.md
Owners: @ronny-mysten

Fix ExecutionError
  crates/sui-indexer-alt-e2e-tests/tests/graphql/epochs/totalGasFees/totalGasFees.move
  crates/sui-indexer-alt-e2e-tests/tests/graphql/epochs/totalGasFees/totalGasFees.snap
Owners: @MystenLabs/devx-indexers-and-rpcs

Fix clippy error
  crates/sui-indexer-alt-graphql/src/api/types/epoch.rs
Owners: @MystenLabs/devx-indexers-and-rpcs

Fix snapshots
  crates/sui-indexer-alt-graphql/schema.graphql
  crates/sui-indexer-alt-graphql/src/snapshots/sui_indexer_alt_graphql__tests__schema.graphql.snap
  crates/sui-indexer-alt-graphql/src/snapshots/sui_indexer_alt_graphql__tests__staging.graphql.snap
  crates/sui-indexer-alt-graphql/staging.graphql
Owners: @MystenLabs/devx-indexers-and-rpcs

Replace and_then with destructuring
  crates/sui-indexer-alt-graphql/src/api/types/epoch.rs
Owners: @MystenLabs/devx-indexers-and-rpcs

graphql-alt: Add Epoch.totalGasFees (#22780)
  crates/sui-indexer-alt-e2e-tests/tests/graphql/epochs/query.move
  crates/sui-indexer-alt-e2e-tests/tests/graphql/epochs/query.snap
  crates/sui-indexer-alt-e2e-tests/tests/graphql/epochs/totalGasFees/totalGasFees.move
  crates/sui-indexer-alt-e2e-tests/tests/graphql/epochs/totalGasFees/totalGasFees.snap
  crates/sui-indexer-alt-graphql/schema.graphql
  crates/sui-indexer-alt-graphql/src/api/types/epoch.rs
  crates/sui-indexer-alt-graphql/src/snapshots/sui_indexer_alt_graphql__tests__schema.graphql.snap
  crates/sui-indexer-alt-graphql/src/snapshots/sui_indexer_alt_graphql__tests__staging.graphql.snap
  crates/sui-indexer-alt-graphql/staging.graphql
Owners: @MystenLabs/devx-indexers-and-rpcs

simplify e2e tests with transactionEffects
  crates/sui-indexer-alt-e2e-tests/tests/graphql/transaction_effects/status.move
  crates/sui-indexer-alt-e2e-tests/tests/graphql/transaction_effects/status.snap
Owners: @MystenLabs/devx-indexers-and-rpcs

added dockerfile for bridge indexer alt
  crates/sui-bridge-indexer-alt/Cargo.toml
  docker/sui-bridge-indexer-alt/Dockerfile
  docker/sui-bridge-indexer-alt/build.sh
Owners: @MystenLabs/mysten-pe

graphql-alt: Add Epoch.totalStakeRewards
  crates/sui-indexer-alt-e2e-tests/tests/graphql/epochs/query.move
  crates/sui-indexer-alt-e2e-tests/tests/graphql/epochs/query.snap
  crates/sui-indexer-alt-e2e-tests/tests/graphql/epochs/totalStakeRewards/totalStakeRewards.move
  crates/sui-indexer-alt-e2e-tests/tests/graphql/epochs/totalStakeRewards/totalStakeRewards.snap
  crates/sui-indexer-alt-graphql/schema.graphql
  crates/sui-indexer-alt-graphql/src/api/types/epoch.rs
  crates/sui-indexer-alt-graphql/src/snapshots/sui_indexer_alt_graphql__tests__schema.graphql.snap
  crates/sui-indexer-alt-graphql/src/snapshots/sui_indexer_alt_graphql__tests__staging.graphql.snap
  crates/sui-indexer-alt-graphql/staging.graphql
Owners: @MystenLabs/devx-indexers-and-rpcs

[graphql-alt] Support status for TransactionEffects (#22789)
  crates/sui-indexer-alt-e2e-tests/tests/graphql/transaction_effects/status.move
  crates/sui-indexer-alt-e2e-tests/tests/graphql/transaction_effects/status.snap
  crates/sui-indexer-alt-graphql/schema.graphql
  crates/sui-indexer-alt-graphql/src/api/types/transaction_effects.rs
  crates/sui-indexer-alt-graphql/src/snapshots/sui_indexer_alt_graphql__tests__schema.graphql.snap
  crates/sui-indexer-alt-graphql/src/snapshots/sui_indexer_alt_graphql__tests__staging.graphql.snap
  crates/sui-indexer-alt-graphql/staging.graphql
Owners: @MystenLabs/devx-indexers-and-rpcs

Add new round of transactions for lamport_version tests
  crates/sui-indexer-alt-e2e-tests/tests/graphql/transaction_effects/lamport_version.move
  crates/sui-indexer-alt-e2e-tests/tests/graphql/transaction_effects/lamport_version.snap
Owners: @MystenLabs/devx-indexers-and-rpcs

[graphql-alt] Support lamport version for TransactionEffects
  crates/sui-indexer-alt-e2e-tests/tests/graphql/transaction_effects/lamport_version.move
  crates/sui-indexer-alt-e2e-tests/tests/graphql/transaction_effects/lamport_version.snap
  crates/sui-indexer-alt-graphql/schema.graphql
  crates/sui-indexer-alt-graphql/src/api/types/transaction_effects.rs
  crates/sui-indexer-alt-graphql/src/snapshots/sui_indexer_alt_graphql__tests__schema.graphql.snap
  crates/sui-indexer-alt-graphql/src/snapshots/sui_indexer_alt_graphql__tests__staging.graphql.snap
  crates/sui-indexer-alt-graphql/staging.graphql
Owners: @MystenLabs/devx-indexers-and-rpcs
