Repository MystenLabs/sui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joyqvq, @kchalkias, @benr-ml, @patrickkuo, @mystenmark, @randall-Mysten, @ronny-mysten, @tharbert, @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @suiwombat, @MystenLabs/consensus, @MystenLabs/fe-and-apps, @MystenLabs/sdk-reviewers, @MystenLabs/kiosk-sdk-reviewers, @MystenLabs/wallet-kit-reviewers

easy(indexer-alt): small clean-ups (#20564)
  crates/sui-indexer-alt-framework/src/pipeline/concurrent/collector.rs
  crates/sui-indexer-alt-framework/src/pipeline/concurrent/mod.rs
Owners: none

indexer-alt: remove {sum,wal}_{obj_types,coin_balances} (#20659)
  crates/sui-indexer-alt-schema/migrations/2024-12-17-162230_drop_sum_wal/down.sql
  crates/sui-indexer-alt-schema/migrations/2024-12-17-162230_drop_sum_wal/up.sql
  crates/sui-indexer-alt-schema/src/objects.rs
  crates/sui-indexer-alt-schema/src/schema.rs
  crates/sui-indexer-alt/src/config.rs
  crates/sui-indexer-alt/src/handlers/mod.rs
  crates/sui-indexer-alt/src/handlers/sum_coin_balances.rs
  crates/sui-indexer-alt/src/handlers/sum_obj_types.rs
  crates/sui-indexer-alt/src/handlers/wal_coin_balances.rs
  crates/sui-indexer-alt/src/handlers/wal_obj_types.rs
  crates/sui-indexer-alt/src/lib.rs
Owners: none

Revert "[kv store] add watermark table to bigtable (#20390)"
  crates/sui-data-ingestion/src/lib.rs
  crates/sui-data-ingestion/src/main.rs
  crates/sui-data-ingestion/src/progress_store.rs
  crates/sui-kvstore/src/bigtable/client.rs
  crates/sui-kvstore/src/bigtable/init.sh
  crates/sui-kvstore/src/lib.rs
Owners: none

fix.
  external-crates/move/crates/move-stackless-bytecode/src/move_loop_invariants.rs
Owners: none

[chore] reduce block size to 35KB to exercise the block validation.
  crates/sui-protocol-config/src/lib.rs
Owners: @mystenmark

Saving
  docs/content/guides/developer/app-examples/trustless-swap.mdx
  docs/site/src/plugins/inject-code/index.js
  docs/site/src/plugins/inject-code/injectLoader.js
Owners: none

[chore] reduce max tx size in block
  crates/sui-protocol-config/src/lib.rs
Owners: @mystenmark

[data ingestion] redirect traffic to the bucket directly
  crates/sui-data-ingestion-core/src/reader.rs
Owners: none

enable only after address is present
  apps/wallet/src/ui/app/components/buynlarge/useBuyNLargeAssets.ts
Owners: @MystenLabs/fe-and-apps

[chore] reduce number of tx in block further.
  crates/sui-protocol-config/src/lib.rs
Owners: @mystenmark

fixes
  external-crates/move/crates/move-docgen/src/docgen.rs
  external-crates/move/crates/move-package/src/lib.rs
Owners: none

Revert "[kv store] add watermark table to bigtable (#20390)" (#20670)
  crates/sui-data-ingestion/src/lib.rs
  crates/sui-data-ingestion/src/main.rs
  crates/sui-data-ingestion/src/progress_store.rs
  crates/sui-kvstore/src/bigtable/client.rs
  crates/sui-kvstore/src/bigtable/init.sh
  crates/sui-kvstore/src/lib.rs
Owners: none

[data ingestion] redirect traffic to the bucket directly (#20672)
  crates/sui-data-ingestion-core/src/reader.rs
Owners: none

indexer alt restorer: init commit
  Cargo.lock
  Cargo.toml
  crates/sui-indexer-alt-restorer/Cargo.toml
  crates/sui-indexer-alt-restorer/src/archives.rs
  crates/sui-indexer-alt-restorer/src/lib.rs
  crates/sui-indexer-alt-restorer/src/main.rs
  crates/sui-indexer-alt-restorer/src/snapshot.rs
  crates/sui-indexer-alt-schema/Cargo.toml
  crates/sui-indexer-alt-schema/src/objects.rs
Owners: none

deep supply
  crates/sui-deepbook-indexer/src/server.rs
Owners: none

cargo fmt
  crates/sui-deepbook-indexer/src/server.rs
Owners: none

cleanup
  crates/sui-deepbook-indexer/src/server.rs
Owners: none

address comments, round 1
  Cargo.lock
  crates/sui-indexer-alt-restorer/Cargo.toml
  crates/sui-indexer-alt-restorer/src/archives.rs
  crates/sui-indexer-alt-restorer/src/snapshot.rs
  crates/sui-indexer-alt-schema/src/objects.rs
Owners: none

rpc: remove duplicate health check handler
  crates/sui-node/src/lib.rs
  crates/sui-rpc-api/src/lib.rs
  crates/sui-rpc-api/src/rest/health.rs
Owners: none

rpc: enable the new grpc service on fullnodes
  crates/sui-config/src/node.rs
  crates/sui-node/src/lib.rs
  crates/sui-rpc-api/src/config.rs
  crates/sui-rpc-api/src/lib.rs
  crates/sui-rpc-api/src/rest/mod.rs
  crates/sui-swarm-config/src/node_config_builder.rs
  crates/sui-swarm-config/tests/snapshots/snapshot_tests__network_config_snapshot_matches.snap
Owners: none

show warnings for unrecognized domain
  apps/wallet/src/ui/app/components/known-scam-overlay/index.tsx
  apps/wallet/src/ui/app/components/known-scam-overlay/types.ts
  apps/wallet/src/ui/app/components/known-scam-overlay/useShowScamWarning.tsx
  apps/wallet/src/ui/app/components/user-approve-container/index.tsx
Owners: @MystenLabs/fe-and-apps

show ALL warnings
  apps/wallet/src/ui/app/components/known-scam-overlay/index.tsx
Owners: @MystenLabs/fe-and-apps

typos ssh.rs
  crates/sui-aws-orchestrator/src/ssh.rs
Owners: none

typos benchmark_setup.rs
  crates/sui-benchmark/src/benchmark_setup.rs
Owners: none

typos error.rs
  crates/sui-bridge/src/error.rs
Owners: none

typos metrics.rs
  crates/sui-core/src/metrics.rs
Owners: none

typos congestion_control_tests.rs
  crates/sui-core/src/unit_tests/congestion_control_tests.rs
Owners: none

typos sui-1.0.mdx
  sdk/docs/pages/typescript/migrations/sui-1.0.mdx
Owners: @MystenLabs/sdk-reviewers

typos vector.md
  external-crates/move/crates/move-stdlib/docs/vector.md
Owners: @randall-Mysten, @ronny-mysten

typos utils.rs
  external-crates/move/crates/move-analyzer/src/utils.rs
Owners: none

fix bg
  apps/wallet/src/ui/app/components/known-scam-overlay/index.tsx
Owners: @MystenLabs/fe-and-apps

remove commented line
  apps/wallet/src/ui/app/components/known-scam-overlay/index.tsx
Owners: @MystenLabs/fe-and-apps

Display preflight warnings (#20677)
  apps/wallet/src/ui/app/components/known-scam-overlay/index.tsx
  apps/wallet/src/ui/app/components/known-scam-overlay/types.ts
  apps/wallet/src/ui/app/components/known-scam-overlay/useShowScamWarning.tsx
  apps/wallet/src/ui/app/components/user-approve-container/index.tsx
Owners: @MystenLabs/fe-and-apps

sui-types: remove dependency on the move-compiler
  Cargo.lock
  crates/sui-json-rpc-types/Cargo.toml
  crates/sui-json-rpc-types/src/sui_object.rs
  crates/sui-types/Cargo.toml
  crates/sui-types/src/move_package.rs
Owners: none

[sdk] Add graphql schema export
  .changeset/healthy-swans-end.md
  .changeset/sweet-experts-repeat.md
  graphql.config.ts
  pnpm-workspace.yaml
  sdk/docs/pages/typescript/graphql.mdx
  sdk/graphql-transport/src/generated/queries.ts
  sdk/typescript/graphql/schemas/latest/package.json
  sdk/typescript/package.json
  sdk/typescript/scripts/update-graphql-schemas.ts
  sdk/typescript/src/graphql/generated/latest/schema.graphql
  sdk/typescript/src/graphql/generated/latest/tada-env.d.ts
  sdk/typescript/src/graphql/generated/latest/tsconfig.tada.json
  sdk/typescript/src/graphql/schemas/latest/index.ts
  sdk/typescript/src/zklogin/publickey.ts
  sdk/typescript/test/e2e/graphql.test.ts
  sdk/zksend/src/links/list-created-links.ts
Owners: @MystenLabs/sdk-reviewers

DEEP Supply Endpoint (#20675)
  crates/sui-deepbook-indexer/src/server.rs
Owners: none

[sdk] Add graphql schema export (#20679)
  .changeset/healthy-swans-end.md
  .changeset/sweet-experts-repeat.md
  graphql.config.ts
  pnpm-workspace.yaml
  sdk/docs/pages/typescript/graphql.mdx
  sdk/graphql-transport/src/generated/queries.ts
  sdk/typescript/graphql/schemas/latest/package.json
  sdk/typescript/package.json
  sdk/typescript/scripts/update-graphql-schemas.ts
  sdk/typescript/src/graphql/generated/latest/schema.graphql
  sdk/typescript/src/graphql/generated/latest/tada-env.d.ts
  sdk/typescript/src/graphql/generated/latest/tsconfig.tada.json
  sdk/typescript/src/graphql/schemas/latest/index.ts
  sdk/typescript/src/zklogin/publickey.ts
  sdk/typescript/test/e2e/graphql.test.ts
  sdk/zksend/src/links/list-created-links.ts
Owners: @MystenLabs/sdk-reviewers

add filemap to compiled package
  external-crates/move/crates/move-package/src/compilation/compiled_package.rs
Owners: none

add doc
  external-crates/move/crates/move-package/src/compilation/compiled_package.rs
Owners: none

.github/CODEOWNERS:

/crates/sui-types/src/crypto.rs @joyqvq @kchalkias @benr-ml
/crates/sui-types/src/base_types.rs @joyqvq
/crates/sui-keys/ @joyqvq @patrickkuo
/crates/sui-protocol-config @mystenmark

*.md @randall-Mysten @ronny-mysten
# Omit auto-generated changelogs and changesets from docs review:
/.changeset/*.md
CHANGELOG.md

# When snapshot changes, most likely we will need to recreate the genesis blob.
/crates/sui-config/tests/snapshot_tests.rs @tharbert

# When native functions change, so we can evaluate cost impact
/crates/sui-framework/src/natives/ @oxade

# GraphQL RPC working group
/crates/sui-graphql-rpc/ @oxade @amnn @wlmyng @stefan-mysten @emmazzz @suiwombat
/crates/sui-graphql-e2e-tests/ @oxade @amnn @wlmyng @stefan-mysten @emmazzz @suiwombat

# Consensus working group
/consensus/ @MystenLabs/consensus
/crates/sui-core/src/consensus_handler.rs @MystenLabs/consensus
/crates/sui-core/src/consensus_adapter.rs @MystenLabs/consensus

apps/ @MystenLabs/fe-and-apps
sdk/ @MystenLabs/sdk-reviewers
sdk/kiosk @MystenLabs/kiosk-sdk-reviewers
sdk/wallet-standard @MystenLabs/wallet-kit-reviewers
