Repository MystenLabs/sui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joyqvq, @kchalkias, @benr-ml, @patrickkuo, @mystenmark, @randall-Mysten, @ronny-mysten, @tharbert, @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @suiwombat, @MystenLabs/consensus, @MystenLabs/fe-and-apps, @MystenLabs/sdk-reviewers, @MystenLabs/kiosk-sdk-reviewers, @MystenLabs/wallet-kit-reviewers

.github/CODEOWNERS:

/crates/sui-types/src/crypto.rs @joyqvq @kchalkias @benr-ml
/crates/sui-types/src/base_types.rs @joyqvq
/crates/sui-keys/ @joyqvq @patrickkuo
/crates/sui-protocol-config @mystenmark

*.md @randall-Mysten @ronny-mysten
# Omit auto-generated changelogs and changesets from docs review:
/.changeset/*.md
CHANGELOG.md

# When snapshot changes, most likely we will need to recreate the genesis blob.
/crates/sui-config/tests/snapshot_tests.rs @tharbert

# When native functions change, so we can evaluate cost impact
/crates/sui-framework/src/natives/ @oxade

# GraphQL RPC working group
/crates/sui-graphql-rpc/ @oxade @amnn @wlmyng @stefan-mysten @emmazzz @suiwombat
/crates/sui-graphql-e2e-tests/ @oxade @amnn @wlmyng @stefan-mysten @emmazzz @suiwombat

# Consensus working group
/consensus/ @MystenLabs/consensus
/crates/sui-core/src/consensus_handler.rs @MystenLabs/consensus
/crates/sui-core/src/consensus_adapter.rs @MystenLabs/consensus

apps/ @MystenLabs/fe-and-apps
sdk/ @MystenLabs/sdk-reviewers
sdk/kiosk @MystenLabs/kiosk-sdk-reviewers
sdk/wallet-standard @MystenLabs/wallet-kit-reviewers

rpc: use protox to build proto files
  Cargo.lock
  crates/sui-rpc-api/Cargo.toml
  crates/sui-rpc-api/src/proto/generated/sui.node.v2.fds.bin
  crates/sui-rpc-api/tests/bootstrap.rs
Owners: none

[mvr] Cherry pick mvr external resolution (#20633) (#20648)
  crates/sui-graphql-rpc/src/data/move_registry_data_loader.rs
  crates/sui-graphql-rpc/src/metrics.rs
  crates/sui-graphql-rpc/src/server/builder.rs
  crates/sui-mvr-graphql-rpc/README.md
  crates/sui-mvr-graphql-rpc/src/data/move_registry_data_loader.rs
  crates/sui-mvr-graphql-rpc/src/metrics.rs
  crates/sui-mvr-graphql-rpc/src/server/builder.rs
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @suiwombat, @randall-Mysten, @ronny-mysten

Accounts prototype (move side only)
  crates/sui-adapter-transactional-tests/tests/account/accounts.exp
  crates/sui-adapter-transactional-tests/tests/account/accounts.move
  crates/sui-framework-snapshot/bytecode_snapshot/70/0x0000000000000000000000000000000000000000000000000000000000000002
  crates/sui-framework-snapshot/manifest.json
  crates/sui-framework/docs/sui-framework/account.md
  crates/sui-framework/docs/sui-framework/balance.md
  crates/sui-framework/docs/sui-framework/coin.md
  crates/sui-framework/docs/sui-framework/mergable.md
  crates/sui-framework/docs/sui-framework/object.md
  crates/sui-framework/packages/sui-framework/sources/account.move
  crates/sui-framework/packages/sui-framework/sources/balance.move
  crates/sui-framework/packages/sui-framework/sources/coin.move
  crates/sui-framework/packages/sui-framework/sources/mergable.move
  crates/sui-framework/packages/sui-framework/sources/object.move
  crates/sui-framework/packages_compiled/sui-framework
  crates/sui-framework/published_api.txt
  crates/sui-types/src/balance.rs
  crates/sui-types/src/event.rs
  crates/sui-types/src/object.rs
  crates/sui-types/src/object/balance_traversal.rs
  scripts/update_framework.sh
  sui-execution/latest/sui-adapter/src/temporary_store.rs
  sui-execution/latest/sui-move-natives/src/account.rs
  sui-execution/latest/sui-move-natives/src/lib.rs
Owners: @randall-Mysten, @ronny-mysten

fix protocol config guarding of new canceled tx variant
  crates/sui-core/src/authority/authority_per_epoch_store.rs
  crates/sui-core/src/consensus_handler.rs
  crates/sui-core/src/generate_format.rs
  crates/sui-core/tests/staged/sui.yaml
  crates/sui-open-rpc/spec/openrpc.json
  crates/sui-protocol-config/src/lib.rs
Owners: @MystenLabs/consensus, @mystenmark

rpc: add support for grpc-health service
  Cargo.lock
  crates/sui-node/src/lib.rs
  crates/sui-rpc-api/Cargo.toml
  crates/sui-rpc-api/src/lib.rs
Owners: none

config: add helper for retrieving rpc config
  crates/sui-config/src/node.rs
  crates/sui-node/src/lib.rs
Owners: none

rpc: support requesting and sending UserSignatures encoded as bytes
  crates/sui-rpc-api/openapi/openapi.json
  crates/sui-rpc-api/proto/sui.node.v2.proto
  crates/sui-rpc-api/src/client/mod.rs
  crates/sui-rpc-api/src/grpc.rs
  crates/sui-rpc-api/src/proto/generated/sui.node.v2.fds.bin
  crates/sui-rpc-api/src/proto/generated/sui.node.v2.rs
  crates/sui-rpc-api/src/proto/node.rs
  crates/sui-rpc-api/src/service/transactions/mod.rs
  crates/sui-rpc-api/src/types.rs
Owners: none

rpc: use protox to build proto files
  Cargo.lock
  crates/sui-rpc-api/Cargo.toml
  crates/sui-rpc-api/src/proto/generated/sui.node.v2.fds.bin
  crates/sui-rpc-api/tests/bootstrap.rs
Owners: none

rpc: add support for grpc-reflection
  Cargo.lock
  Cargo.toml
  crates/sui-rpc-api/Cargo.toml
  crates/sui-rpc-api/src/lib.rs
  crates/sui-rpc-api/src/proto/generated/sui.node.v2.fds.bin
  crates/sui-rpc-api/src/proto/node.rs
  crates/sui-rpc-api/tests/bootstrap.rs
Owners: none

rpc: ensure strings are string types in proto files
  crates/sui-rpc-api/proto/sui.types.proto
  crates/sui-rpc-api/src/proto/generated/sui.node.v2.fds.bin
  crates/sui-rpc-api/src/proto/generated/sui.types.rs
  crates/sui-rpc-api/src/proto/mod.rs
  crates/sui-rpc-api/src/proto/types/move_types.rs
  crates/sui-rpc-api/src/proto/types/signatures.rs
  crates/sui-rpc-api/src/proto/types/transaction_convert.rs
Owners: none

change all checkpoints.mainnet|testnet.sui.io references to gcp endpoint (#20634)
  crates/sui-bridge-indexer/README.md
  docs/content/guides/developer/advanced/custom-indexer.mdx
  examples/custom-indexer/rust/remote_reader.rs
  nre/helm/indexer/values.reader.yaml
  nre/helm/indexer/values.writer.yaml
  nre/helm/indexer/values.yaml
Owners: @randall-Mysten, @ronny-mysten

Suppress more types of overload protection in backpressure test
  crates/sui-benchmark/tests/simtest.rs
Owners: none

[tests] Fix expected failure type random selector
  crates/sui-benchmark/src/workloads/workload.rs
Owners: none

pull out field error formatting, generalize to positional fields
  crates/sui/src/unit_tests/fixtures/upgrade_errors/enum_errors_v1/sources/UpgradeErrors.move
  crates/sui/src/unit_tests/fixtures/upgrade_errors/enum_errors_v2/sources/UpgradeErrors.move
  crates/sui/src/unit_tests/fixtures/upgrade_errors/struct_errors_v1/sources/UpgradeErrors.move
  crates/sui/src/unit_tests/fixtures/upgrade_errors/struct_errors_v2/sources/UpgradeErrors.move
  crates/sui/src/unit_tests/snapshots/sui__upgrade_compatibility__upgrade_compatibility_tests__enum.snap
  crates/sui/src/unit_tests/snapshots/sui__upgrade_compatibility__upgrade_compatibility_tests__struct.snap
  crates/sui/src/upgrade_compatibility.rs
Owners: none

Update crates/sui-framework/CONTRIBUTING.md
  crates/sui-framework/CONTRIBUTING.md
Owners: @randall-Mysten, @ronny-mysten

[tests] Fix expected failure type random selector (#20652)
  crates/sui-benchmark/src/workloads/workload.rs
Owners: none

add comment
  crates/sui/src/unit_tests/snapshots/sui__upgrade_compatibility__upgrade_compatibility_tests__enum.snap
Owners: none

add build_mainnet for easy use sui-sdk
  crates/sui-sdk/README.md
  crates/sui-sdk/examples/sui_client.rs
  crates/sui-sdk/src/lib.rs
Owners: @randall-Mysten, @ronny-mysten

update transaction_outputs
  crates/sui-core/src/transaction_orchestrator.rs
  crates/sui-core/src/transaction_outputs.rs
Owners: none

Update transaction_orchestrator.rs
  crates/sui-core/src/transaction_orchestrator.rs
Owners: none

Apply suggestions from code review
  crates/sui-core/src/transaction_outputs.rs
Owners: none

add build_mainnet for easy use sui-sdk (#20640)
  crates/sui-sdk/README.md
  crates/sui-sdk/examples/sui_client.rs
  crates/sui-sdk/src/lib.rs
Owners: @randall-Mysten, @ronny-mysten

upgrade errors improve function type param handling
  crates/sui/src/unit_tests/fixtures/upgrade_errors/function_errors_v1/sources/UpgradeErrors.move
  crates/sui/src/unit_tests/fixtures/upgrade_errors/function_errors_v2/sources/UpgradeErrors.move
  crates/sui/src/unit_tests/fixtures/upgrade_errors/type_param_errors_v1/sources/UpgradeErrors.move
  crates/sui/src/unit_tests/fixtures/upgrade_errors/type_param_errors_v2/sources/UpgradeErrors.move
  crates/sui/src/unit_tests/snapshots/sui__upgrade_compatibility__upgrade_compatibility_tests__all.snap
  crates/sui/src/unit_tests/snapshots/sui__upgrade_compatibility__upgrade_compatibility_tests__function.snap
  crates/sui/src/unit_tests/snapshots/sui__upgrade_compatibility__upgrade_compatibility_tests__type_param.snap
  crates/sui/src/upgrade_compatibility.rs
Owners: none

Update transaction_deferral.rs
  crates/sui-core/src/authority/transaction_deferral.rs
Owners: none

Update transaction_deferral.rs
  crates/sui-core/src/authority/transaction_deferral.rs
Owners: none

[move] Added support for generating bytecode disassembly
  Cargo.lock
  external-crates/move/Cargo.lock
  external-crates/move/crates/move-cli/Cargo.toml
  external-crates/move/crates/move-cli/src/base/test.rs
  external-crates/move/crates/move-package/src/compilation/compiled_package.rs
Owners: none

jsonrpc: correctly serialize bcsName field
  crates/sui-json-rpc-types/src/lib.rs
  crates/sui-json-rpc-types/src/sui_event.rs
  crates/sui-open-rpc/spec/openrpc.json
Owners: none

jsonrpc: correctly serialize bcsName field
  crates/sui-json-rpc-types/src/lib.rs
  crates/sui-json-rpc-types/src/sui_event.rs
  crates/sui-open-rpc/spec/openrpc.json
Owners: none

removed feature flags for sui-move
  crates/sui-framework-tests/Cargo.toml
  crates/sui-move/Cargo.toml
  crates/sui-move/src/lib.rs
  crates/sui-source-validation-service/Cargo.toml
  crates/sui/Cargo.toml
Owners: none

indexer-alt: remove {sum,wal}_{obj_types,coin_balances}
  crates/sui-indexer-alt-schema/migrations/2024-12-17-162230_drop_sum_wal/down.sql
  crates/sui-indexer-alt-schema/migrations/2024-12-17-162230_drop_sum_wal/up.sql
  crates/sui-indexer-alt-schema/src/objects.rs
  crates/sui-indexer-alt-schema/src/schema.rs
  crates/sui-indexer-alt/src/config.rs
  crates/sui-indexer-alt/src/handlers/mod.rs
  crates/sui-indexer-alt/src/handlers/sum_coin_balances.rs
  crates/sui-indexer-alt/src/handlers/sum_obj_types.rs
  crates/sui-indexer-alt/src/handlers/wal_coin_balances.rs
  crates/sui-indexer-alt/src/handlers/wal_obj_types.rs
  crates/sui-indexer-alt/src/lib.rs
Owners: none

jsonrpc: correctly serialize bcsName field
  crates/sui-json-rpc-types/src/lib.rs
  crates/sui-json-rpc-types/src/sui_event.rs
  crates/sui-open-rpc/spec/openrpc.json
Owners: none

jsonrpc: correctly serialize bcsName field
  crates/sui-json-rpc-types/src/lib.rs
  crates/sui-json-rpc-types/src/sui_event.rs
  crates/sui-open-rpc/spec/openrpc.json
Owners: none

Sui v1.39.3 Version Bump
  Cargo.lock
  Cargo.toml
  crates/sui-open-rpc/spec/openrpc.json
Owners: none

add bench results
  crates/sui-types/Cargo.toml
  crates/sui-types/benches/nitro_attestation_bench.rs
  crates/sui-types/src/nitro_attestation.rs
  crates/sui-types/src/unit_tests/nitro_attestation_tests.rs
Owners: none

feat: add attestation verify in sui-types
  Cargo.lock
  Cargo.toml
  crates/sui-types/Cargo.toml
  crates/sui-types/src/error.rs
  crates/sui-types/src/lib.rs
  crates/sui-types/src/nitro_attestation.rs
  crates/sui-types/src/nitro_root_certificate.pem
  crates/sui-types/src/unit_tests/nitro_attestation_tests.rs
  sui-execution/latest/sui-move-natives/src/crypto/attestation.rs
Owners: none

fix timestamp and tests
  crates/sui-types/src/nitro_attestation.rs
  crates/sui-types/src/unit_tests/nitro_attestation_tests.rs
Owners: none

fixup: clippy
  crates/sui-indexer-alt/src/config.rs
Owners: none

snapshot restore: add option to reuse downloaded files (#20451)
  crates/sui-indexer/src/restorer/formal_snapshot.rs
  crates/sui-mvr-indexer/src/restorer/formal_snapshot.rs
  crates/sui-snapshot/src/reader.rs
  crates/sui-snapshot/src/tests.rs
  crates/sui-tool/src/lib.rs
Owners: none

Turn off randomized tx workload
  crates/sui-benchmark/tests/simtest.rs
Owners: none

Update thdb to 9cad3342cbaa64219fb313c7cf209e4879d5afe6
  Cargo.lock
  Cargo.toml
Owners: none
