Repository MystenLabs/sui, pull requests merged in 2022-05, with the labels that each got.

#1682 Fix #1680
  sui/src/sui_commands.rs
  sui/tests/shared_objects_tests.rs
  sui_core/src/authority.rs
  sui_core/src/authority_server.rs
  sui_core/src/consensus_adapter.rs
  sui_core/src/unit_tests/consensus_tests.rs
Labels: Type: Bug, Priority: Medium, Status: Needs Review, sui-node

#1615 Link to new Narwhal overview from validators description, edit surrounding text
  doc/src/learn/architecture/validators.md
Labels: Type: Documentation

#1619 Add dollar signs to commands in observability.md
  doc/src/contribute/observability.md
Labels: Type: Documentation

#1705 nexlint: introduce project linting
  .cargo/config
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  crates/x/Cargo.toml
  crates/x/src/lint.rs
  crates/x/src/main.rs
  deny.toml
  doc/utils/latex-md.sh
  scripts/changed-files.sh
  scripts/license_check.sh
  sdk/typescript/type_guards.sh
  sui/Cargo.toml
  sui/src/benchmark/transaction_creator.rs
  sui/src/bin/bench.rs
  sui_types/src/lib.rs
Labels: Type: Documentation

#1718 Replace REST API reference with one for RPC in Dev Portal footer
  doc/src/siteconfig.json
Labels: Type: Documentation

#1720 Replace REST API links and references in Sui Prototypes with those to RPC
  doc/src/explore/prototypes.md
Labels: Type: Documentation

#1721 Replace REST API link and reference in Sui FAQ with those to RPC
  doc/src/contribute/faq.md
Labels: Type: Documentation

#1719 Replace REST API links and references on Learn index with those to RPC
  doc/src/learn/index.md
Labels: Type: Documentation

#1722 Explore tx 3
  explorer/client/src/components/search/Search.tsx
  explorer/client/src/components/transaction-card/RecentTxCard.module.css
  explorer/client/src/components/transaction-card/RecentTxCard.tsx
  explorer/client/src/components/transaction-card/TransactionCard.module.css
  explorer/client/src/components/transaction-card/TransactionCard.tsx
  explorer/client/src/pages/transaction-result/TransactionResult.tsx
  sdk/typescript/src/index.guard.ts
  sdk/typescript/src/types/transactions.ts
Labels: sui-explorer

#1730 make object property boxes fit content
  explorer/client/src/pages/object-result/ObjectResult.module.css
Labels: sui-explorer

#1731 Remove duplicate search bar from explorer home
  explorer/client/src/components/transaction-card/RecentTxCard.tsx
Labels: sui-explorer

#1648 [examples] Balance-d all of the examples
  sui_programmability/examples/basics/sources/Sandwich.move
  sui_programmability/examples/defi/sources/FlashLender.move
  sui_programmability/examples/defi/tests/FlashLenderTests.move
  sui_programmability/examples/fungible_tokens/sources/BASKET.move
  sui_programmability/examples/nfts/sources/Auction.move
  sui_programmability/examples/nfts/sources/AuctionLib.move
  sui_programmability/examples/nfts/sources/Marketplace.move
  sui_programmability/examples/nfts/sources/SharedAuction.move
  sui_programmability/framework/sources/Coin.move
  sui_programmability/framework/sources/Governance/Genesis.move
  sui_programmability/framework/sources/Governance/SuiSystem.move
  sui_programmability/framework/sources/Governance/Validator.move
  sui_programmability/framework/sources/Governance/ValidatorSet.move
  sui_programmability/framework/tests/ValidatorSetTests.move
  sui_programmability/framework/tests/ValidatorTests.move
Labels: move

#1670 [node] Follow latest & Safe client integration test
  sui/src/benchmark.rs
  sui_core/src/authority.rs
  sui_core/src/authority/authority_notifier.rs
  sui_core/src/authority_active.rs
  sui_core/src/authority_active/gossip/mod.rs
  sui_core/src/authority_active/gossip/tests.rs
  sui_core/src/authority_aggregator.rs
  sui_core/src/authority_batch.rs
  sui_core/src/authority_client.rs
  sui_core/src/authority_server.rs
  sui_core/src/safe_client.rs
  sui_core/src/unit_tests/authority_aggregator_tests.rs
  sui_core/src/unit_tests/batch_tests.rs
  sui_core/src/unit_tests/gateway_state_tests.rs
  sui_core/src/unit_tests/server_tests.rs
  sui_core/tests/staged/sui.yaml
  sui_types/src/messages.rs
Labels: sui-node

#1735 add home page link for Sui Explorer header
  explorer/client/src/app/App.module.css
  explorer/client/src/app/App.tsx
Labels: sui-explorer

#1744 add left padding to search text
  explorer/client/src/components/search/Search.module.css
Labels: sui-explorer

#1652 [GatewayAPI] - Moving SuiJson to core and use it in the GatewayAPI
  Cargo.lock
  doc/src/build/json-rpc.md
  sui/open_rpc/spec/openrpc.json
  sui/src/lib.rs
  sui/src/rpc_gateway.rs
  sui/src/rpc_gateway/responses.rs
  sui/src/rpc_gateway_client.rs
  sui/src/unit_tests/cli_tests.rs
  sui/src/unit_tests/rpc_server_tests.rs
  sui/src/wallet_commands.rs
  sui_core/Cargo.toml
  sui_core/src/gateway_state.rs
  sui_core/src/lib.rs
  sui_core/src/sui_json.rs
  sui_core/src/unit_tests/sui_json.rs
  sui_programmability/adapter/src/adapter.rs
Labels: Type: Documentation, Status: Needs Review, sui-node

#1751 fix Sui Explorer title spacing
  explorer/client/src/app/App.tsx
Labels: sui-explorer

#1755 Check for missing object result in search
  explorer/client/src/utils/api/searchUtil.ts
  sdk/typescript/src/index.ts
Labels: sui-explorer

#1586 Discord update
  Cargo.lock
  README.md
  doc/src/contribute/faq.md
  doc/src/contribute/index.md
  doc/src/siteconfig.json
Labels: Type: Documentation

#1768 avoid using locked gas objects
  sui/open_rpc/spec/openrpc.json
  sui/src/rpc_gateway.rs
  sui/src/rpc_gateway_client.rs
  sui/src/wallet_commands.rs
  sui_core/src/authority/authority_store.rs
  sui_core/src/gateway_state.rs
Labels: dogfooding

#1771 Unify network settings and add README
  explorer/README.md
  explorer/client/README.md
  explorer/client/package.json
  explorer/client/src/pages/object-result/ObjectLoaded.tsx
  explorer/client/src/pages/object-result/ObjectResultType.tsx
  explorer/client/src/utils/api/DefaultRpcClient.ts
  explorer/client/src/utils/api/SuiRpcClient.ts
  explorer/client/src/utils/api/demoTypes.ts
  explorer/client/src/utils/api/rpcSetting.ts
Labels: sui-explorer

#1764 Ensure gateway gas metering is consistent with authority
  sui_core/src/authority.rs
  sui_core/src/gateway_state.rs
  sui_core/src/transaction_input_checker.rs
  sui_core/src/unit_tests/gateway_state_tests.rs
Labels: dogfooding

#1785 use HTTPS devnet rpc default
  explorer/client/src/utils/api/rpcSetting.ts
Labels: sui-explorer

#1574 [examples] removes const addresses from Hero, allows running multiple games
  sui_programmability/examples/games/hero/Move.toml
  sui_programmability/examples/games/sources/Hero.move
  sui_programmability/examples/games/sources/SeaHero.move
  sui_programmability/examples/games/sources/SeaHeroHelper.move
Labels: move

#1787 Mutated & Created added. Trim search input
  explorer/client/src/components/footer/Footer.tsx
  explorer/client/src/components/search/Search.tsx
  explorer/client/src/components/transaction-card/RecentTxCard.tsx
  explorer/client/src/components/transaction-card/TransactionCard.tsx
  explorer/client/src/pages/transaction-result/TransactionResult.tsx
Labels: sui-explorer

#1778 [explorer] Fix smart contract rendering
  explorer/client/src/components/ownedobjects/OwnedObjects.tsx
  explorer/client/src/pages/object-result/ObjectLoaded.tsx
  explorer/client/src/pages/object-result/ObjectResultType.tsx
  explorer/client/src/utils/objectUtils.ts
  sdk/typescript/src/index.guard.ts
  sdk/typescript/src/types/objects.ts
  sdk/typescript/test/mocks/data/objects.json
  sdk/typescript/test/types/objects.test.ts
Labels: sui-explorer

#1788 remove tx id when there are no transactions
  explorer/client/src/components/transaction-card/RecentTxCard.tsx
Labels: sui-explorer

#1762 [wallet] - rename transfer to transfer-coin
  sui/src/bin/wallet.rs
  sui/src/unit_tests/cli_tests.rs
  sui/src/wallet_commands.rs
  sui_types/src/error.rs
Labels: dogfooding

#1789 Change Package display to link, label and typo fixes
  explorer/client/src/components/transaction-card/RecentTxCard.tsx
  explorer/client/src/components/transaction-card/TransactionCard.tsx
Labels: sui-explorer

#1732 [RPC gateway] - Add test for each of the RPC endpoint
  sui/src/unit_tests/rpc_server_tests.rs
Labels: test

#1734 [bugfix][wallet] - trim [yn] user input
  sui/src/bin/wallet.rs
Labels: Type: Bug, Status: Needs Review

#1791 Update cargo install instructions to use dev.net branch
  doc/src/build/install.md
Labels: Type: Documentation

#1793 added txid to object page
  explorer/client/src/pages/object-result/ObjectLoaded.tsx
  explorer/client/src/pages/object-result/ObjectResult.tsx
  explorer/client/src/pages/object-result/ObjectResultType.tsx
Labels: sui-explorer

#1795 [wallet bugfix] - Wallet interactive mode does not accept whitespaces in arguments
  Cargo.lock
  sui/Cargo.toml
  sui/src/shell.rs
  sui/src/unit_tests/shell_tests.rs
Labels: Type: Bug, dogfooding

#1799 [explorer] Update content
  explorer/client/src/pages/object-result/ObjectLoaded.tsx
  explorer/client/src/pages/object-result/ObjectResultType.tsx
Labels: sui-explorer

#1723 Create Sui DevNet guide under Explore
  doc/src/explore/devnet.md
Labels: Type: Documentation

#1743 Update Wallet doc Transferring objects section as Transferring coins
  doc/src/build/wallet.md
Labels: Type: Documentation

#1802 Update Move Contract Display
  explorer/client/src/pages/object-result/ObjectLoaded.tsx
  explorer/client/src/pages/object-result/ObjectResult.module.css
Labels: sui-explorer

#1805 loading notice on Address page
  explorer/client/src/components/ownedobjects/OwnedObjects.module.css
  explorer/client/src/components/ownedobjects/OwnedObjects.tsx
Labels: sui-explorer

#1811 [docs] Update devnet instructions
  doc/src/explore/devnet.md
Labels: Type: Documentation

#1814 disable fetching owned objects for packages
  explorer/client/src/pages/object-result/ObjectLoaded.tsx
Labels: sui-explorer

#1817 make genesis transaction display friendlier
  explorer/client/src/components/longtext/Longtext.tsx
Labels: sui-explorer

#1780 [node] Log less gossip
  Cargo.lock
  sui_core/Cargo.toml
  sui_core/src/authority_active.rs
  sui_core/src/authority_active/gossip/mod.rs
  sui_core/src/authority_active/gossip/tests.rs
  sui_types/src/committee.rs
Labels: sui-node

#1820 Owned Object Display Improvements
  explorer/client/src/components/ownedobjects/OwnedObjects.module.css
  explorer/client/src/components/ownedobjects/OwnedObjects.tsx
  explorer/client/src/utils/objectUtils.ts
Labels: sui-explorer

#1797 [wallet] - Exit wallet after gateway switch
  sui/src/bin/wallet.rs
Labels: dogfooding

#1816 Edit Sui Explorer README, link to DevNet guide for use
  explorer/client/README.md
Labels: sui-explorer

#1812 Upload images from Sui Explorer for DevNet guide
  doc/static/custom-nft.png
  doc/static/example-nft.png
  doc/static/explorer-home.png
  doc/static/magic-sword.png
  doc/static/owned-objects.png
  doc/static/transaction-details.png
Labels: Type: Documentation

#1810 Update Sui Explorer links to docs and UI on Explore index
  doc/src/explore/index.md
Labels: Type: Documentation

#1809 Edit DevNet section of Wallet docs
  doc/src/build/wallet.md
Labels: Type: Documentation

#1824 Add DevNet guide to left nav of Dev Portal
  doc/src/navconfig.json
Labels: Type: Documentation

#1826 Announce DevNet on Dev Portal landing page
  doc/src/siteconfig.json
Labels: Type: Documentation

#1828 Announce Sui DevNet in Learning See what's new section
  doc/src/learn/index.md
Labels: Type: Documentation

#1831 Replace Gateway link in DevNet guide
  doc/src/explore/devnet.md
Labels: Type: Documentation

#1830 Add partnership form to FAQ, update DevNet refs
  doc/src/contribute/faq.md
Labels: Type: Documentation

#1834 Link to DevNet guide from DevNet section of Wallet doc
  doc/src/build/wallet.md
Labels: Type: Documentation

#1835 Fix named anchor manually change the Gateway URL in DevNet guide
  doc/src/explore/devnet.md
Labels: Type: Documentation

#1833 remove ID from address label
  explorer/client/src/__tests__/e2e.test.ts
  explorer/client/src/pages/address-result/AddressResult.tsx
Labels: sui-explorer

#1836 [explorer] implement batching requests
  explorer/client/src/components/ownedobjects/OwnedObjects.tsx
  sdk/typescript/src/providers/json-rpc-provider.ts
  sdk/typescript/src/rpc/client.guard.ts
  sdk/typescript/src/rpc/client.ts
Labels: sui-explorer

#1843 [docs] fix links: http -> https
  doc/src/build/wallet.md
  doc/src/explore/devnet.md
Labels: Type: Documentation

#1842 created and mutated links should be to objects, fix sdk types
  explorer/client/src/components/transaction-card/TransactionCard.tsx
  sdk/typescript/src/index.guard.ts
  sdk/typescript/src/types/objects.ts
  sdk/typescript/test/mocks/data/objects.json
  sdk/typescript/test/types/objects.test.ts
Labels: sui-explorer

#1841 [explorer] sorts Objects by Type and then ID
  explorer/client/src/__tests__/e2e.test.ts
  explorer/client/src/components/ownedobjects/OwnedObjects.tsx
  explorer/client/src/utils/static/mock_data.json
  explorer/client/src/utils/static/owned_object.json
Labels: sui-explorer

#1838 Add direct link to blog post from DevNet guide
  doc/src/explore/devnet.md
Labels: Type: Documentation

#1850 Batch calls for recent transactions
  explorer/client/src/components/transaction-card/RecentTxCard.tsx
  sdk/typescript/src/providers/json-rpc-provider.ts
Labels: sui-explorer

#1854 prevent tx_signature overflow
  explorer/client/src/components/transaction-card/TransactionCard.module.css
Labels: sui-explorer

#1852 Explore tx 11
  explorer/client/src/components/transaction-card/RecentTxCard.module.css
  explorer/client/src/components/transaction-card/RecentTxCard.tsx
Labels: sui-explorer

#1862 [TypeScript SDK] Update package publishing settings
  explorer/client/package.json
  explorer/client/src/components/ownedobjects/OwnedObjects.tsx
  explorer/client/src/components/transaction-card/RecentTxCard.tsx
  explorer/client/src/components/transaction-card/TransactionCard.tsx
  explorer/client/src/pages/object-result/ObjectResultType.tsx
  explorer/client/src/pages/transaction-result/TransactionResult.tsx
  explorer/client/src/utils/api/DefaultRpcClient.ts
  explorer/client/src/utils/api/searchUtil.ts
  explorer/client/src/utils/objectUtils.ts
  explorer/client/yarn.lock
  sdk/typescript/README.md
  sdk/typescript/package.json
Labels: sui-explorer

#1800 Add 0x prefix to all hex encoded values
  sui/src/rpc_gateway/responses.rs
  sui/src/unit_tests/cli_tests.rs
  sui/src/unit_tests/rpc_server_tests.rs
  sui/src/wallet_commands.rs
  sui_core/src/sui_json.rs
  sui_types/src/base_types.rs
  sui_types/src/messages.rs
  sui_types/src/readable_serde.rs
  sui_types/src/unit_tests/base_types_tests.rs
Labels: dogfooding

#1847 [explorer] Standardizes the Group and NFT Views in Owned Objects
  explorer/client/src/__tests__/e2e.test.ts
  explorer/client/src/components/ownedobjects/OwnedObjects.module.css
  explorer/client/src/components/ownedobjects/OwnedObjects.tsx
  explorer/client/src/utils/stringUtils.ts
Labels: sui-explorer

#1865 [TypeScript SDK] Implement transfer coin
  explorer/client/yarn.lock
  sdk/typescript/README.md
  sdk/typescript/package.json
  sdk/typescript/src/cryptography/publickey.ts
  sdk/typescript/src/index.guard.ts
  sdk/typescript/src/providers/json-rpc-provider.ts
  sdk/typescript/src/providers/provider.ts
  sdk/typescript/src/providers/void-provider.ts
  sdk/typescript/src/rpc/client.guard.ts
  sdk/typescript/src/signers/signer-with-provider.ts
  sdk/typescript/src/signers/txn-data-serializers/rpc-txn-data-serializer.ts
  sdk/typescript/src/signers/txn-data-serializers/txn-data-serializer.ts
  sdk/typescript/src/types/transactions.ts
  sdk/typescript/test/cryptography/publickey.test.ts
  sdk/typescript/yarn.lock
Labels: sui-explorer

#1867 [Docs] - add 0x prefix and change SuiAddress and ObjectID to lowercase
  doc/src/build/json-rpc.md
  doc/src/build/programming-with-objects/ch1-object-basics.md
  doc/src/build/programming-with-objects/ch2-using-objects.md
  doc/src/build/wallet.md
Labels: Type: Documentation

#1848 Object Tutorials Chapter 4
  doc/src/build/programming-with-objects/ch4-object-wrapping.md
  sui_programmability/examples/objects_tutorial/sources/SimpleWarrior.move
  sui_programmability/examples/objects_tutorial/sources/TrustedSwap.move
Labels: Type: Documentation, dogfooding

#1881 Add rustdoc output to Install Sui Source code section
  doc/src/build/install.md
Labels: Type: Documentation

#1819 Create sui-setup.sh startup script for Cargo install through genesis
  doc/utils/sui-setup.sh
Labels: Type: Documentation, dogfooding

#1883 [explorer] Implements 'Static' Mode and Tests for Transaction Results
  explorer/client/package.json
  explorer/client/src/__tests__/e2e.test.ts
  explorer/client/src/components/displaybox/DisplayBox.tsx
  explorer/client/src/components/ownedobjects/OwnedObjects.tsx
  explorer/client/src/components/transaction-card/RecentTxCard.tsx
  explorer/client/src/components/transaction-card/TransactionCard.module.css
  explorer/client/src/pages/object-result/ObjectLoaded.tsx
  explorer/client/src/pages/object-result/ObjectResult.tsx
  explorer/client/src/pages/transaction-result/TransactionResult.module.css
  explorer/client/src/pages/transaction-result/TransactionResult.tsx
  explorer/client/src/pages/transaction-result/TransactionResultType.tsx
  explorer/client/src/pages/transaction-result/TransactionView.tsx
  explorer/client/src/utils/api/searchUtil.ts
  explorer/client/src/utils/envUtil.ts
  explorer/client/src/utils/static/latest_transactions.json
  explorer/client/src/utils/static/mock_data.json
  explorer/client/src/utils/static/searchUtil.ts
  explorer/client/yarn.lock
Labels: sui-explorer

#1653 [Move] Fixed test function calling entry function and updated docs
  doc/src/build/move.md
  sui_programmability/tutorial/sources/M1.move
Labels: Type: Documentation, Triaged, move

#1896 Filter out connection failures
  Cargo.lock
  sui/tests/shared_objects_tests.rs
Labels: Type: Bug, sui-node

#1894 remove Type field from package objects
  explorer/client/src/pages/object-result/ObjectLoaded.tsx
Labels: sui-explorer

#1886 Announce rustdoc output in Learn index See what's new section
  doc/src/learn/index.md
Labels: Type: Documentation

#1910 [dev.net] Initial metrics for validator + rpc-server/gateway (#1455)
  Cargo.lock
  doc/src/contribute/observability.md
  sui/Cargo.toml
  sui/src/bin/rpc-server.rs
  sui/src/bin/validator.rs
  sui_core/Cargo.toml
  sui_core/src/authority.rs
  sui_core/src/authority_aggregator.rs
  sui_core/src/authority_server.rs
  sui_core/src/gateway_state.rs
  sui_core/src/lib.rs
  sui_core/src/transaction_input_checker.rs
  sui_core/src/unit_tests/authority_tests.rs
  sui_types/src/messages.rs
Labels: Type: Documentation

#1908 Fix link in GitHub by adding Markdown extension to target file
  doc/src/explore/tutorials.md
Labels: Type: Documentation

#1914 Fix link in Glossary for GitHub users by adding Markdown extension
  doc/src/learn/sui-glossary.md
Labels: Type: Documentation

#1915 Fix whitepaper link for GitHub users on Learn index by making absolute
  doc/src/learn/index.md
Labels: Type: Documentation

#1912 Fix links in Validators broken by file move
  doc/src/learn/architecture/validators.md
Labels: Type: Documentation

#1905 Update ch1-object-basics.md to make code paths absolute
  doc/src/build/programming-with-objects/ch1-object-basics.md
Labels: Type: Documentation

#1903 Update ch4-object-wrapping.md to make code paths absolute
  doc/src/build/programming-with-objects/ch4-object-wrapping.md
Labels: Type: Documentation

#1904 Update ch2-using-objects.md to make code paths absolute
  doc/src/build/programming-with-objects/ch2-using-objects.md
Labels: Type: Documentation

#1925 fixed seq and digest out of sync
  explorer/client/src/components/transaction-card/RecentTxCard.tsx
Labels: sui-explorer

#1913 Total transaction count on explorer home
  explorer/client/src/components/transaction-card/RecentTxCard.module.css
  explorer/client/src/components/transaction-count/TxCountCard.module.css
  explorer/client/src/components/transaction-count/TxCountCard.tsx
  explorer/client/src/pages/home/Home.tsx
Labels: sui-explorer

#1923 Transfer becomes TransferCoin in typescript type check
  .github/workflows/explorer-client-prs.yml
  explorer/client/src/pages/transaction-result/TransactionResult.tsx
  explorer/client/src/pages/transaction-result/TransactionView.tsx
  explorer/client/src/utils/static/mock_data.json
  sdk/typescript/src/index.guard.ts
  sdk/typescript/src/types/transactions.ts
Labels: sui-explorer

#1928 Move See what's new section to top of Dev Portal landing page
  doc/src/siteconfig.json
Labels: Type: Documentation

#1938 update handleCoinType to be safari compatible
  explorer/client/src/utils/stringUtils.ts
Labels: sui-explorer

#1931 Announce Sui 0.2.0 release in Learn See what's new section
  doc/src/learn/index.md
Labels: Type: Documentation

#1937 Clarify consensus error message
  sui_core/src/consensus_adapter.rs
  sui_core/tests/staged/sui.yaml
  sui_types/src/error.rs
Labels: Type: Enhancement, Priority: Medium, Status: Needs Review, sui-node

#1954 Remove unused handler
  sui_core/src/consensus_handler.rs
Labels: Priority: Low, Status: Needs Review, sui-node

#1959 [explorer] Adds Search Filter
  explorer/client/\
  explorer/client/src/components/ownedobjects/OwnedObjects.module.css
  explorer/client/src/components/ownedobjects/OwnedObjects.tsx
  explorer/client/src/components/search/Search.module.css
  explorer/client/src/components/search/Search.tsx
  explorer/client/src/pages/object-result/ObjectResult.tsx
  explorer/client/src/pages/transaction-result/TransactionResult.tsx
Labels: sui-explorer

#1960 restore explorer search padding
  explorer/client/src/components/search/Search.module.css
  explorer/client/src/components/search/Search.tsx
Labels: sui-explorer

#1939 config: rework validator configs
  Cargo.lock
  Cargo.toml
  crates/sui-config/Cargo.toml
  crates/sui-config/src/lib.rs
  crates/sui-config/src/utils.rs
  faucet/Cargo.toml
  faucet/src/lib.rs
  faucet/src/test_utils.rs
  sui/Cargo.toml
  sui/src/benchmark/bench_types.rs
  sui/src/benchmark/load_generator.rs
  sui/src/benchmark/transaction_creator.rs
  sui/src/benchmark/validator_preparer.rs
  sui/src/bin/bench_configure.rs
  sui/src/bin/remote_load_generator.rs
  sui/src/bin/validator.rs
  sui/src/config/gateway.rs
  sui/src/config/mod.rs
  sui/src/sui_commands.rs
  sui/src/unit_tests/cli_tests.rs
  sui/src/unit_tests/rest_server_tests.rs
  sui/src/unit_tests/rpc_server_tests.rs
  sui/tests/shared_objects_tests.rs
  sui_core/src/authority_server.rs
  sui_types/src/base_types.rs
  test_utils/Cargo.toml
  test_utils/src/authority.rs
  test_utils/src/lib.rs
  test_utils/src/network.rs
Labels: Priority: Medium, Status: Needs Review

#1947 Do not re-sequence replayed transactions
  sui/tests/shared_objects_tests.rs
  sui_core/src/authority.rs
  sui_core/src/authority_server.rs
  sui_core/tests/staged/sui.yaml
  sui_types/src/error.rs
Labels: Type: Enhancement, Priority: Low, Status: Needs Review, sui-node

#1970 Update #devnet-faucet channel name
  doc/src/explore/devnet.md
Labels: Type: Documentation

#1989 Highlight `--json` flag in Important note for greater visibility
  doc/src/build/wallet.md
Labels: Type: Documentation

#1971 Generate JSON response sample
  explorer/client/src/__tests__/e2e.test.ts
  explorer/client/src/components/ownedobjects/OwnedObjects.tsx
  explorer/client/src/components/transaction-card/RecentTxCard.tsx
  explorer/client/src/pages/object-result/ObjectLoaded.tsx
  explorer/client/src/pages/object-result/ObjectResultType.tsx
  explorer/client/src/pages/transaction-result/TransactionResult.tsx
  explorer/client/src/pages/transaction-result/TransactionResultType.tsx
  explorer/client/src/pages/transaction-result/TransactionView.tsx
  explorer/client/src/utils/api/searchUtil.ts
  explorer/client/src/utils/objectUtils.ts
  sdk/typescript/src/index.guard.ts
  sdk/typescript/src/providers/json-rpc-provider.ts
  sdk/typescript/src/providers/provider.ts
  sdk/typescript/src/providers/void-provider.ts
  sdk/typescript/src/signers/signer-with-provider.ts
  sdk/typescript/src/signers/txn-data-serializers/rpc-txn-data-serializer.ts
  sdk/typescript/src/types/common.ts
  sdk/typescript/src/types/framework.ts
  sdk/typescript/src/types/framework/transformer.ts
  sdk/typescript/src/types/index.ts
  sdk/typescript/src/types/objects.ts
  sdk/typescript/src/types/transactions.ts
  sdk/typescript/test/mocks/data/objects.json
  sdk/typescript/test/mocks/data/transactions.json
  sdk/typescript/test/types/objects.test.ts
  sdk/typescript/test/types/transactions.test.ts
  sdk/typescript/test/types/transformer.test.ts
  sui/open_rpc/samples/objects.json
  sui/open_rpc/samples/transactions.json
  sui/src/generate_json_rpc_spec.rs
  sui/src/wallet_commands.rs
Labels: sui-explorer

#1924 [crypto] remove small warts
  crates/sui-types/src/crypto.rs
Labels: crypto

#1999 [TypeScript SDK] Fix balance field
  explorer/client/src/components/ownedobjects/OwnedObjects.tsx
  sdk/typescript/src/types/framework.ts
  sdk/typescript/test/types/framework.test.ts
Labels: sui-explorer

#2011 Fix link to `sui-types` subdirectory in Install Sui
  doc/src/build/install.md
Labels: Type: Documentation

#2032 update devnet gateway rpc port
  explorer/client/src/utils/api/rpcSetting.ts
Labels: sui-explorer

#1981 Document setup script as tip in Install Sui, note cmake as prereq
  doc/src/build/install.md
Labels: Type: Documentation

#2054 Announce new sui-setup.sh script in Learn index See what's new section
  doc/src/learn/index.md
Labels: Type: Documentation

#2059 Multi-process shared-objects execution
  crates/sui-config/src/lib.rs
  crates/sui-types/src/error.rs
  sui/tests/shared_objects_tests.rs
  sui_core/src/authority.rs
  sui_core/src/authority_aggregator.rs
  sui_core/src/authority_server.rs
  sui_core/src/consensus_adapter.rs
  sui_core/src/unit_tests/consensus_tests.rs
  sui_core/tests/staged/sui.yaml
  test_utils/src/authority.rs
  test_utils/src/objects.rs
Labels: Type: Enhancement, Priority: Medium, Status: Needs Review, sui-node, test

#2028 [explorer + ts-sdk] Search input string type checks
  explorer/client/src/components/search/Search.tsx
  explorer/client/src/pages/config/AppRoutes.tsx
  explorer/client/src/pages/missing-resource/MissingResource.tsx
  explorer/client/src/pages/searcherror/SearchError.tsx
  explorer/client/src/utils/api/searchUtil.ts
  explorer/client/src/utils/searchUtil.ts
  explorer/client/src/utils/static/searchUtil.ts
  sdk/typescript/src/types/common.ts
  sdk/typescript/test/types/stringTypes.test.ts
Labels: sui-explorer

#2077 Update devnet gateway url port in devnet.md
  doc/src/explore/devnet.md
Labels: Type: Documentation

#2076 Update devnet gateway url port in wallet.md
  doc/src/build/wallet.md
Labels: Type: Documentation

#1994 Review validator.md
  doc/src/learn/architecture/validators.md
Labels: Type: Documentation, sui-node

#2106 Use existing authority follower system (including local execution) for full node.
  crates/sui-types/src/base_types.rs
  crates/sui-types/src/error.rs
  sui/src/benchmark/validator_preparer.rs
  sui/src/sui_full_node.rs
  sui/tests/full_node_tests.rs
  sui_core/src/authority.rs
  sui_core/src/authority/authority_store.rs
  sui_core/src/authority_active/gossip/mod.rs
  sui_core/src/authority_aggregator.rs
  sui_core/src/authority_client.rs
  sui_core/src/checkpoints/tests/checkpoint_tests.rs
  sui_core/src/full_node.rs
  sui_core/src/full_node/follower.rs
  sui_core/src/full_node/full_node_state.rs
  sui_core/src/lib.rs
  sui_core/src/make.rs
  sui_core/src/unit_tests/authority_tests.rs
  sui_core/src/unit_tests/batch_tests.rs
  sui_core/tests/staged/sui.yaml
  sui_storage/src/indexes.rs
  test_utils/src/authority.rs
Labels: sui-node, fullnode-support

#2099 [tests] Reduce the re-generation of genesis in tests
  sui_core/src/authority_client.rs
  sui_core/src/checkpoints/tests/checkpoint_tests.rs
  sui_core/src/unit_tests/authority_aggregator_tests.rs
  test_utils/src/authority.rs
Labels: sui-node

#2101 Create initial Learning Sui Tokenomics overview
  doc/src/learn/tokenomics/index.md
Labels: Type: Documentation, Priority: High

#2138 adding tokenomics flowchart
  doc/static/sui-tokenomics-flow.png
Labels: Type: Documentation

#2137 Update index.md
  doc/src/learn/tokenomics/index.md
Labels: Type: Documentation

#2147 [doc] update move repo links and fix a few typos
  doc/src/build/move.md
  doc/src/build/objects.md
  doc/src/build/programming-with-objects/ch1-object-basics.md
  doc/src/build/programming-with-objects/ch2-using-objects.md
  doc/src/learn/how-sui-works.md
  doc/src/learn/index.md
  doc/src/learn/sui-move-diffs.md
  sui_programmability/examples/defi/README.md
Labels: Type: Documentation

#2132 Update wallet.md
  doc/src/build/wallet.md
Labels: Type: Documentation

#2145 Create proof-of-stake.md
  doc/src/learn/tokenomics/proof-of-stake.md
Labels: Type: Documentation

#2146 Split sub-pages from Tokenomics index
  doc/src/learn/tokenomics/index.md
Labels: Type: Documentation

#2144 Create storage-fund.md
  doc/src/learn/tokenomics/storage-fund.md
Labels: Type: Documentation

#2159 Create sui-token.md
  doc/src/learn/tokenomics/sui-token.md
Labels: Type: Documentation

#2155 Add Sui Tokenomics to Dev Portal left navigation
  doc/src/navconfig.json
Labels: Type: Documentation

#2162 Announce Sui tokenomics in Learn See what's new section
  doc/src/learn/index.md
Labels: Type: Documentation

#2160 Update gas-pricing.md
  doc/src/learn/tokenomics/gas-pricing.md
Labels: Type: Documentation

#2158 Move Sui token to distinct page, list in next steps
  doc/src/learn/tokenomics/index.md
Labels: Type: Documentation

#2166 Fix link to ID.move in sui-move-diffs.md
  doc/src/learn/sui-move-diffs.md
Labels: Type: Documentation

#2170 Update wallet.md with updated path to DevNetNFT.move
  doc/src/build/wallet.md
Labels: Type: Documentation

#2171 Update ch1-object-basics.md with updated path to ID.move
  doc/src/build/programming-with-objects/ch1-object-basics.md
Labels: Type: Documentation

#2172 Update ch2-using-objects.md with updated path to ID.move
  doc/src/build/programming-with-objects/ch2-using-objects.md
Labels: Type: Documentation

#2169 Fix links in move.md broken by Crates move
  doc/src/build/move.md
Labels: Type: Documentation

#2174 Update ch3-immutable-objects.md with updated path to Transfer.move
  doc/src/build/programming-with-objects/ch3-immutable-objects.md
Labels: Type: Documentation

#2175 Update install.md with paths to moved crates
  doc/src/build/install.md
Labels: Type: Documentation

#2176 Fix Transfer.move link in move.md
  doc/src/build/move.md
Labels: Type: Documentation

#2164 Update sui-token.md
  doc/src/learn/tokenomics/sui-token.md
Labels: Type: Documentation

#2163 Update index.md
  doc/src/learn/tokenomics/index.md
Labels: Type: Documentation

#2165 Update gas-pricing.md
  doc/src/learn/tokenomics/gas-pricing.md
Labels: Type: Documentation

#2167 Update storage-fund.md
  doc/src/learn/tokenomics/storage-fund.md
Labels: Type: Documentation

#2098 [doc] fixes in validator doc from discord comments
  doc/src/learn/architecture/validators.md
Labels: Type: Documentation

#2180 Update move.md with new path to ObjectOwner.move
  doc/src/build/move.md
Labels: Type: Documentation

#2182 Update ch1-object-basics.md with paths to moved files
  doc/src/build/programming-with-objects/ch1-object-basics.md
Labels: Type: Documentation

#2183 Remove link to Tokenomics white paper to get Dev Portal built
  doc/src/learn/tokenomics/index.md
Labels: Type: Documentation

#2181 Announce Tokenomics on Dev Portal landing page
  doc/src/siteconfig.json
Labels: Type: Documentation

#1986 [explorer] Enables Switching Across Networks
  explorer/client/README.md
  explorer/client/\
  explorer/client/src/__tests__/e2e.test.ts
  explorer/client/src/app/App.module.css
  explorer/client/src/app/App.tsx
  explorer/client/src/components/longtext/Longtext.tsx
  explorer/client/src/components/network/Network.module.css
  explorer/client/src/components/network/Network.tsx
  explorer/client/src/components/ownedobjects/OwnedObjects.tsx
  explorer/client/src/components/search/Search.module.css
  explorer/client/src/components/search/Search.tsx
  explorer/client/src/components/transaction-card/RecentTxCard.tsx
  explorer/client/src/components/transaction-count/TxCountCard.tsx
  explorer/client/src/context.ts
  explorer/client/src/index.css
  explorer/client/src/pages/object-result/ObjectResult.tsx
  explorer/client/src/pages/transaction-result/TransactionResult.tsx
  explorer/client/src/utils/api/DefaultRpcClient.ts
  explorer/client/src/utils/api/rpcSetting.ts
  explorer/client/src/utils/api/searchUtil.ts
  explorer/client/src/utils/envUtil.ts
  explorer/client/src/utils/static/searchUtil.ts
Labels: sui-explorer

#2168 Update proof-of-stake.md
  doc/src/learn/tokenomics/proof-of-stake.md
Labels: Type: Documentation

#2200 Update gas-pricing.md
  doc/src/learn/tokenomics/gas-pricing.md
Labels: Type: Documentation

#2199 Update storage-fund.md
  doc/src/learn/tokenomics/storage-fund.md
Labels: Type: Documentation

#2086 Added GA4 to explorer and cookie consent
  explorer/client/package.json
  explorer/client/src/components/cookies-consent/CookiesConsent.tsx
  explorer/client/src/components/cookies-consent/analytics.ts
  explorer/client/src/components/footer/Footer.tsx
  explorer/client/src/index.css
Labels: sui-explorer

#2197 add tokenomics link.md
  doc/src/learn/tokenomics/index.md
Labels: Type: Documentation
