Repository MystenLabs/sui, pull requests merged in 2022-11, with the labels that each got.

#5694 Update json-rpc.md
  doc/src/build/json-rpc.md
Labels: Type: Documentation

#5703 Support bls_min_pk verify in Move
  crates/sui-config/tests/snapshots/snapshot_tests__empty_genesis_snapshot_matches.snap
  crates/sui-cost/tests/snapshots/empirical_transaction_cost__good_snapshot-2.snap
  crates/sui-cost/tests/snapshots/empirical_transaction_cost__good_snapshot.snap
  crates/sui-framework/docs/bls12381.md
  crates/sui-framework/docs/validator.md
  crates/sui-framework/sources/crypto/bls12381.move
  crates/sui-framework/sources/governance/validator.move
  crates/sui-framework/src/natives/crypto.rs
  crates/sui-framework/src/natives/mod.rs
  crates/sui-framework/tests/crypto_tests.move
Labels: breaking change

#5530 chore: Remove duplicate keytool sign in README
  doc/src/build/json-rpc.md
Labels: Type: Documentation

#5662 Add ctx argument to sui::table::new example
  doc/src/build/programming-with-objects/ch6-collections.md
Labels: Type: Documentation

#5751 Remove embedded gateway connection mode
  crates/sui-benchmark/src/lib.rs
  crates/sui-cluster-test/src/cluster.rs
  crates/sui-cluster-test/src/config.rs
  crates/sui-cluster-test/src/wallet_client.rs
  crates/sui-config/src/genesis_config.rs
  crates/sui-faucet/src/faucet/simple_faucet.rs
  crates/sui-gateway/src/unit_tests/rpc_server_tests.rs
  crates/sui-rosetta/src/unit_tests/balance_changing_tx_tests.rs
  crates/sui-sdk/examples/event_subscription.rs
  crates/sui-sdk/examples/get_owned_objects.rs
  crates/sui-sdk/examples/tic_tac_toe.rs
  crates/sui-sdk/examples/transfer_coins.rs
  crates/sui-sdk/src/embedded_gateway.rs
  crates/sui-sdk/src/lib.rs
  crates/sui-swarm/src/memory/swarm.rs
  crates/sui-test-validator/src/main.rs
  crates/sui/src/client_commands.rs
  crates/sui/src/config/mod.rs
  crates/sui/src/console.rs
  crates/sui/src/sui_commands.rs
  crates/sui/src/unit_tests/cli_tests.rs
  crates/sui/tests/shared_objects_tests.rs
  crates/test-utils/src/network.rs
  doc/src/build/install.md
Labels: Type: Documentation

#5529 Event pagination doc
  doc/src/build/comms.md
  doc/src/build/event_api.md
  doc/src/build/fullnode.md
  doc/src/build/pubsub.md
  doc/src/build/rust-sdk.md
  doc/src/navconfig.json
Labels: Type: Documentation

#5843 Update debug-publish.md
  doc/src/build/move/debug-publish.md
  doc/src/build/move/sui-move-library.md
Labels: Type: Documentation

#5933 Fixed Typo
  doc/src/learn/about-sui.md
Labels: Type: Documentation

#5915 [core] Refactor Transaction to use MessageEnvelope
  crates/sui-cluster-test/src/lib.rs
  crates/sui-core/src/authority.rs
  crates/sui-core/src/authority/authority_store.rs
  crates/sui-core/src/authority/authority_store_tables.rs
  crates/sui-core/src/authority_aggregator.rs
  crates/sui-core/src/authority_server.rs
  crates/sui-core/src/checkpoints/tests/checkpoint_tests.rs
  crates/sui-core/src/epoch/reconfiguration.rs
  crates/sui-core/src/epoch/tests/reconfiguration_tests.rs
  crates/sui-core/src/gateway_state.rs
  crates/sui-core/src/quorum_driver/mod.rs
  crates/sui-core/src/safe_client.rs
  crates/sui-core/src/test_utils.rs
  crates/sui-core/src/transaction_input_checker.rs
  crates/sui-core/src/unit_tests/authority_aggregator_tests.rs
  crates/sui-core/src/unit_tests/authority_tests.rs
  crates/sui-core/src/unit_tests/consensus_tests.rs
  crates/sui-core/src/unit_tests/gas_tests.rs
  crates/sui-core/src/unit_tests/gateway_state_tests.rs
  crates/sui-core/src/unit_tests/pay_sui_tests.rs
  crates/sui-cost/src/estimator.rs
  crates/sui-cost/tests/empirical_transaction_cost.rs
  crates/sui-faucet/src/faucet/simple_faucet.rs
  crates/sui-json-rpc-types/src/lib.rs
  crates/sui-json-rpc/src/gateway_api.rs
  crates/sui-json-rpc/src/transaction_execution_api.rs
  crates/sui-open-rpc/src/examples.rs
  crates/sui-rosetta/src/block.rs
  crates/sui-rosetta/src/construction.rs
  crates/sui-rosetta/src/state.rs
  crates/sui-rosetta/src/unit_tests/balance_changing_tx_tests.rs
  crates/sui-sdk/examples/tic_tac_toe.rs
  crates/sui-sdk/examples/transfer_coins.rs
  crates/sui-transactional-test-runner/src/test_adapter.rs
  crates/sui-types/src/message_envelope.rs
  crates/sui-types/src/messages.rs
  crates/sui-types/src/messages_checkpoint.rs
  crates/sui-types/src/unit_tests/intent_tests.rs
  crates/sui-types/src/unit_tests/messages_tests.rs
  crates/sui/src/client_commands.rs
  crates/test-utils/src/messages.rs
  crates/test-utils/src/transaction.rs
  doc/src/build/rust-sdk.md
Labels: Type: Documentation

#5873 [move] Shared objects must be newly created
  crates/sui-adapter-transactional-tests/tests/child_count/non_zero_child_count_valid.exp
  crates/sui-adapter-transactional-tests/tests/child_count/non_zero_child_count_valid.move
  crates/sui-adapter-transactional-tests/tests/shared/upgrade.exp
  crates/sui-adapter-transactional-tests/tests/shared/upgrade.move
  crates/sui-adapter/src/adapter.rs
  crates/sui-config/tests/snapshots/snapshot_tests__empty_genesis_snapshot_matches.snap
  crates/sui-cost/tests/snapshots/empirical_transaction_cost__good_snapshot-2.snap
  crates/sui-cost/tests/snapshots/empirical_transaction_cost__good_snapshot.snap
  crates/sui-framework/docs/transfer.md
  crates/sui-framework/sources/transfer.move
  crates/sui-framework/src/natives/object_runtime/mod.rs
  crates/sui-framework/src/natives/transfer.rs
  crates/sui-framework/tests/test_scenario_tests.move
  crates/sui/tests/shared_objects_version_tests.rs
Labels: breaking change

#6033 Update fullnode.md min sys requirements
  doc/src/build/fullnode.md
Labels: Type: Documentation

#6030 Update devnet.md
  doc/src/build/devnet.md
Labels: Type: Documentation

#6046 [docs/sdk/rust] Update refs to SuiClient::new
  doc/src/build/rust-sdk.md
Labels: Type: Documentation

#6059 [docs] Update contribute page
  doc/src/contribute/index.md
Labels: Type: Documentation

#6042 Update Sui doc `devnet.md` and `cli-client.md`
  doc/src/build/cli-client.md
  doc/src/build/devnet.md
Labels: Type: Documentation

#6073 [faucet] Replace timeout with load-shedding
  crates/sui-faucet/src/main.rs
Labels: faucet

#6099 Update event_api.md
  doc/src/build/event_api.md
Labels: Type: Documentation

#5992 Add new id field to event docs
  doc/src/build/event_api.md
Labels: Type: Documentation

#6052 [explorer] Update all explorer URL references
  apps/explorer/README.md
  apps/wallet/configs/environment/.env.defaults
  apps/wallet/src/ui/app/components/explorer-link/Explorer.ts
  apps/wallet/src/ui/app/components/explorer-link/index.tsx
  doc/src/build/devnet.md
  doc/src/build/fullnode.md
  doc/src/build/rust-sdk.md
  doc/src/explore/panzerdogs.md
  doc/src/explore/sui-explorer.md
  doc/src/explore/wallet-browser.md
  docker/fullnode/README.md
Labels: Type: Documentation

#5764 Randall docs misc copyedits
  doc/src/contribute/code-of-conduct.md
  doc/src/contribute/index.md
  doc/src/contribute/observability.md
  doc/src/doc-updates/index.md
  doc/src/explore/wallet-browser.md
  doc/src/learn/sui-doc-updates.md
  doc/src/learn/transactions.md
  doc/src/reference/framework/index.md
Labels: Type: Documentation

#6122 [docs] Document examples of web apps
  doc/src/explore/index.md
Labels: Type: Documentation

#6132 remove move gas
  Cargo.lock
  Cargo.toml
  DEVX_ROADMAP.md
  README.md
  crates/sui-cost-tables/src/bytecode_tables.rs
  crates/workspace-hack/Cargo.toml
  doc/src/build/install.md
  doc/src/build/move/build-test.md
  doc/src/build/move/index.md
  doc/src/build/programming-with-objects/ch1-object-basics.md
  doc/src/build/programming-with-objects/ch2-using-objects.md
  doc/src/learn/how-sui-works.md
  doc/src/learn/objects.md
  doc/src/learn/sui-move-diffs.md
  doc/src/learn/why-move.md
  sdk/typescript/src/types/common.ts
  sui_programmability/examples/defi/sources/pool.move
Labels: Type: Documentation

#6135 crypto: Expose ed25519_verify as public
  crates/sui-config/tests/snapshots/snapshot_tests__empty_genesis_snapshot_matches.snap
  crates/sui-framework/docs/ed25519.md
  crates/sui-framework/sources/crypto/ed25519.move
Labels: breaking change

#6192 [README] JsonRpcProvider faucetURL needs /gas
  sdk/typescript/README.md
Labels: ts-sdk, sui-devx-oncall

#6039 [Authority] Track size of compiled module cache
  crates/sui-core/src/authority.rs
  crates/sui-core/src/lib.rs
  crates/sui-core/src/module_cache_gauge.rs
Labels: move, observability

#6198 documentation: fix event api readme
  doc/src/build/event_api.md
Labels: Type: Documentation

#6247 [Doc] - Fix eventID in event query example doc
  crates/sui-open-rpc/spec/openrpc.json
  crates/sui-open-rpc/src/examples.rs
  crates/sui-types/src/query.rs
  doc/src/build/event_api.md
Labels: Type: Documentation

#5931 [sui types] use enum instead of string for object type
  crates/sui-core/src/gateway_state.rs
  crates/sui-json-rpc-types/src/lib.rs
  crates/sui-open-rpc/spec/openrpc.json
  crates/sui-open-rpc/src/examples.rs
  crates/sui-rosetta/src/account.rs
  crates/sui-rosetta/src/construction.rs
  crates/sui-types/src/base_types.rs
Labels: breaking change

#6286 [move][adapter] Improve type argument errors
  crates/sui-adapter-transactional-tests/tests/entry_points/ascii.exp
  crates/sui-adapter-transactional-tests/tests/entry_points/missing_module.exp
  crates/sui-adapter-transactional-tests/tests/entry_points/missing_type.exp
  crates/sui-adapter-transactional-tests/tests/entry_points/missing_type.move
  crates/sui-adapter-transactional-tests/tests/entry_points/obj_vector.exp
  crates/sui-adapter-transactional-tests/tests/entry_points/obj_vector_generic.exp
  crates/sui-adapter-transactional-tests/tests/shared/by_value_shared_object.exp
  crates/sui-adapter-transactional-tests/tests/shared/example.exp
  crates/sui-adapter-transactional-tests/tests/sui/freeze.exp
  crates/sui-adapter-transactional-tests/tests/sui/move_call_args_type_mismatch.exp
  crates/sui-adapter/src/adapter.rs
  crates/sui-core/src/generate_format.rs
  crates/sui-core/tests/staged/sui.yaml
  crates/sui-types/src/messages.rs
Labels: breaking change

#6208 Updates to install topic
  doc/src/build/install.md
  doc/src/learn/index.md
Labels: Type: Documentation

#6104 [examples] Improves marketplace example with ofields
  sui_programmability/examples/nfts/sources/marketplace.move
Labels: move

#5971 Update transactions.md
  doc/src/learn/transactions.md
Labels: Type: Documentation

#6397 [cli] omit argument names for single-argument commands
  crates/sui/src/client_commands.rs
  doc/src/build/cli-client.md
  doc/src/build/programming-with-objects/ch1-object-basics.md
  doc/src/build/programming-with-objects/ch2-using-objects.md
  doc/src/build/programming-with-objects/ch3-immutable-objects.md
  doc/src/explore/tutorials.md
Labels: Type: Documentation

#6048 [docs/objects] Update "Use Sui Move Library"
  doc/src/build/move/sui-move-library.md
Labels: Type: Documentation

#6385 [data model] enforce max package size
  crates/sui-adapter/src/adapter.rs
  crates/sui-adapter/src/genesis.rs
  crates/sui-core/src/unit_tests/authority_aggregator_tests.rs
  crates/sui-core/src/unit_tests/authority_tests.rs
  crates/sui-core/tests/staged/sui.yaml
  crates/sui-json-rpc-types/src/lib.rs
  crates/sui-json/src/tests.rs
  crates/sui-transaction-builder/src/lib.rs
  crates/sui-types/src/messages.rs
  crates/sui-types/src/move_package.rs
  crates/sui-types/src/object.rs
  crates/sui-types/src/unit_tests/base_types_tests.rs
Labels: breaking change

#6334 [chore] Bump move version
  Cargo.lock
  Cargo.toml
  crates/sui-adapter/src/adapter.rs
  crates/sui-config/tests/snapshots/snapshot_tests__empty_genesis_snapshot_matches.snap
  crates/sui-core/src/gateway_state.rs
  crates/sui-cost/tests/snapshots/empirical_transaction_cost__good_snapshot-2.snap
  crates/sui-cost/tests/snapshots/empirical_transaction_cost__good_snapshot.snap
  crates/sui-framework/docs/bulletproofs.md
  crates/sui-framework/docs/dynamic_object_field.md
  crates/sui-framework/docs/ecdsa.md
  crates/sui-framework/docs/groth16.md
  crates/sui-framework/sources/bcs.move
  crates/sui-framework/sources/crypto/bulletproofs.move
  crates/sui-framework/sources/crypto/ecdsa.move
  crates/sui-framework/sources/crypto/groth16.move
  crates/sui-framework/sources/dynamic_object_field.move
  crates/sui-framework/src/natives/dynamic_field.rs
  crates/sui-framework/src/natives/event.rs
  crates/sui-framework/src/natives/transfer.rs
  crates/sui-framework/tests/bag_tests.move
  crates/sui-framework/tests/coin_balance_tests.move
  crates/sui-framework/tests/crypto_tests.move
  crates/sui-framework/tests/digest_tests.move
  crates/sui-framework/tests/dynamic_field_tests.move
  crates/sui-framework/tests/dynamic_object_field_tests.move
  crates/sui-framework/tests/object_bag_tests.move
  crates/sui-framework/tests/object_table_tests.move
  crates/sui-framework/tests/object_tests.move
  crates/sui-framework/tests/safe_tests.move
  crates/sui-framework/tests/sui_system_tests.move
  crates/sui-framework/tests/table_tests.move
  crates/sui-framework/tests/test_scenario_tests.move
  crates/sui-framework/tests/vec_map_tests.move
  crates/sui-framework/tests/vec_set_tests.move
  crates/sui-json/src/lib.rs
  crates/sui-types/src/balance.rs
  crates/sui-types/src/coin.rs
  crates/sui-types/src/gas_coin.rs
  crates/sui-types/src/object.rs
  crates/workspace-hack/Cargo.toml
  sui_programmability/examples/defi/tests/escrow_tests.move
  sui_programmability/examples/defi/tests/shared_escrow_test.move
  sui_programmability/examples/fungible_tokens/sources/regulated_coin.move
  sui_programmability/examples/fungible_tokens/sources/treasury_lock.move
  sui_programmability/examples/games/tests/drand_based_lottery_tests.move
  sui_programmability/examples/nfts/tests/cross_chain_airdrop_tests.move
Labels: breaking change

#6475 crypto: Serialize sig on client side
  .changeset/afraid-plums-itch.md
  sdk/typescript/src/providers/json-rpc-provider-with-cache.ts
  sdk/typescript/src/providers/json-rpc-provider.ts
  sdk/typescript/src/providers/provider.ts
  sdk/typescript/src/providers/void-provider.ts
  sdk/typescript/src/signers/signer-with-provider.ts
Labels: breaking change
