Repository MystenLabs/sui, pull requests merged in 2022-03, with the labels that each got.

#1003 Update index.md
  doc/src/explore/index.md
Labels: documentation

#1006 [doc] add SECURITY.md
  SECURITY.md
Labels: documentation

#1030 Update index.md
  doc/src/explore/index.md
Labels: documentation

#1029 Update observability.md
  doc/src/contribute/observability.md
Labels: documentation

#1024 Update objects.md
  doc/src/build/objects.md
Labels: documentation

#1023 Update rest-api.md
  doc/src/build/rest-api.md
Labels: documentation

#1031 Update prototypes.md
  doc/src/explore/prototypes.md
Labels: documentation

#1025 [shared-object] Synchroniser for consensus client
  sui_core/src/authority/authority_store.rs
  sui_core/src/consensus_client.rs
  sui_core/src/unit_tests/consensus_tests.rs
  sui_core/tests/staged/sui.yaml
  sui_types/src/error.rs
  sui_types/src/messages.rs
  sui_types/src/serialize.rs
  test_utils/src/sequencer.rs
Labels: Design Task

#1044 Better network for the consensus client
  sui_core/src/consensus_client.rs
Labels: enhancement

#1052 [docs] fix broken links on learn/sui-compared
  doc/src/learn/sui-compared.md
Labels: documentation

#1049 Make the sequencer more solid
  sui_core/Cargo.toml
  sui_core/src/consensus_client.rs
  sui_core/src/unit_tests/consensus_tests.rs
  sui_core/tests/staged/sui.yaml
  sui_types/src/messages.rs
  test_utils/Cargo.toml
  test_utils/src/sequencer.rs
Labels: enhancement

#1063 Update index.md
  doc/src/learn/index.md
Labels: documentation

#1064 Update sui-compared.md
  doc/src/learn/sui-compared.md
Labels: documentation

#1062 [move] Change GAS to SUI in the framework
  .github/workflows/rust.yml
  sui/src/rest_server.rs
  sui/src/unit_tests/cli_tests.rs
  sui_programmability/examples/basics/sources/Sandwich.move
  sui_programmability/examples/defi/tests/FlashLenderTests.move
  sui_programmability/examples/nfts/sources/Auction.move
  sui_programmability/examples/nfts/sources/AuctionLib.move
  sui_programmability/examples/nfts/sources/Marketplace.move
  sui_programmability/examples/nfts/sources/SharedAuction.move
  sui_programmability/examples/nfts/tests/AuctionTests.move
  sui_programmability/examples/nfts/tests/SharedAuctionTests.move
  sui_programmability/framework/sources/SUI.move
  sui_types/src/gas_coin.rs
Labels: move

#1131 [docs] Fixes to the Move tutorial related to GAS->SUI renaming
  doc/src/build/move.md
Labels: documentation

#1157 Update README.md with latest Discord link
  README.md
Labels: documentation

#1134 Add Sui to glossary and note its use for currency
  doc/src/learn/sui-glossary.md
Labels: documentation

#1170 Update tutorials.md
  doc/src/explore/tutorials.md
Labels: documentation
