Repository MystenLabs/sui, pull requests merged in 2022-04, with the labels that each got.

#1128 Update ROADMAP.md
  ROADMAP.md
Labels: documentation, dependencies

#1172 Fix Writing a package section of Move doc
  doc/src/build/move.md
Labels: documentation

#1174 Update wallet.md
  doc/src/build/wallet.md
Labels: dependencies

#1222 [move] Add DiscountCoupon example
  sui_programmability/examples/nfts/sources/DiscountCoupon.move
  sui_programmability/examples/nfts/tests/DiscountCouponTests.move
Labels: smart contract

#1301 Add Programming with Objects Tutorial Series: Index, Chapter 1
  doc/move_code/objects_tutorial/Move.toml
  doc/move_code/objects_tutorial/sources/Ch1/ColorObject.move
  doc/src/build/programming-with-objects/ch1-object-basics.md
  doc/src/build/programming-with-objects/ch2-using-objects.md
  doc/src/build/programming-with-objects/ch3-immutable-objects.md
  doc/src/build/programming-with-objects/ch4-object-wrapping.md
  doc/src/build/programming-with-objects/ch5-child-objects.md
  doc/src/build/programming-with-objects/ch6-collection-and-bag.md
  doc/src/build/programming-with-objects/ch7-shared-objects.md
  doc/src/build/programming-with-objects/ch8-case-study-tictactoe.md
  doc/src/build/programming-with-objects/index.md
Labels: Type: Documentation

#1317 Make small edits to tutorial Object Basics
  doc/src/build/programming-with-objects/ch1-object-basics.md
Labels: Type: Documentation

#1335 Make all links relative in programming objects tutorial index.md
  doc/src/build/programming-with-objects/index.md
Labels: Type: Documentation

#1332 Remove not-ready links in index.md, fix a bug in chapter 1
  doc/src/build/programming-with-objects/ch1-object-basics.md
Labels: Type: Documentation

#1377 Remove empty documents
  doc/src/build/programming-with-objects/ch3-immutable-objects.md
  doc/src/build/programming-with-objects/ch4-object-wrapping.md
  doc/src/build/programming-with-objects/ch5-child-objects.md
  doc/src/build/programming-with-objects/ch6-collection-and-bag.md
  doc/src/build/programming-with-objects/ch7-shared-objects.md
  doc/src/build/programming-with-objects/ch8-case-study-tictactoe.md
Labels: Type: Documentation

#1376 Add install to programming objects Prerequisites
  doc/src/build/programming-with-objects/index.md
Labels: Type: Documentation

#1375 Remove git clone and directory summary
  doc/src/contribute/index.md
Labels: Type: Documentation

#1374 Add git clone and directory summary
  doc/src/build/install.md
Labels: Type: Documentation

#1398 chore: rename authority -> validator
  doc/src/build/authorities.md
  doc/src/build/index.md
  doc/src/build/objects.md
  doc/src/build/rest-api.md
  doc/src/build/transactions.md
  doc/src/build/wallet.md
  doc/src/contribute/observability.md
  doc/src/contribute/research-papers.md
  doc/src/learn/about-sui.md
  doc/src/learn/how-sui-works.md
  doc/src/learn/index.md
  doc/src/learn/sui-compared.md
  doc/src/learn/sui-glossary.md
  doc/src/learn/sui-security.md
  doc/src/learn/why-move.md
  doc/src/navconfig.json
Labels: Type: Documentation

#1406 Update sui-compared.md
  doc/src/learn/sui-compared.md
Labels: Type: Documentation

#1405 Move and rename authorities.md to validators.md
  doc/src/build/index.md
  doc/src/build/objects.md
  doc/src/build/transactions.md
  doc/src/learn/architecture/validators.md
  doc/src/learn/sui-glossary.md
Labels: Type: Documentation

#1453 Update siteconfig.json
  doc/src/siteconfig.json
Labels: Type: Documentation

#1454 Update navconfig.json
  doc/src/navconfig.json
Labels: Type: Documentation

#1462 Fix issue #1450
  sui/src/benchmark/load_generator.rs
  sui/src/config.rs
  sui/src/sui_commands.rs
  sui/src/unit_tests/sui_network.rs
  sui_core/src/authority_server.rs
  sui_core/src/consensus_adapter.rs
  sui_core/src/unit_tests/server_tests.rs
Labels: Type: Major Feature, Priority: High, Status: Needs Review, sui-node

#1378 [ts-sdk] Adds MoveBCS library to the SDK
  sdk/typescript/src/bcs/README.md
  sdk/typescript/src/bcs/index.ts
  sdk/typescript/src/index.ts
  sdk/typescript/src/serialization/hex.ts
  sdk/typescript/test/bcs/bcs.test.ts
Labels: javascript

#1428 Add Move Analyzer to Install Sui
  doc/src/build/install.md
Labels: Type: Documentation

#1460 Update sui-glossary.md
  doc/src/learn/sui-glossary.md
Labels: Type: Documentation

#1408 [Objects Tutorial] Add Chapter 3: Immutable Objects
  doc/src/build/programming-with-objects/ch2-using-objects.md
  doc/src/build/programming-with-objects/ch3-immutable-objects.md
  doc/src/build/programming-with-objects/index.md
  sui_programmability/examples/objects_tutorial/sources/ColorObject.move
Labels: Type: Documentation

#1449 Consensus Adapter
  sui/src/benchmark/load_generator.rs
  sui/src/config.rs
  sui/src/sui_commands.rs
  sui/src/unit_tests/sui_network.rs
  sui_core/src/authority_server.rs
  sui_core/src/consensus_adapter.rs
  sui_core/src/lib.rs
  sui_core/src/unit_tests/consensus_adapter_tests.rs
  sui_core/src/unit_tests/consensus_tests.rs
  sui_core/src/unit_tests/server_tests.rs
  sui_core/tests/staged/sui.yaml
  sui_types/src/error.rs
  sui_types/src/messages.rs
  sui_types/src/serialize.rs
  test_utils/Cargo.toml
  test_utils/src/lib.rs
  test_utils/src/network.rs
Labels: Type: Major Feature, Priority: High, Status: Needs Review, sui-node

#1467 Consensus Integration
  deny.toml
  sui/Cargo.toml
  sui/src/benchmark/load_generator.rs
  sui/src/config.rs
  sui/src/sui_commands.rs
  sui/src/validator.rs
  sui_core/Cargo.toml
  sui_core/src/authority.rs
  sui_core/src/authority/authority_store.rs
  sui_core/src/authority_server.rs
  sui_core/src/consensus_adapter.rs
  sui_core/src/consensus_client.rs
  sui_core/src/lib.rs
  sui_core/src/unit_tests/authority_tests.rs
  sui_core/src/unit_tests/consensus_tests.rs
  sui_core/src/unit_tests/server_tests.rs
  sui_core/tests/staged/sui.yaml
  sui_types/Cargo.toml
  sui_types/src/crypto.rs
  sui_types/src/error.rs
Labels: Type: Major Feature, Priority: High, Status: Needs Review, sui-node, umbrella

#1498 Update navconfig.json
  doc/src/navconfig.json
Labels: Type: Documentation

#1500 Update wallet.md
  doc/src/build/wallet.md
Labels: Type: Documentation

#1484 [ts-sdk] Allow enums with no value, add a test for TransactionData BCS
  sdk/typescript/src/bcs/index.ts
  sdk/typescript/test/bcs/bcs.test.ts
Labels: javascript

#1499 Update move.md
  doc/src/build/move.md
Labels: Type: Documentation

#1550 Fix port bug
  sui/src/config.rs
Labels: Type: Bug, Priority: High, Status: Needs Review, sui-node

#1582 Initial fix for #1529
  sui/Cargo.toml
  sui/src/bin/validator.rs
  sui/src/config.rs
  sui_core/Cargo.toml
  sui_types/Cargo.toml
Labels: Type: Bug, Status: Needs Review, sui-node

#1584 [Doc] Add explanation on how to use take_object_by_id in tests
  doc/src/build/programming-with-objects/ch1-object-basics.md
  doc/src/build/programming-with-objects/ch2-using-objects.md
  sui_programmability/examples/objects_tutorial/sources/ColorObject.move
  sui_programmability/framework/sources/TxContext.move
  sui_programmability/framework/tests/TestScenarioTests.move
Labels: Type: Documentation

#1531 Sui-Narwhal shared objects test
  network_utils/src/transport.rs
  sui/Cargo.toml
  sui/src/config.rs
  sui/src/sui_commands.rs
  sui/tests/shared_objects_tests.rs
  sui_core/Cargo.toml
  sui_core/src/authority.rs
  sui_core/src/authority_server.rs
  sui_core/src/consensus_adapter.rs
  sui_core/src/unit_tests/consensus_tests.rs
  test_utils/Cargo.toml
  test_utils/src/authority.rs
  test_utils/src/lib.rs
  test_utils/src/messages.rs
  test_utils/src/objects.rs
Labels: Priority: High, Status: Needs Review, sui-node

#1599 Fix main
  sui/src/config.rs
  test_utils/src/authority.rs
Labels: Type: Bug, Priority: Critical, Status: Needs Review

#1592 [core] Add shared object ref to effects
  sui_core/src/authority.rs
  sui_core/src/authority/temporary_store.rs
  sui_core/src/execution_engine.rs
  sui_core/tests/staged/sui.yaml
  sui_types/src/messages.rs
Labels: sui-node

#1601 Fix sequencer number bug
  Cargo.lock
  sui/tests/shared_objects_tests.rs
  sui_core/src/authority/authority_store.rs
  sui_core/src/unit_tests/authority_tests.rs
  sui_programmability/adapter/src/adapter.rs
  sui_programmability/examples/basics/sources/Counter.move
  test_utils/Cargo.toml
  test_utils/src/messages.rs
  test_utils/src/objects.rs
Labels: Type: Bug, Priority: High, Status: Needs Review, sui-node, move

#1573 [sui-framework] Adds Balance module
  sui_programmability/framework/sources/Balance.move
  sui_programmability/framework/sources/Coin.move
  sui_programmability/framework/tests/CoinBalanceTests.move
Labels: move

#1628 [crypto][test] Backwards compatibility test for address generation
  sui_types/src/unit_tests/base_types_tests.rs
Labels: crypto, test, compatibility

#1613 Add dollar signs to commands in wallet.md
  doc/src/build/wallet.md
Labels: Type: Documentation

#1618 Update index.md
  doc/src/contribute/index.md
Labels: Type: Documentation

#1616 Add dollar signs to commands in tutorials.md
  doc/src/explore/tutorials.md
Labels: Type: Documentation

#1612 Add dollar signs to commands in move.md
  doc/src/build/move.md
Labels: Type: Documentation

#1650 [move] ECamelCase all errors
  sui_programmability/examples/basics/sources/Lock.move
  sui_programmability/examples/basics/sources/Sandwich.move
  sui_programmability/examples/defi/sources/Escrow.move
  sui_programmability/examples/defi/sources/FlashLender.move
  sui_programmability/examples/defi/sources/SharedEscrow.move
  sui_programmability/examples/defi/tests/EscrowTests.move
  sui_programmability/examples/defi/tests/SharedEscrowTest.move
  sui_programmability/examples/fungible_tokens/sources/BASKET.move
  sui_programmability/examples/games/sources/SharedTicTacToe.move
  sui_programmability/examples/games/sources/TicTacToe.move
  sui_programmability/examples/nfts/sources/Auction.move
  sui_programmability/examples/nfts/sources/DiscountCoupon.move
  sui_programmability/examples/nfts/sources/Geniteam.move
  sui_programmability/examples/nfts/sources/Marketplace.move
  sui_programmability/examples/nfts/sources/Num.move
  sui_programmability/examples/nfts/sources/SharedAuction.move
  sui_programmability/framework/sources/Bag.move
  sui_programmability/framework/sources/Balance.move
  sui_programmability/framework/sources/Collection.move
  sui_programmability/framework/sources/CrossChainAirdrop.move
  sui_programmability/framework/sources/ID.move
  sui_programmability/framework/sources/TestScenario.move
  sui_programmability/framework/sources/Transfer.move
  sui_programmability/framework/sources/TxContext.move
  sui_programmability/framework/sources/Url.move
Labels: move

#1611 Update install.md
  doc/src/build/install.md
Labels: Type: Documentation

#1677 Fix narwhal dependency with net updates
  Cargo.lock
  sui/Cargo.toml
  sui/src/sui_commands.rs
  sui/tests/shared_objects_tests.rs
  sui_core/Cargo.toml
  sui_core/src/authority.rs
  sui_core/src/authority/authority_store.rs
  sui_core/src/authority_server.rs
  sui_core/src/consensus_adapter.rs
  sui_core/src/unit_tests/consensus_tests.rs
  sui_types/Cargo.toml
  test_utils/Cargo.toml
Labels: Type: Bug, Type: Major Feature, Priority: High, Status: Needs Review, sui-node
