Repository MystenLabs/sui, pull requests merged in 2022-12, with the labels that each got.

#6498 narwhal: require udp multiaddrs for primary and worker addresses
  crates/sui-config/src/genesis.rs
  crates/sui-config/src/genesis_config.rs
  crates/sui-config/src/swarm.rs
  crates/sui-config/src/test_gateway.yml
  crates/sui-config/src/utils.rs
  crates/sui-core/src/unit_tests/authority_aggregator_tests.rs
  crates/sui/src/genesis_ceremony.rs
  narwhal/Docker/scripts/gen.committee.py
  narwhal/Docker/scripts/gen.workers.py
  narwhal/Docker/validators/committee.json
  narwhal/Docker/validators/workers.json
  narwhal/benchmark/README.md
  narwhal/benchmark/benchmark/config.py
  narwhal/benchmark/benchmark/utils.py
  narwhal/config/tests/snapshots/config_tests__committee.snap
  narwhal/config/tests/snapshots/config_tests__worker_cache.snap
  narwhal/network/src/lib.rs
  narwhal/node/src/generate_format.rs
  narwhal/test-utils/src/lib.rs
Labels: breaking change

#6512 Deleted misplaced angle bracket
  doc/src/build/cli-client.md
Labels: Type: Documentation

#6539 Adding Exchange Integration FAQ topic
  doc/src/learn/exchange-integration-faq.md
  doc/src/navconfig.json
Labels: Type: Documentation

#6599 Update exchange-integration-faq.md
  doc/src/learn/exchange-integration-faq.md
Labels: Type: Documentation

#6200 [move] Refactored dynamic fields natives work with Move Prover
  crates/sui-adapter-transactional-tests/tests/dynamic_fields/add_duplicate.exp
  crates/sui-adapter-transactional-tests/tests/dynamic_fields/add_duplicate_object.exp
  crates/sui-adapter-transactional-tests/tests/dynamic_fields/borrow_wrong_type.exp
  crates/sui-adapter-transactional-tests/tests/dynamic_fields/borrow_wrong_type_object.exp
  crates/sui-adapter-transactional-tests/tests/dynamic_fields/remove_wrong_type.exp
  crates/sui-adapter-transactional-tests/tests/dynamic_fields/remove_wrong_type_object.exp
  crates/sui-adapter-transactional-tests/tests/dynamic_fields/transfer_object.exp
  crates/sui-config/tests/snapshots/snapshot_tests__empty_genesis_snapshot_matches.snap
  crates/sui-cost/tests/snapshots/empirical_transaction_cost__good_snapshot-2.snap
  crates/sui-cost/tests/snapshots/empirical_transaction_cost__good_snapshot.snap
  crates/sui-framework/docs/dynamic_field.md
  crates/sui-framework/docs/dynamic_object_field.md
  crates/sui-framework/sources/dynamic_field.move
  crates/sui-framework/sources/dynamic_object_field.move
  crates/sui-framework/src/natives/dynamic_field.rs
  crates/sui-framework/src/natives/mod.rs
Labels: breaking change

#6605 [Docs] Remove assertion about objects always having version 1
  doc/src/learn/objects.md
Labels: Type: Documentation

#6601 Added --ver-dep flag to sui cli
  doc/src/build/cli-client.md
Labels: Type: Documentation

#6620 Update sui-token.md
  doc/src/learn/tokenomics/sui-token.md
Labels: Type: Documentation

#6593 [dynamic fields] Lamport timestamp cleanup and space savings
  crates/sui-adapter-transactional-tests/tests/child_count/count_decremented.exp
  crates/sui-adapter-transactional-tests/tests/child_count/delete_parent_valid.exp
  crates/sui-adapter-transactional-tests/tests/child_count/delete_parent_valid_one_txn.exp
  crates/sui-adapter-transactional-tests/tests/child_count/freeze_parent_valid.exp
  crates/sui-adapter-transactional-tests/tests/child_count/freeze_parent_valid_one_txn.exp
  crates/sui-adapter-transactional-tests/tests/dynamic_fields/add_duplicate.exp
  crates/sui-adapter-transactional-tests/tests/dynamic_fields/add_duplicate_object.exp
  crates/sui-adapter-transactional-tests/tests/dynamic_fields/exhaustive.exp
  crates/sui-adapter-transactional-tests/tests/dynamic_fields/exhaustive_object.exp
  crates/sui-adapter-transactional-tests/tests/dynamic_fields/remove_wrong_type.exp
  crates/sui-adapter-transactional-tests/tests/dynamic_fields/remove_wrong_type_object.exp
  crates/sui-adapter-transactional-tests/tests/dynamic_fields/transfer_object.exp
  crates/sui-adapter-transactional-tests/tests/dynamic_fields/unwrap_object.exp
  crates/sui-adapter-transactional-tests/tests/dynamic_fields/wrap_object.exp
  crates/sui-adapter-transactional-tests/tests/transfer_object/quasi_shared.exp
  crates/sui-config/tests/snapshots/snapshot_tests__empty_genesis_snapshot_matches.snap
  crates/sui-core/src/unit_tests/move_integration_tests.rs
  crates/sui-cost/tests/snapshots/empirical_transaction_cost__good_snapshot-2.snap
  crates/sui-cost/tests/snapshots/empirical_transaction_cost__good_snapshot.snap
  crates/sui-framework/docs/bag.md
  crates/sui-framework/docs/dynamic_field.md
  crates/sui-framework/docs/object_bag.md
  crates/sui-framework/sources/bag.move
  crates/sui-framework/sources/dynamic_field.move
  crates/sui-framework/sources/math.move
  crates/sui-framework/sources/object_bag.move
  crates/sui-framework/src/natives/object_runtime/mod.rs
  crates/sui-framework/src/natives/object_runtime/object_store.rs
  doc/src/build/programming-with-objects/ch5-dynamic-fields.md
Labels: Type: Documentation

#6665 Updating Doc History
  doc/src/doc-updates/index.md
  doc/src/reference/framework/index.md
Labels: Type: Documentation

#6445 crypto: intent signing for TransactionData
  .changeset/rich-dragons-eat.md
  Cargo.lock
  apps/wallet/src/ui/app/redux/slices/transaction-requests/index.ts
  crates/sui-cluster-test/src/lib.rs
  crates/sui-cluster-test/src/wallet_client.rs
  crates/sui-core/src/authority.rs
  crates/sui-core/src/authority/authority_store.rs
  crates/sui-core/src/authority_aggregator.rs
  crates/sui-core/src/authority_server.rs
  crates/sui-core/src/test_utils.rs
  crates/sui-core/src/transaction_input_checker.rs
  crates/sui-core/src/transaction_manager.rs
  crates/sui-core/src/unit_tests/authority_aggregator_tests.rs
  crates/sui-core/src/unit_tests/authority_tests.rs
  crates/sui-core/src/unit_tests/gas_tests.rs
  crates/sui-core/src/unit_tests/pay_sui_tests.rs
  crates/sui-cost/src/estimator.rs
  crates/sui-cost/tests/empirical_transaction_cost.rs
  crates/sui-faucet/src/faucet/simple_faucet.rs
  crates/sui-json-rpc-types/src/lib.rs
  crates/sui-json-rpc/src/api.rs
  crates/sui-json-rpc/src/read_api.rs
  crates/sui-json-rpc/src/transaction_execution_api.rs
  crates/sui-keys/src/keystore.rs
  crates/sui-open-rpc/Cargo.toml
  crates/sui-open-rpc/spec/openrpc.json
  crates/sui-open-rpc/src/examples.rs
  crates/sui-rosetta/src/block.rs
  crates/sui-rosetta/src/construction.rs
  crates/sui-rosetta/src/state.rs
  crates/sui-rosetta/src/unit_tests/balance_changing_tx_tests.rs
  crates/sui-sdk/examples/tic_tac_toe.rs
  crates/sui-sdk/examples/transfer_coins.rs
  crates/sui-transactional-test-runner/src/test_adapter.rs
  crates/sui-types/src/crypto.rs
  crates/sui-types/src/intent.rs
  crates/sui-types/src/messages.rs
  crates/sui-types/src/unit_tests/base_types_tests.rs
  crates/sui-types/src/unit_tests/intent_tests.rs
  crates/sui-types/src/unit_tests/messages_tests.rs
  crates/sui/src/client_commands.rs
  crates/sui/src/keytool.rs
  crates/sui/src/unit_tests/cli_tests.rs
  crates/sui/src/unit_tests/keytool_tests.rs
  crates/test-utils/src/transaction.rs
  doc/src/build/rust-sdk.md
  sdk/typescript/src/signers/signer-with-provider.ts
  sdk/typescript/src/signers/txn-data-serializers/local-txn-data-serializer.ts
  sdk/typescript/src/types/sui-bcs.ts
  sdk/typescript/test/e2e/txn-serializer.test.ts
Labels: Type: Documentation, breaking change

#6493 crypto: Breakdown crypto.rs in sui-framework
  crates/sui-config/tests/snapshots/snapshot_tests__empty_genesis_snapshot_matches.snap
  crates/sui-cost/tests/snapshots/empirical_transaction_cost__good_snapshot-2.snap
  crates/sui-framework/docs/bulletproofs.md
  crates/sui-framework/docs/ecdsa_k1.md
  crates/sui-framework/docs/elliptic_curve.md
  crates/sui-framework/docs/groth16.md
  crates/sui-framework/sources/crypto/bulletproofs.move
  crates/sui-framework/sources/crypto/ecdsa_k1.move
  crates/sui-framework/sources/crypto/elliptic_curve.move
  crates/sui-framework/sources/crypto/groth16.move
  crates/sui-framework/src/natives/crypto.rs
  crates/sui-framework/src/natives/crypto/bls12381.rs
  crates/sui-framework/src/natives/crypto/bulletproofs.rs
  crates/sui-framework/src/natives/crypto/ecdsa_k1.rs
  crates/sui-framework/src/natives/crypto/ed25519.rs
  crates/sui-framework/src/natives/crypto/elliptic_curve.rs
  crates/sui-framework/src/natives/crypto/groth16.rs
  crates/sui-framework/src/natives/crypto/hmac.rs
  crates/sui-framework/src/natives/crypto/mod.rs
  crates/sui-framework/src/natives/mod.rs
  crates/sui-framework/tests/crypto/bls12381_tests.move
  crates/sui-framework/tests/crypto/bulletproofs_tests.move
  crates/sui-framework/tests/crypto/ecdsa_k1_tests.move
  crates/sui-framework/tests/crypto/ed25519_tests.move
  crates/sui-framework/tests/crypto/groth16_tests.move
  crates/sui-framework/tests/crypto/hmac_tests.move
  crates/sui-framework/tests/crypto_tests.move
  sui_programmability/examples/math/sources/ecdsa.move
Labels: breaking change

#6716 Update index.md
  doc/src/doc-updates/index.md
Labels: Type: Documentation

#6720 Copyedit, reformat, style consistency
  doc/src/build/fullnode.md
  doc/src/build/install.md
  doc/src/build/sui-json.md
  doc/src/build/sui-local-network.md
  doc/src/contribute/observability.md
  doc/src/doc-updates/index.md
  doc/src/explore/index.md
  doc/src/learn/how-sui-works.md
  doc/src/learn/sui-security.md
  doc/src/navconfig.json
Labels: Type: Documentation

#6718 Reformat and copyedit event api topic
  doc/src/build/event_api.md
  doc/src/build/json-rpc.md
Labels: Type: Documentation

#6715 Copyedits for style consistency
  doc/src/build/cli-client.md
  doc/src/build/comms.md
  doc/src/build/devnet.md
Labels: Type: Documentation

#6758 [doc] remove uncertain info from exchange integration doc
  doc/src/learn/exchange-integration-faq.md
Labels: Type: Documentation

#6761 Update exchange-integration-faq.md
  doc/src/learn/exchange-integration-faq.md
Labels: Type: Documentation

#6762 [doc] more updates to exchange docs
  doc/src/learn/exchange-integration-faq.md
Labels: Type: Documentation

#6471 Suijson u64 inputs must be strings
  crates/sui-json-rpc/src/unit_tests/rpc_server_tests.rs
  crates/sui-json/src/lib.rs
  crates/sui-json/src/tests.rs
  crates/sui/src/unit_tests/cli_tests.rs
  doc/src/build/sui-json.md
  doc/src/reference/sui-json.md
  sdk/typescript/test/e2e/object-vector.test.ts
Labels: Type: Documentation

#6814 [Doc] Update Sui architecture page on Narwhal & Bullshark
  doc/src/learn/architecture/consensus.md
Labels: Type: Documentation

#6775 Update navconfig.json
  doc/src/navconfig.json
Labels: Type: Documentation

#6914 Clarified Sui Move as dialect instead of subset
  doc/src/build/move/index.md
Labels: Type: Documentation

#6957 Move ex
  doc/src/build/event_api.md
  doc/src/build/programming-with-objects/index.md
  doc/src/explore/examples.md
  doc/src/explore/move-examples/additional-resources.md
  doc/src/explore/move-examples/basics.md
  doc/src/explore/move-examples/index.md
  doc/src/explore/move-examples/patterns.md
  doc/src/explore/move-examples/samples.md
  doc/src/learn/objects.md
  doc/src/learn/why-move.md
  doc/src/navconfig.json
  doc/src/siteconfig.json
Labels: Type: Documentation

#6958 Adding links to Sui Framework docs
  doc/src/reference/framework/index.md
Labels: Type: Documentation

#6972 Update sui-json.md
  doc/src/build/sui-json.md
Labels: Type: Documentation

#6979 Updating doc-history for the week
  doc/src/doc-updates/index.md
  doc/src/navconfig.json
  doc/src/siteconfig.json
Labels: Type: Documentation

#6993 Decoding hex util function
  crates/sui-config/tests/snapshots/snapshot_tests__empty_genesis_snapshot_matches.snap
  crates/sui-cost/tests/snapshots/empirical_transaction_cost__good_snapshot-2.snap
  crates/sui-framework/docs/hex.md
  crates/sui-framework/sources/hex.move
Labels: breaking change
