Repository MystenLabs/sui, pull requests merged in 2022-08, with the labels that each got.

#3466 [sdk] Adds experimental section
  sdk/typescript/bcs/src/index.ts
  sdk/typescript/experimental/README.md
  sdk/typescript/experimental/package-lock.json
  sdk/typescript/experimental/package.json
  sdk/typescript/experimental/src/index.ts
  sdk/typescript/experimental/src/module.ts
  sdk/typescript/experimental/src/rpc.ts
  sdk/typescript/experimental/src/sui-client.ts
  sdk/typescript/experimental/src/types.ts
  sdk/typescript/experimental/tsconfig.json
  sdk/typescript/experimental/webpack.config.js
Labels: ts-sdk

#3669 [explorer] Fix browser history getting reset when navigating to the home page
  explorer/client/src/components/pagination/Pagination.tsx
  explorer/client/src/components/transaction-card/RecentTxCard.tsx
Labels: sui-explorer

#3653 [explorer] Redesigns Object Results following Figma
  explorer/client/package.json
  explorer/client/src/__tests__/e2e.test.ts
  explorer/client/src/assets/SVGIcons/broken-image.svg
  explorer/client/src/components/displaybox/DisplayBox.module.css
  explorer/client/src/components/displaybox/DisplayBox.tsx
  explorer/client/src/components/goback/GoBack.module.css
  explorer/client/src/components/goback/GoBack.tsx
  explorer/client/src/pages/address-result/AddressResult.tsx
  explorer/client/src/pages/object-result/ObjectLoaded.tsx
  explorer/client/src/pages/object-result/ObjectResult.module.css
  explorer/client/src/pages/object-result/ObjectResult.tsx
  explorer/client/src/pages/object-result/views/ObjectView.module.css
  explorer/client/src/pages/object-result/views/ObjectView.tsx
  explorer/client/src/pages/object-result/views/PkgView.tsx
  explorer/client/src/pages/object-result/views/TokenView.tsx
  explorer/client/src/pages/object-result/views/shared/ObjHeader.module.css
  explorer/client/src/pages/object-result/views/shared/ObjHeader.tsx
  explorer/client/src/pages/transaction-result/TxResultHeader.module.css
  explorer/client/src/pages/transaction-result/TxResultHeader.tsx
  explorer/client/src/utils/objectUtils.ts
  explorer/client/yarn.lock
Labels: sui-explorer

#3226 add wallet asset sub-dir
  doc/src/explore/wallet-browser.md
  doc/static/wallet_0.0.2/create_nft.gif
  doc/static/wallet_0.0.2/set_up_wallet.gif
  doc/static/wallet_0.0.2/settings.gif
  doc/static/wallet_0.0.2/transfer_nft.gif
  doc/static/wallet_0.0.2/transfer_token.gif
  doc/static/wallet_0.0.2/txn_history.gif
Labels: Type: Documentation

#3720 Announce validator registration, fix refs and links to Devnet, Testnet
  doc/src/build/json-rpc.md
  doc/src/learn/index.md
  doc/src/navconfig.json
  doc/src/siteconfig.json
Labels: Type: Documentation

#3736 fix create_another_parent function bug
  doc/src/build/programming-with-objects/ch5-child-objects.md
Labels: Type: Documentation

#3742 Edit pass, updates to formatting, and style changes in Learn index
  doc/src/learn/index.md
Labels: Type: Documentation

#3747 Update faq.md with validator registration links
  doc/src/contribute/faq.md
Labels: Type: Documentation

#3746 Reorganize Build nav with Talk subsection for Rust SDK and related docs
  doc/src/build/cli-client.md
  doc/src/build/comms/index.md
  doc/src/build/fullnode.md
  doc/src/build/pubsub.md
  doc/src/navconfig.json
Labels: Type: Documentation

#3760 [Explorer] Standardizes the headers across Object, Address and Transaction Results
  explorer/client/src/assets/AddressIcon.svg
  explorer/client/src/pages/address-result/AddressResult.module.css
  explorer/client/src/pages/address-result/AddressResult.tsx
  explorer/client/src/pages/object-result/views/shared/ObjHeader.module.css
  explorer/client/src/pages/object-result/views/shared/ObjHeader.tsx
  explorer/client/src/pages/transaction-result/TxResultHeader.module.css
  explorer/client/src/pages/transaction-result/TxResultHeader.tsx
  explorer/client/src/styles/resultheader.module.css
Labels: sui-explorer

#3759 Updates to About Sui including copyedit, formatting, and style
  doc/src/learn/about-sui.md
  doc/src/learn/sui-glossary.md
Labels: Type: Documentation

#3770 Updates to Glossary to put entries in alpha order, minor style edits
  doc/src/learn/sui-glossary.md
Labels: Type: Documentation

#3785 Update and rename doc/src/build/comms/index.md to doc/src/build/comms.md
  doc/src/build/comms.md
  doc/src/build/comms/index.md
Labels: Type: Documentation

#3786 Update navconfig.json to comms file in Build dir
  doc/src/navconfig.json
Labels: Type: Documentation

#3787 Update validators.md with Important note linking to validator registration
  doc/src/learn/architecture/validators.md
Labels: Type: Documentation

#3765 Link to Narwhal docs throughout Learn section and in FAQ
  doc/src/contribute/faq.md
  doc/src/learn/architecture/consensus.md
  doc/src/learn/how-sui-works.md
  doc/src/learn/sui-compared.md
Labels: Type: Documentation

#3791 Announce Rust SDK, make small, related improvements
  doc/src/build/json-rpc.md
  doc/src/build/rust-sdk.md
  doc/src/learn/index.md
  doc/src/navconfig.json
  doc/src/siteconfig.json
Labels: Type: Documentation

#3829 [docs] Fix docs on calling the debug module
  doc/src/build/move/debug-publish.md
Labels: Type: Documentation

#3851 [Explorer] Cleanup validators UI
  explorer/client/src/components/top-validators-card/TopValidatorsCard.tsx
  explorer/client/src/pages/validators/Validators.tsx
Labels: sui-explorer

#3792 Update json-rpc.md
  doc/src/build/json-rpc.md
Labels: Type: Documentation

#3883 Update install.md to make binaries OS instructions more clear
  doc/src/build/install.md
Labels: Type: Documentation

#3748 Update narwhal dependency
  Cargo.lock
  crates/sui-benchmark/Cargo.toml
  crates/sui-cluster-test/Cargo.toml
  crates/sui-config/Cargo.toml
  crates/sui-config/src/genesis.rs
  crates/sui-config/tests/snapshot_tests.rs
  crates/sui-config/tests/snapshots/snapshot_tests__network_config_snapshot_matches.snap
  crates/sui-core/Cargo.toml
  crates/sui-framework/Cargo.toml
  crates/sui-gateway/Cargo.toml
  crates/sui-tool/Cargo.toml
  crates/sui-types/Cargo.toml
  crates/sui/Cargo.toml
  crates/workspace-hack/Cargo.toml
Labels: breaking change

#3766 [explorer] Implement map of nodes
  explorer/client/package.json
  explorer/client/src/app/App.tsx
  explorer/client/src/components/validator-map/MapFeature.tsx
  explorer/client/src/components/validator-map/NodesLocation.tsx
  explorer/client/src/components/validator-map/ValidatorMap.module.css
  explorer/client/src/components/validator-map/ValidatorMap.tsx
  explorer/client/src/components/validator-map/WorldMap.tsx
  explorer/client/src/components/validator-map/topology.json
  explorer/client/src/components/validator-map/types.ts
  explorer/client/src/pages/home/Home.tsx
  explorer/client/tailwind.config.js
  explorer/client/yarn.lock
Labels: sui-explorer

#3892 RPC: unify return type for ExecuteTransaction
  crates/sui-cluster-test/src/lib.rs
  crates/sui-cluster-test/src/test_case/coin_merge_split_test.rs
  crates/sui-cluster-test/src/test_case/native_transfer_test.rs
  crates/sui-cluster-test/src/test_case/shared_object_test.rs
  crates/sui-core/src/gateway_state.rs
  crates/sui-core/src/unit_tests/gateway_state_tests.rs
  crates/sui-faucet/src/faucet/simple_faucet.rs
  crates/sui-gateway/src/unit_tests/rpc_server_tests.rs
  crates/sui-json-rpc-types/src/lib.rs
  crates/sui-json-rpc/src/api.rs
  crates/sui-json-rpc/src/gateway_api.rs
  crates/sui-json-rpc/src/read_api.rs
  crates/sui-open-rpc/samples/objects.json
  crates/sui-open-rpc/samples/owned_objects.json
  crates/sui-open-rpc/samples/transactions.json
  crates/sui-open-rpc/spec/openrpc.json
  crates/sui-open-rpc/src/examples.rs
  crates/sui-open-rpc/src/generate_json_rpc_spec.rs
  crates/sui-sdk/examples/tic_tac_toe.rs
  crates/sui-sdk/src/lib.rs
  crates/sui/src/client_commands.rs
  crates/sui/src/unit_tests/cli_tests.rs
  crates/sui/tests/full_node_tests.rs
  crates/sui/tests/shared_objects_tests.rs
  crates/test-utils/src/transaction.rs
  explorer/client/src/pages/object-result/ObjectResult.tsx
  explorer/client/src/pages/transaction-result/TransactionResult.tsx
  explorer/client/src/utils/api/DefaultRpcClient.ts
  explorer/client/yarn.lock
  sdk/typescript/src/index.guard.ts
  sdk/typescript/src/providers/json-rpc-provider.ts
  sdk/typescript/src/providers/provider.ts
  sdk/typescript/src/providers/void-provider.ts
  sdk/typescript/src/signers/signer-with-provider.ts
  sdk/typescript/src/types/transactions.ts
  sdk/typescript/test/types/transactions.test.ts
  wallet/package-lock.json
  wallet/src/shared/messaging/messages/payloads/transactions/ExecuteTransactionResponse.ts
  wallet/src/shared/messaging/messages/payloads/transactions/TransactionRequest.ts
  wallet/src/shared/messaging/messages/payloads/transactions/ui/TransactionRequestResponse.ts
  wallet/src/ui/app/background-client/index.ts
  wallet/src/ui/app/pages/home/stake/index.tsx
  wallet/src/ui/app/pages/home/transaction-details/index.tsx
  wallet/src/ui/app/pages/home/transfer-coin/index.tsx
  wallet/src/ui/app/redux/slices/sui-objects/Coin.ts
  wallet/src/ui/app/redux/slices/sui-objects/NFT.ts
  wallet/src/ui/app/redux/slices/sui-objects/index.ts
  wallet/src/ui/app/redux/slices/transaction-requests/index.ts
  wallet/src/ui/app/redux/slices/transactions/index.ts
  wallet/src/ui/app/redux/slices/txresults/index.ts
Labels: sui-explorer

#3291 [explorer] Image Pop Out
  explorer/client/src/assets/SVGIcons/preview-media.svg
  explorer/client/src/components/displaybox/DisplayBox.module.css
  explorer/client/src/components/displaybox/DisplayBox.tsx
  explorer/client/src/components/ownedobjects/OwnedObjects.tsx
  explorer/client/src/pages/object-result/views/ObjectView.module.css
  explorer/client/src/pages/object-result/views/ObjectView.tsx
  explorer/client/src/pages/object-result/views/PkgView.tsx
  explorer/client/src/pages/object-result/views/TokenView.tsx
  explorer/client/src/utils/objectUtils.ts
  explorer/client/src/utils/stringUtils.ts
Labels: sui-explorer

#3898 [Explorer] Removes the gaps in the transaction tables
  explorer/client/src/components/table/TableCard.module.css
Labels: sui-explorer

#3879 Update fullnode.md to emphasize need for regularly updated packages
  doc/src/build/fullnode.md
Labels: Type: Documentation

#3896 [explorer] Fix node map based on updated API
  explorer/client/src/components/validator-map/NodesLocation.tsx
  explorer/client/src/components/validator-map/ValidatorMap.tsx
Labels: sui-explorer

#3904 [explorer] Implement updated designs for validator table
  explorer/client/src/components/top-validators-card/TopValidatorsCard.tsx
  explorer/client/src/components/validator-map/ValidatorMap.tsx
  explorer/client/src/pages/validators/Validators.tsx
Labels: sui-explorer

#3907 Replace Open RPC in footer and JSON-RPC doc, fix numerous links throu…
  doc/src/build/json-rpc.md
  doc/src/build/move/write-package.md
  doc/src/contribute/faq.md
  doc/src/explore/devnet.md
  doc/src/explore/prototypes.md
  doc/src/learn/why-move.md
  doc/src/siteconfig.json
Labels: Type: Documentation

#3931 [Explorer] Stylises scrollbars across the website following Figma
  explorer/client/src/index.css
Labels: sui-explorer

#3767 [docs] Fix "programming with objects"
  doc/src/build/programming-with-objects/ch1-object-basics.md
  doc/src/build/programming-with-objects/ch2-using-objects.md
  doc/src/build/programming-with-objects/ch3-immutable-objects.md
  doc/src/build/programming-with-objects/ch4-object-wrapping.md
  doc/src/build/programming-with-objects/ch5-child-objects.md
Labels: Type: Documentation

#3930 [explorer] Implement go-to-definition within modules
  explorer/client/src/components/module/ModuleView.tsx
  explorer/client/src/components/module/ModulesWrapper.tsx
  explorer/client/src/components/module/util.ts
  explorer/client/src/pages/object-result/views/PkgView.tsx
  explorer/client/src/pages/transaction-result/TransactionView.tsx
Labels: sui-explorer

#3936 [Explorer ] Places space between Modules and Transactions in Package View
  explorer/client/src/components/module/ModuleView.module.css
  explorer/client/src/pages/object-result/views/ObjectView.module.css
  explorer/client/src/pages/object-result/views/PkgView.tsx
Labels: sui-explorer

#3948 Add a link in sui-move-diffs.md to Why we created Sui move
  doc/src/learn/sui-move-diffs.md
Labels: Type: Documentation

#3870 [crypto] add BLS12381 verify native function in move
  crates/sui-config/tests/snapshots/snapshot_tests__empty_genesis_snapshot_matches.snap
  crates/sui-framework/sources/crypto.move
  crates/sui-framework/src/natives/crypto.rs
  crates/sui-framework/src/natives/mod.rs
  crates/sui-framework/tests/crypto_tests.move
Labels: crypto

#3910 Add automatic jemalloc-based memory profiling
  Cargo.lock
  Cargo.toml
  crates/sui-node/Cargo.toml
  crates/sui-node/src/main.rs
  doc/src/contribute/observability.md
  docker/sui-node/Dockerfile
  docker/sui-node/build.sh
Labels: Type: Documentation

#3960 Start json-rpc.md deduplication
  doc/src/build/json-rpc.md
Labels: Type: Documentation

#3996 Fix header mismatch in fullnode
  doc/src/build/fullnode.md
Labels: Type: Documentation

#3999 Fix "flexiblity" misspelling in ch4-object-wrapping.md
  doc/src/build/programming-with-objects/ch4-object-wrapping.md
Labels: Type: Documentation

#3994 Update single-writer-apps.md to remove broken coupons link
  doc/src/learn/single-writer-apps.md
Labels: Type: Documentation

#4001 Minor update to json-rpc.md
  doc/src/build/json-rpc.md
Labels: Type: Documentation

#4002 [explorer] Fix GA through cookieconsent
  explorer/client/src/components/cookies-consent/CookiesConsent.tsx
Labels: sui-explorer

#3924 [Explorer] Redesign of Owned Coins Section
  explorer/client/src/__tests__/e2e.test.ts
  explorer/client/src/assets/SVGIcons/closed-content.svg
  explorer/client/src/components/ownedobjects/OwnedObjectConstants.tsx
  explorer/client/src/components/ownedobjects/OwnedObjects.module.css
  explorer/client/src/components/ownedobjects/OwnedObjects.tsx
  explorer/client/src/components/ownedobjects/styles/OwnedCoin.module.css
  explorer/client/src/components/ownedobjects/styles/OwnedObjects.module.css
  explorer/client/src/components/ownedobjects/views/OwnedCoinView.tsx
  explorer/client/src/components/ownedobjects/views/OwnedNFTView.tsx
  explorer/client/src/components/ownedobjects/views/OwnedObjectView.tsx
  explorer/client/src/utils/static/mock_data.json
  explorer/client/src/utils/static/owned_object.json
  explorer/client/src/utils/stringUtils.ts
Labels: sui-explorer

#4017 Restore branching details on Learn index
  doc/src/learn/index.md
Labels: Type: Documentation

#4020 [explorer] Support setting custom RPC through URL param
  explorer/client/src/context.ts
Labels: sui-explorer

#4029 Fix module name in example commands for e2e TicTacToe tutorial.
  doc/src/explore/tutorials.md
Labels: Type: Documentation

#4026 Update Talk index to include connecting to Devnet, move local network…
  doc/src/build/comms.md
Labels: Type: Documentation

#3891 chore: update narwhal pointer with rand upgrade
  Cargo.lock
  crates/sui-adapter-transactional-tests/tests/child_count/count_decremented.exp
  crates/sui-benchmark/Cargo.toml
  crates/sui-config/Cargo.toml
  crates/sui-config/tests/snapshots/snapshot_tests__genesis_config_snapshot_matches.snap
  crates/sui-config/tests/snapshots/snapshot_tests__network_config_snapshot_matches.snap
  crates/sui-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
  crates/sui-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-3.snap
  crates/sui-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-4.snap
  crates/sui-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches.snap
  crates/sui-core/Cargo.toml
  crates/sui-core/src/generate_format.rs
  crates/sui-core/tests/staged/sui.yaml
  crates/sui-cost/tests/snapshots/snapshot_tests__good_snapshot.snap
  crates/sui-framework/Cargo.toml
  crates/sui-open-rpc/Cargo.toml
  crates/sui-open-rpc/samples/objects.json
  crates/sui-open-rpc/samples/owned_objects.json
  crates/sui-open-rpc/samples/transactions.json
  crates/sui-open-rpc/spec/openrpc.json
  crates/sui-sdk/Cargo.toml
  crates/sui-sdk/src/crypto.rs
  crates/sui-swarm/Cargo.toml
  crates/sui-tool/Cargo.toml
  crates/sui-transactional-test-runner/Cargo.toml
  crates/sui-types/Cargo.toml
  crates/sui-types/src/batch.rs
  crates/sui-types/src/committee.rs
  crates/sui-types/src/crypto.rs
  crates/sui-types/src/unit_tests/base_types_tests.rs
  crates/sui-types/src/unit_tests/messages_tests.rs
  crates/sui/Cargo.toml
  crates/sui/src/sui_commands.rs
  crates/test-utils/Cargo.toml
  crates/workspace-hack/Cargo.toml
  sdk/typescript/src/index.guard.ts
  sdk/typescript/src/types/transactions.ts
Labels: breaking change

#4023 Reorganize Building Sui index to match latest recommended workflow
  doc/src/build/index.md
Labels: Type: Documentation

#4009 Consolidate and promote Devnet to Build section, move down CLI Client…
  crates/sui-sdk/README.md
  doc/src/build/cli-client.md
  doc/src/explore/devnet.md
  doc/src/navconfig.json
Labels: Type: Documentation

#4043 Delete duplicate link to json-rpc.md from Build index
  doc/src/build/index.md
Labels: Type: Documentation

#4012 Update json-rpc.md to make Devnet the default
  doc/src/build/json-rpc.md
Labels: Type: Documentation

#4036 [examples] Examples book now reference code + sui docs
  doc/book/src/LINKS.md
  doc/book/src/SUMMARY.md
  doc/book/src/patterns/hot-potato.md
  doc/book/src/patterns/witness.md
Labels: Type: Documentation, move

#4045 [Explorer] Fixes irregular validator layout
  explorer/client/src/pages/transaction-result/TransactionView.tsx
Labels: sui-explorer

#3949 [Explorer] Adds Amount Field to TransferSui Page
  explorer/client/src/__tests__/unit.test.ts
  explorer/client/src/pages/transaction-result/SendReceiveView.module.css
  explorer/client/src/pages/transaction-result/TransactionResult.module.css
  explorer/client/src/pages/transaction-result/TransactionView.tsx
  explorer/client/src/utils/stringUtils.ts
  sdk/typescript/src/types/transactions.ts
Labels: sui-explorer

#3965 [explorer] #3902 display type arguments on transaction details page
  explorer/client/src/pages/transaction-result/TransactionView.tsx
Labels: sui-explorer

#4050 Rename doc/src/build/cli-client.md to doc/src/contribute/cli-client.md
  doc/src/contribute/cli-client.md
Labels: Type: Documentation

#4049 Rename doc/src/explore/devnet.md to doc/src/build/devnet.md
  doc/src/build/devnet.md
Labels: Type: Documentation

#4048 Update path to Devnet and CLI Client pages to reflect new locations in nav
  README.md
  crates/sui-framework/README.md
  doc/book/src/README.md
  doc/src/build/install.md
  doc/src/build/rust-sdk.md
  doc/src/contribute/faq.md
  doc/src/explore/index.md
  doc/src/explore/tutorials.md
  doc/src/explore/wallet-browser.md
  doc/src/learn/architecture/validators.md
  doc/src/learn/index.md
  doc/src/learn/sui-compared.md
  doc/src/learn/sui-glossary.md
  doc/src/navconfig.json
  doc/src/siteconfig.json
  explorer/client/README.md
Labels: Type: Documentation, sui-explorer

#4079 [Explorer] Swaps 'Mutated' label for 'Updated'
  explorer/client/src/pages/transaction-result/TransactionView.tsx
  explorer/client/yarn.lock
Labels: sui-explorer

#4083 [Explorer] Removes All Go Back Buttons following Latest Redesign
  explorer/client/src/components/goback/GoBack.module.css
  explorer/client/src/components/goback/GoBack.tsx
  explorer/client/src/pages/address-result/AddressResult.tsx
  explorer/client/src/pages/object-result/views/shared/ObjHeader.tsx
  explorer/client/src/pages/transaction-result/TxResultHeader.tsx
Labels: sui-explorer

#4089 Fix remaining links to newly moved CLI Client and Devnet docs
  crates/sui-sdk/README.md
  doc/src/build/comms.md
  doc/src/build/devnet.md
  doc/src/build/index.md
  doc/src/build/json-rpc.md
  doc/src/contribute/cli-client.md
Labels: Type: Documentation

#4055 Remove references to validator application form
  doc/src/contribute/faq.md
  doc/src/learn/architecture/validators.md
  doc/src/learn/index.md
Labels: Type: Documentation

#4059 [docs] Added additional explanations
  doc/src/build/move/build-test.md
  doc/src/build/move/debug-publish.md
  doc/src/build/programming-with-objects/ch1-object-basics.md
  doc/src/contribute/cli-client.md
Labels: Type: Documentation

#4103 Add persistent link to Release Notes Discord channel, split doc and c…
  doc/src/learn/index.md
Labels: Type: Documentation

#4108 Replace account with address throughout Sui docs
  doc/src/build/devnet.md
  doc/src/build/move/sui-move-library.md
  doc/src/build/objects.md
  doc/src/build/programming-with-objects/ch1-object-basics.md
  doc/src/build/programming-with-objects/ch2-using-objects.md
  doc/src/build/programming-with-objects/ch3-immutable-objects.md
  doc/src/build/programming-with-objects/ch4-object-wrapping.md
  doc/src/build/programming-with-objects/ch5-child-objects.md
  doc/src/contribute/faq.md
  doc/src/contribute/observability.md
  doc/src/explore/tutorials.md
  doc/src/learn/how-sui-works.md
  doc/src/learn/sui-compared.md
  doc/src/learn/sui-glossary.md
  doc/src/learn/sui-move-diffs.md
Labels: Type: Documentation

#3837 [explorer] Migrate from Puppeteer to Cypress
  .github/workflows/explorer-client-prs.yml
  explorer/client/.gitignore
  explorer/client/cypress.config.ts
  explorer/client/cypress/e2e/e2e.cy.ts
  explorer/client/cypress/support/e2e.ts
  explorer/client/cypress/tsconfig.json
  explorer/client/jest.config.js
  explorer/client/package.json
  explorer/client/src/__tests__/e2e.test.ts
  explorer/client/src/components/pagination/Pagination.tsx
  explorer/client/src/pages/address-result/AddressResult.tsx
  explorer/client/src/pages/transaction-result/SendReceiveView.tsx
  explorer/client/src/pages/transaction-result/TxResultHeader.tsx
  explorer/client/yarn.lock
Labels: sui-explorer

#4160 [explorer] Fix node map on small devices
  explorer/client/src/components/validator-map/ValidatorMap.module.css
Labels: sui-explorer

#4137 [Explorer] Click Type to see the Definition of the Type
  explorer/client/src/components/module/ModuleView.tsx
  explorer/client/src/components/module/util.ts
  explorer/client/src/pages/object-result/ObjectResult.tsx
  explorer/client/src/pages/object-result/ObjectResultType.tsx
  explorer/client/src/pages/object-result/views/ObjectView.module.css
  explorer/client/src/pages/object-result/views/TokenView.tsx
  explorer/client/src/utils/stringUtils.ts
Labels: sui-explorer

#4174 [Explorer] Adds Amount to the Recent Transactions Table
  explorer/client/src/components/transaction-card/RecentTxCard.module.css
  explorer/client/src/components/transaction-card/RecentTxCard.tsx
  explorer/client/src/utils/api/DefaultRpcClient.ts
Labels: sui-explorer

#4152 Explorer: Add explorer to pnpm workspace
  .github/workflows/explorer-client-prs.yml
  explorer/client/README.md
  explorer/client/package.json
  explorer/client/src/components/cookies-consent/CookiesConsent.tsx
  explorer/client/src/context.ts
  explorer/client/yarn.lock
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: sui-explorer

#4189 Update documentation to remove sui::object::Info
  doc/src/build/move/write-package.md
Labels: Type: Documentation

#4190 Fix typo on comms.md
  doc/src/build/comms.md
Labels: Type: Documentation

#4081 [Explorer] Alterations to Dropdown Padding
  explorer/client/src/components/pagination/Pagination.module.css
Labels: sui-explorer

#4115 Announce Sui version 0.7.0 in Learn > See what's new section
  doc/src/learn/index.md
Labels: Type: Documentation

#4213 Update documentation to remove sui::object::Info
  doc/src/build/move/write-package.md
Labels: Type: Documentation

#3884 [crypto] secure against rogue key attack with proof of possession
  crates/sui-benchmark/src/benchmark/transaction_creator.rs
  crates/sui-benchmark/src/benchmark/validator_preparer.rs
  crates/sui-config/src/builder.rs
  crates/sui-config/src/genesis.rs
  crates/sui-config/src/node.rs
  crates/sui-config/src/swarm.rs
  crates/sui-config/tests/snapshot_tests.rs
  crates/sui-config/tests/snapshots/snapshot_tests__empty_genesis_snapshot_matches.snap
  crates/sui-config/tests/snapshots/snapshot_tests__genesis_config_snapshot_matches.snap
  crates/sui-config/tests/snapshots/snapshot_tests__network_config_snapshot_matches.snap
  crates/sui-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
  crates/sui-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-4.snap
  crates/sui-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches.snap
  crates/sui-core/src/authority_client.rs
  crates/sui-core/src/authority_server.rs
  crates/sui-core/src/gateway_state.rs
  crates/sui-core/src/unit_tests/authority_aggregator_tests.rs
  crates/sui-cost/tests/snapshots/snapshot_tests__good_snapshot.snap
  crates/sui-framework/sources/crypto.move
  crates/sui-framework/sources/governance/genesis.move
  crates/sui-framework/sources/governance/sui_system.move
  crates/sui-framework/sources/governance/validator.move
  crates/sui-framework/src/natives/crypto.rs
  crates/sui-framework/src/natives/mod.rs
  crates/sui-framework/tests/governance_test_utils.move
  crates/sui-framework/tests/validator_set_tests.move
  crates/sui-framework/tests/validator_tests.move
  crates/sui-node/src/lib.rs
  crates/sui-tool/src/commands.rs
  crates/sui-types/src/crypto.rs
  crates/sui-types/src/sui_serde.rs
  crates/sui-types/src/sui_system_state.rs
  crates/sui/src/genesis_ceremony.rs
  crates/sui/src/keytool.rs
  crates/sui/src/unit_tests/cli_tests.rs
  crates/sui/tests/reconfiguration_tests.rs
  crates/test-utils/src/authority.rs
Labels: crypto, breaking change

#4228 Replace relevant references to Tusk with Bullshark, explain enhanceme…
  doc/src/build/install.md
  doc/src/build/rust-sdk.md
  doc/src/contribute/faq.md
  doc/src/contribute/index.md
  doc/src/learn/about-sui.md
  doc/src/learn/architecture/consensus.md
  doc/src/learn/architecture/validators.md
  doc/src/learn/how-sui-works.md
  doc/src/learn/sui-compared.md
  doc/src/learn/sui-glossary.md
Labels: Type: Documentation

#4217 [Explorer] Transaction Table Links should show link Color by Default
  explorer/client/src/components/table/TableCard.module.css
  explorer/client/src/components/table/TableCard.tsx
  explorer/client/src/components/transaction-card/RecentTxCard.module.css
  explorer/client/src/components/transaction-card/RecentTxCard.tsx
  explorer/client/src/pages/transactions/Transactions.module.css
  explorer/client/tailwind.config.js
Labels: sui-explorer

#4211 Update explorer cookie name
  explorer/client/src/components/cookies-consent/CookiesConsent.tsx
Labels: sui-explorer

#4263 Rename cmd from transfer-coin to transfer
  crates/sui-cost/src/empirical_transaction_cost.rs
  crates/sui-open-rpc/src/generate_json_rpc_spec.rs
  crates/sui/src/client_commands.rs
  crates/sui/src/unit_tests/cli_tests.rs
  crates/sui/tests/full_node_tests.rs
  doc/src/contribute/cli-client.md
Labels: Type: Documentation

#4241 Updating index.md object specifications
  doc/src/learn/index.md
Labels: Type: Documentation

#4242 [wallet-ext] Add wallet to pnpm workspace
  .github/workflows/wallet-ext-prs.yml
  explorer/client/package.json
  explorer/client/src/components/displaybox/DisplayBox.tsx
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  wallet/README.md
  wallet/examples/demo-nft-dapp/package-lock.json
  wallet/font-icons/README.md
  wallet/package-lock.json
  wallet/package.json
Labels: sui-explorer

#3857 [explorer] Migrate to new home page
  explorer/client/src/components/transaction-card/RecentTxCard.tsx
  explorer/client/src/pages/config/AppRoutes.tsx
Labels: sui-explorer

#4257 fix typo in the doc.
  doc/src/build/move/build-test.md
Labels: Type: Documentation

#4267 Fix updated reference to sui::object and UID
  doc/src/learn/index.md
Labels: Type: Documentation

#4243 Update faq.md testnet references to reflect current state
  doc/src/contribute/faq.md
Labels: Type: Documentation

#4275 Swap id for info in Move Build and Test doc
  doc/src/build/move/build-test.md
  doc/src/build/move/debug-publish.md
  doc/src/build/move/sui-move-library.md
Labels: Type: Documentation

#4274 Shorten page nav titles, create Reference section, move CLI Client back to Build
  doc/src/navconfig.json
Labels: Type: Documentation

#4282 Update cli-client.md with `sui move build` command for troubleshooting
  doc/src/contribute/cli-client.md
Labels: Type: Documentation

#4287 Fix link to API reference in nav
  doc/src/navconfig.json
Labels: Type: Documentation

#4238 Announce Bullshark and Shared Objects in Learn See what's new section
  doc/src/learn/index.md
Labels: Type: Documentation

#4290 Add Reference page, include in navigation, move related links there
  doc/src/build/comms.md
  doc/src/build/index.md
  doc/src/build/reference.md
  doc/src/navconfig.json
Labels: Type: Documentation

#4289 Adding a new topic for Sui Explorer
  doc/src/explore/sui-explorer.md
  doc/src/navconfig.json
  doc/src/siteconfig.json
Labels: Type: Documentation

#4293 Revert "Adding a new topic for Sui Explorer"
  doc/src/explore/sui-explorer.md
  doc/src/navconfig.json
  doc/src/siteconfig.json
Labels: Type: Documentation

#4294 New topic for Sui Explorer
  doc/src/explore/sui-explorer.md
  doc/src/navconfig.json
  doc/src/siteconfig.json
Labels: Type: Documentation

#4300 Update sui-explorer.md
  doc/src/explore/sui-explorer.md
Labels: Type: Documentation

#4301 Note verbose messaging for failed builds in Build Test doc
  doc/src/build/move/build-test.md
Labels: Type: Documentation

#4278 Deprecate sui move utf8
  crates/sui-config/tests/snapshots/snapshot_tests__empty_genesis_snapshot_matches.snap
  crates/sui-core/src/unit_tests/event_handler_tests.rs
  crates/sui-cost/tests/snapshots/snapshot_tests__good_snapshot.snap
  crates/sui-framework/sources/devnet_nft.move
  crates/sui-framework/sources/erc721_metadata.move
  crates/sui-framework/sources/utf8.move
  crates/sui-json-rpc-types/src/lib.rs
  crates/sui-json-rpc-types/src/unit_tests/rpc_types_tests.rs
  doc/book/examples/sources/basics/strings.move
  doc/book/examples/sources/basics/transfer.move
  doc/book/examples/sources/patterns/capability.move
  doc/book/examples/sources/samples/nft.move
Labels: Type: Documentation

#4177 [explorer] Migrate explorer to vite
  explorer/client/.env
  explorer/client/.env.development
  explorer/client/cypress.config.ts
  explorer/client/index.html
  explorer/client/package.json
  explorer/client/postcss.config.js
  explorer/client/src/__tests__/unit.test.ts
  explorer/client/src/components/cookies-consent/CookiesConsent.tsx
  explorer/client/src/components/module/ModuleView.tsx
  explorer/client/src/index.tsx
  explorer/client/src/pages/object-result/ObjectResult.tsx
  explorer/client/src/react-app-env.d.ts
  explorer/client/src/utils/envUtil.ts
  explorer/client/src/utils/reportWebVitals.ts
  explorer/client/src/vite-env.d.ts
  explorer/client/vite.config.ts
  pnpm-lock.yaml
  sdk/typescript/bcs/package.json
Labels: sui-explorer

#4330 Update write-package.md id reference
  doc/src/build/move/write-package.md
Labels: Type: Documentation

#4317 update rust sdk docs
  doc/src/build/rust-sdk.md
Labels: Type: Documentation

#4335 [explorer] Set full width for table
  explorer/client/src/components/table/TableCard.module.css
Labels: sui-explorer

#4341 [explorer] Add vitest UI
  explorer/client/package.json
  explorer/client/src/setupTests.ts
  pnpm-lock.yaml
Labels: sui-explorer

#4319 Entry function must not return any value
  doc/src/explore/prototypes.md
Labels: Type: Documentation

#4312 Fix the event tab hight set to set 100vh on transaction page
  explorer/client/src/pages/transaction-result/TransactionResult.module.css
Labels: sui-explorer

#4313 Adding images to Sui Explorer topic
  doc/src/explore/sui-explorer.md
  doc/static/explorer-address-details-page.png
  doc/static/explorer-choose-network.png
  doc/static/explorer-object-details-page.png
  doc/static/explorer-package-details-page.png
  doc/static/explorer-start-page.png
  doc/static/explorer-transaction-details-page.png
  doc/static/explorer-transactions-page.png
  doc/static/transfersui-address-signatures-page.png
Labels: Type: Documentation

#4315 Prepare references to forthcoming crypto example
  doc/src/explore/examples.md
  sui_programmability/examples/README.md
Labels: Type: Documentation

#4295 Remove unused imported module and update some CLI command
  doc/src/build/move/build-test.md
  doc/src/build/programming-with-objects/ch2-using-objects.md
  doc/src/build/programming-with-objects/ch3-immutable-objects.md
  doc/src/build/programming-with-objects/ch5-child-objects.md
Labels: Type: Documentation

#4316 chore: upgrade narwhal pointer
  Cargo.lock
  crates/sui-benchmark/Cargo.toml
  crates/sui-cluster-test/Cargo.toml
  crates/sui-config/Cargo.toml
  crates/sui-config/src/genesis.rs
  crates/sui-config/tests/snapshot_tests.rs
  crates/sui-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-3.snap
  crates/sui-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-4.snap
  crates/sui-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-5.snap
  crates/sui-core/Cargo.toml
  crates/sui-core/src/authority_server.rs
  crates/sui-cost/Cargo.toml
  crates/sui-faucet/Cargo.toml
  crates/sui-framework/Cargo.toml
  crates/sui-gateway/Cargo.toml
  crates/sui-json-rpc-types/Cargo.toml
  crates/sui-json-rpc/Cargo.toml
  crates/sui-json/Cargo.toml
  crates/sui-sdk/Cargo.toml
  crates/sui-storage/Cargo.toml
  crates/sui-telemetry/Cargo.toml
  crates/sui-tool/Cargo.toml
  crates/sui-types/Cargo.toml
  crates/sui-types/src/README.md
  crates/sui-types/src/crypto.rs
  crates/sui/Cargo.toml
  crates/workspace-hack/Cargo.toml
  crates/x/src/lint.rs
Labels: breaking change

#4370 [Explorer] Swaps three dots for unicode ellipsis
  explorer/client/src/components/transactions-for-id/TxForID.tsx
  explorer/client/src/utils/stringUtils.ts
Labels: sui-explorer

#4369 [Explorer] Changes website title from SuiExplorer to Sui Explorer
  explorer/client/index.html
Labels: sui-explorer

#4361 Rename doc/src/contribute/cli-client.md to doc/src/build/cli-client.md
  doc/src/build/cli-client.md
Labels: Type: Documentation

#4360 Restore links to CLI Client file moved back to build directory
  README.md
  crates/sui-framework/README.md
  crates/sui-sdk/README.md
  doc/src/build/devnet.md
  doc/src/build/index.md
  doc/src/contribute/faq.md
  doc/src/explore/tutorials.md
  doc/src/explore/wallet-browser.md
  doc/src/learn/architecture/validators.md
  doc/src/learn/index.md
  doc/src/learn/sui-compared.md
  doc/src/learn/sui-glossary.md
  doc/src/navconfig.json
  doc/src/siteconfig.json
Labels: Type: Documentation

#4357 Announce Cryptography (math) example in Learn > See what's new section
  doc/src/learn/index.md
Labels: Type: Documentation

#4397 Fix link to relocated VS Code Plugin blog post on Dev Portal landing …
  doc/src/siteconfig.json
Labels: Type: Documentation

#4392 [ts-sdk] Remove TSDX, replace with tsup / vitest
  .changeset/happy-papayas-return.md
  explorer/client/package.json
  pnpm-lock.yaml
  sdk/typescript/.eslintrc.cjs
  sdk/typescript/bcs/package.json
  sdk/typescript/bcs/tests/bcs.test.ts
  sdk/typescript/bcs/tests/serde.test.ts
  sdk/typescript/bcs/tsconfig.json
  sdk/typescript/experimental/package.json
  sdk/typescript/experimental/tsconfig.json
  sdk/typescript/package.json
  sdk/typescript/src/rpc/client.ts
  sdk/typescript/src/types/option.ts
  sdk/typescript/test/cryptography/ed25519-keypair.test.ts
  sdk/typescript/test/cryptography/publickey.test.ts
  sdk/typescript/test/rpc/client.test.ts
  sdk/typescript/test/signers/raw-signer.test.ts
  sdk/typescript/test/types/framework.test.ts
  sdk/typescript/test/types/objects.test.ts
  sdk/typescript/test/types/stringTypes.test.ts
  sdk/typescript/test/types/transactions.test.ts
  sdk/typescript/tsconfig.json
  sdk/typescript/vitest.config.ts
  wallet-adapter/package.json
  wallet-adapter/packages/adapters/all-wallets/package.json
  wallet-adapter/packages/adapters/all-wallets/tsconfig.json
  wallet-adapter/packages/adapters/base-adapter/package.json
  wallet-adapter/packages/adapters/base-adapter/tsconfig.json
  wallet-adapter/packages/adapters/mock-wallet/package.json
  wallet-adapter/packages/adapters/mock-wallet/tsconfig.json
  wallet-adapter/packages/adapters/sui-wallet/package.json
  wallet-adapter/packages/adapters/sui-wallet/tsconfig.json
  wallet-adapter/packages/react-providers/package.json
  wallet-adapter/packages/react-providers/tsconfig.json
  wallet-adapter/packages/ui/package.json
  wallet-adapter/packages/ui/tsconfig.json
  wallet-adapter/tsconfig.base.json
  wallet-adapter/tsconfig.json
  wallet/package.json
Labels: sui-explorer

#4400 Announce Sui version 0.8.0 in Learn > See what's new section
  doc/src/learn/index.md
Labels: Type: Documentation

#4340 [FE] Use path aliases for app dependencies
  .gitattributes
  .github/workflows/explorer-client-prs.yml
  .github/workflows/wallet-ext-prs.yml
  explorer/client/.eslintrc.js
  explorer/client/README.md
  explorer/client/tsconfig.json
  explorer/client/vite.config.ts
  package.json
  pnpm-lock.yaml
  sdk/typescript/bcs/package.json
  sdk/typescript/jest.config.js
  sdk/typescript/package.json
  sdk/typescript/test/tsconfig.json
  sdk/typescript/vitest.config.ts
  wallet-adapter/package.json
  wallet-adapter/setupTests.ts
  wallet/.eslintrc.js
  wallet/README.md
  wallet/configs/ts/tsconfig.common.json
  wallet/jest.config.ts
  wallet/package.json
  wallet/src/shared/cryptography/mnemonics.test.ts
  wallet/vitest.config.ts
Labels: sui-explorer

#3809 [examples] Adds a devpass (subscription) example
  sui_programmability/examples/defi/sources/subscription.move
Labels: move

#4351 keytool: Remove default key scheme as ed25519
  crates/sui-sdk/README.md
  crates/sui-sdk/src/crypto.rs
  crates/sui-sdk/tests/tests.rs
  crates/sui-types/src/crypto.rs
  crates/sui/src/client_commands.rs
  crates/sui/src/keytool.rs
  crates/sui/src/sui_commands.rs
  crates/sui/src/unit_tests/cli_tests.rs
  doc/src/build/cli-client.md
  doc/src/build/devnet.md
Labels: Type: Documentation

#4389 Announce need to specify key scheme type as an argument on Learn > Se…
  doc/src/learn/index.md
Labels: Type: Documentation

#4412 [explorer] Remove tailwind deprecation notice
  explorer/client/tailwind.config.js
Labels: sui-explorer
