Repository MystenLabs/sui, pull requests merged in 2022-07, with the labels that each got.

#2859 Replace Wallet with Sui CLI in Dev Portal left navigation
  doc/src/navconfig.json
Labels: Type: Documentation

#2867 Announce `wallet` binary replacement with Sui CLI client in Learn See…
  doc/src/learn/index.md
Labels: Type: Documentation

#2740 Display nested struct and vec fields
  explorer/client/package.json
  explorer/client/src/pages/object-result/ObjectLoaded.tsx
  explorer/client/src/pages/object-result/ObjectResult.module.css
Labels: sui-explorer

#2860 Replace Wallet with Sui CLI in Dev Portal landing page
  doc/src/siteconfig.json
Labels: Type: Documentation

#2872 [Explorer] Fixes mistaken rendering of image in case of 0x2
  explorer/client/src/utils/objectUtils.ts
  explorer/client/src/utils/stringUtils.ts
Labels: Type: Bug, sui-explorer

#2899 Add Sui Incentivized Testnet
  doc/src/learn/index.md
Labels: Type: Documentation

#2630 [explorer] Displays Transaction Timestamps
  explorer/client/src/__tests__/e2e.test.ts
  explorer/client/src/__tests__/unit.test.ts
  explorer/client/src/components/transaction-card/RecentTxCard.module.css
  explorer/client/src/components/transaction-card/RecentTxCard.tsx
  explorer/client/src/components/transactions-for-id/TxForID.module.css
  explorer/client/src/components/transactions-for-id/TxForID.tsx
  explorer/client/src/pages/transaction-result/TransactionResult.tsx
  explorer/client/src/pages/transaction-result/TransactionResultType.tsx
  explorer/client/src/pages/transaction-result/TransactionView.tsx
  explorer/client/src/setupTests.ts
  explorer/client/src/utils/api/DefaultRpcClient.ts
  explorer/client/src/utils/static/latest_transactions.json
  explorer/client/src/utils/static/mock_data.json
  explorer/client/src/utils/static/tx_for_id.json
  explorer/client/src/utils/timeUtils.ts
  sdk/typescript/src/types/transactions.ts
Labels: sui-explorer

#2916 Fix link on About Sui to theblock.co
  doc/src/learn/about-sui.md
Labels: Type: Documentation

#2935 Fix wrong installation instruction
  doc/src/build/install.md
  doc/utils/sui-setup.sh
Labels: Type: Documentation

#2925 Update sui-compared.md
  doc/src/learn/sui-compared.md
Labels: Type: Documentation

#2970 Announce the Move Visual Studio Code (VSCode) plugin in Learn See wha…
  doc/src/learn/index.md
Labels: Type: Documentation

#2969 Announce Incentivized Testnet and VSCode Plugin on Dev Portal landing…
  doc/src/siteconfig.json
Labels: Type: Documentation

#2965 Add SUI tokens section to central Install docs
  doc/src/build/install.md
Labels: Type: Documentation

#2989 Upload images for Sui Wallet browser extension setup and configure
  doc/static/Sui-explorer-token-transfer.png
  doc/static/Sui-wallet-ToS.png
  doc/static/Sui-wallet-copy-address.png
  doc/static/Sui-wallet-get-started.png
  doc/static/Sui-wallet-new-account.png
  doc/static/Sui-wallet-no-tokens.png
Labels: Type: Documentation

#2988 Create Using the Sui Wallet Browser Extension page under Explore
  doc/src/explore/wallet-browser.md
Labels: Type: Documentation

#2992 Update wallet-browser.md with use images, fix path to tokens not found
  doc/src/explore/wallet-browser.md
Labels: Type: Documentation

#3002 Add first animated GIF for Sui Wallet as test
  doc/static/create_NFT.gif
Labels: Type: Documentation

#2993 Add signing and history entries to new Wallet Browser page
  doc/src/explore/wallet-browser.md
Labels: Type: Documentation

#3007 Finish Demos section with animated GIFs
  doc/src/explore/wallet-browser.md
Labels: Type: Documentation

#3008 Refine Wallet Browser doc
  doc/src/explore/wallet-browser.md
Labels: Type: Documentation

#2985 Update DevNet revision number in Learn See what's new to 0.5.0
  doc/src/learn/index.md
Labels: Type: Documentation

#3015 Update json-rpc.md with reference to TypeScript
  doc/src/build/json-rpc.md
Labels: Type: Documentation

#3017 Update wallet-browser.md with Contribute section pointing to Wallet source
  doc/src/explore/wallet-browser.md
Labels: Type: Documentation

#3016 Announce TypeScript in Learn See what's new section
  doc/src/learn/index.md
Labels: Type: Documentation

#3018 Simplify tokens steps by pointing to new install docs
  doc/src/explore/devnet.md
Labels: Type: Documentation

#3023 Replace static Wallet browser images with annotated versions
  doc/static/NFT-transfer.png
  doc/static/Sui-wallet-ToS.png
  doc/static/Sui-wallet-get-started.png
  doc/static/Sui-wallet-new-account.png
  doc/static/Sui-wallet-no-tokens.png
  doc/static/token-transfer.png
  doc/static/tokens.png
Labels: Type: Documentation

#3028 Move Purpose above Features in Wallet browser doc
  doc/src/explore/wallet-browser.md
Labels: Type: Documentation

#3062 Document xctrace usage
  doc/src/contribute/xcode-instruments.md
Labels: Type: Documentation

#3064 Link to Sui repo, split out Rustdoc and Help sections in Install doc
  doc/src/build/install.md
Labels: Type: Documentation

#2984 (Memory Profiling) Add Jemalloc to sui node, bench
  Cargo.lock
  Cargo.toml
  crates/sui-benchmark/Cargo.toml
  crates/sui-benchmark/src/bin/bench.rs
  crates/sui-node/Cargo.toml
  crates/sui-node/src/main.rs
  crates/sui/Cargo.toml
  doc/src/contribute/observability.md
Labels: Type: Documentation

#3075 Edit and format xcode-instruments.md
  doc/src/contribute/xcode-instruments.md
Labels: Type: Documentation

#3077 Add Profiling on macOS link to xcode-instruments in Dev Portal left nav
  doc/src/navconfig.json
Labels: Type: Documentation

#3082 Fix reference to token transfer GIF
  doc/src/explore/wallet-browser.md
Labels: Type: Documentation

#3098 [TypeScript SDK] Fix type definition for AuthorityQuorumSignInfo
  crates/sui-open-rpc/samples/objects.json
  crates/sui-open-rpc/samples/owned_objects.json
  crates/sui-open-rpc/samples/transactions.json
  explorer/client/src/components/transactions-for-id/TxForID.tsx
  explorer/client/src/pages/transaction-result/TransactionResult.tsx
  explorer/client/src/pages/transaction-result/TransactionResultType.tsx
  explorer/client/src/pages/transaction-result/TransactionView.tsx
  explorer/client/src/utils/static/mock_data.json
  explorer/client/yarn.lock
  sdk/typescript/src/index.guard.ts
  sdk/typescript/src/types/transactions.ts
Labels: sui-explorer

#3100 Explorer: Fix off by 1 error in pagination
  explorer/client/src/components/transaction-card/RecentTxCard.tsx
Labels: sui-explorer

#3089 Standardize on Devnet capitalization in Fullnode doc
  doc/src/build/fullnode.md
Labels: Type: Documentation

#2761 [explorer] Redesigns Header and Footer
  explorer/client/src/__tests__/e2e.test.ts
  explorer/client/src/app/App.module.css
  explorer/client/src/app/App.tsx
  explorer/client/src/assets/Down.svg
  explorer/client/src/assets/Sui Logo.svg
  explorer/client/src/assets/search.svg
  explorer/client/src/components/footer/Footer.module.css
  explorer/client/src/components/footer/Footer.tsx
  explorer/client/src/components/header/Header.module.css
  explorer/client/src/components/header/Header.tsx
  explorer/client/src/components/network/Network.module.css
  explorer/client/src/components/network/Network.tsx
  explorer/client/src/components/pagination/PaginationWrapper.module.css
  explorer/client/src/components/search/Search.module.css
  explorer/client/src/components/search/Search.tsx
  explorer/client/src/index.css
  explorer/client/src/pages/home/Home.module.css
  explorer/client/tailwind.config.js
Labels: sui-explorer

#3113 Replace common with simple and most with many in intro docs
  doc/src/build/programming-with-objects/ch2-using-objects.md
  doc/src/learn/about-sui.md
  doc/src/learn/how-sui-works.md
  doc/src/learn/sui-compared.md
Labels: Type: Documentation

#3112 Add Transaction to Sui Glossary, switch single-writer for -owner
  doc/src/learn/sui-glossary.md
Labels: Type: Documentation

#3092 Standardize on Devnet capitalization in CLI Client doc
  doc/src/build/cli-client.md
Labels: Type: Documentation

#3090 Standardize json-rpc doc on Devnet, Mainnet, Testnet
  doc/src/build/json-rpc.md
Labels: Type: Documentation

#3085 Standardize FAQ on Devnet, Mainnet, Testnet
  doc/src/contribute/faq.md
Labels: Type: Documentation

#3086 Standardize on Devnet capitalization in navigation
  doc/src/navconfig.json
Labels: Type: Documentation

#3087 Standardize on Devnet capitalization in Devnet doc
  doc/src/explore/devnet.md
Labels: Type: Documentation

#3126 [book] Sui Move by Example
  doc/book/.gitignore
  doc/book/README.md
  doc/book/book.toml
  doc/book/examples/.gitignore
  doc/book/examples/Move.toml
  doc/book/examples/README.md
  doc/book/examples/sources/basics/bag.move
  doc/book/examples/sources/basics/custom-transfer.move
  doc/book/examples/sources/basics/entry-functions.move
  doc/book/examples/sources/basics/events.move
  doc/book/examples/sources/basics/init-function.move
  doc/book/examples/sources/basics/owned-objects.move
  doc/book/examples/sources/basics/shared-object.move
  doc/book/examples/sources/basics/strings.move
  doc/book/examples/sources/basics/transfer.move
  doc/book/examples/sources/basics/vec-map.move
  doc/book/examples/sources/patterns/capability.move
  doc/book/examples/sources/patterns/hot-potato.move
  doc/book/examples/sources/patterns/transferable-witness.move
  doc/book/examples/sources/patterns/witness.move
  doc/book/examples/sources/samples/coin.move
  doc/book/examples/sources/samples/nft.move
  doc/book/misc/move.js
  doc/book/src/README.md
  doc/book/src/SUMMARY.md
  doc/book/src/basics/README.md
  doc/book/src/basics/bag.md
  doc/book/src/basics/custom-transfer.md
  doc/book/src/basics/entry-functions.md
  doc/book/src/basics/events.md
  doc/book/src/basics/init-function.md
  doc/book/src/basics/move-toml.md
  doc/book/src/basics/owned-objects.md
  doc/book/src/basics/shared-object.md
  doc/book/src/basics/strings.md
  doc/book/src/basics/transfer.md
  doc/book/src/basics/vec-map.md
  doc/book/src/patterns/README.md
  doc/book/src/patterns/capability.md
  doc/book/src/patterns/hot-potato.md
  doc/book/src/patterns/transferable-witness.md
  doc/book/src/patterns/witness.md
  doc/book/src/samples/README.md
  doc/book/src/samples/character.md
  doc/book/src/samples/coin.md
  doc/book/src/samples/nft.md
  doc/book/theme/highlight.js
Labels: Type: Documentation

#3101 Explorer transfer table1
  explorer/client/package.json
  explorer/client/src/assets/SVGIcons/failed.svg
  explorer/client/src/assets/SVGIcons/forward-arrow-dark.svg
  explorer/client/src/assets/SVGIcons/forward-arrow.svg
  explorer/client/src/assets/SVGIcons/success.svg
  explorer/client/src/components/longtext/Longtext.tsx
  explorer/client/src/components/network-stats/SuiNetworkStats.module.css
  explorer/client/src/components/network-stats/SuiNetworkStats.tsx
  explorer/client/src/components/table/TableCard.module.css
  explorer/client/src/components/table/TableCard.tsx
  explorer/client/src/components/tabs/TabFooter.tsx
  explorer/client/src/components/tabs/Tabs.module.css
  explorer/client/src/components/tabs/Tabs.tsx
  explorer/client/src/components/top-groups/TopGroups.module.css
  explorer/client/src/components/top-groups/TopGroups.tsx
  explorer/client/src/components/top-validators-card/TopValidatorsCard.module.css
  explorer/client/src/components/top-validators-card/TopValidatorsCard.tsx
  explorer/client/src/components/transaction-card/RecentTxCard.module.css
  explorer/client/src/components/transaction-card/RecentTxCard.tsx
  explorer/client/src/components/transaction-count/TxCountCard.module.css
  explorer/client/src/components/transaction-count/TxCountCard.tsx
  explorer/client/src/pages/home/Home.module.css
  explorer/client/src/pages/home/Home.tsx
  explorer/client/src/utils/numberUtil.ts
  explorer/client/src/utils/timeUtils.ts
Labels: sui-explorer

#3140 Very small update and fix
  explorer/client/src/__tests__/e2e.test.ts
  explorer/client/src/app/App.module.css
  explorer/client/src/app/App.tsx
  explorer/client/src/components/tabs/TabFooter.tsx
  explorer/client/src/components/tabs/Tabs.module.css
  explorer/client/src/components/transaction-card/RecentTxCard.tsx
  explorer/client/src/pages/home/Home.module.css
Labels: sui-explorer

#3083 Add macOS profiling to Explore index
  doc/src/contribute/index.md
Labels: Type: Documentation

#3162 Build out Sui Move section of Why Move with announcement and examples
  doc/src/learn/why-move.md
Labels: Type: Documentation

#3161 Announce Sui Move unveiling in Learn See what's new section
  doc/src/learn/index.md
Labels: Type: Documentation

#3160 Announce Sui Move unveiling on Dev Portal landing page
  doc/src/siteconfig.json
Labels: Type: Documentation

#3088 Standardize on Devnet capitalization in Contribute index
  doc/src/contribute/index.md
Labels: Type: Documentation

#3091 Standardize on Devnet capitalization in Install doc
  doc/src/build/install.md
Labels: Type: Documentation

#3167 Announce Sui version 0.6.0 in Learn See what's new section
  doc/src/learn/index.md
Labels: Type: Documentation

#3168 [docs] Update Move analyzer installation instructions
  doc/src/build/install.md
Labels: Type: Documentation

#3155 [docs] Update fullnode.md
  doc/src/build/fullnode.md
Labels: Type: Documentation

#3149 Sui Windows installation instructions
  doc/src/build/install.md
Labels: Type: Documentation

#3186 Move Mac profiling file to new tips directory
  doc/tips/xcode-instruments.md
Labels: Type: Documentation

#2647 Explorer: Image Moderation integration
  explorer/client/public/assets/fallback.png
  explorer/client/src/components/displaybox/DisplayBox.module.css
  explorer/client/src/components/displaybox/DisplayBox.tsx
  explorer/client/src/pages/object-result/ObjectResult.module.css
  explorer/client/src/utils/imageModeratorClient.ts
Labels: sui-explorer

#3025 Add Wallet Browser Extension to left nav of Dev Portal
  doc/src/navconfig.json
Labels: Type: Documentation

#3027 Announce Sui Wallet Browser Extension on Dev Portal landing page
  doc/src/siteconfig.json
Labels: Type: Documentation

#3180 Explorer new design- transaction
  explorer/client/package.json
  explorer/client/src/__tests__/e2e.test.ts
  explorer/client/src/assets/SVGIcons/Call.svg
  explorer/client/src/assets/SVGIcons/Done.svg
  explorer/client/src/assets/SVGIcons/Publish.svg
  explorer/client/src/assets/SVGIcons/Start.svg
  explorer/client/src/assets/SVGIcons/TransferObject.svg
  explorer/client/src/assets/SVGIcons/back-arrow-dark.svg
  explorer/client/src/assets/SVGIcons/chevron-down.svg
  explorer/client/src/components/table/TableCard.tsx
  explorer/client/src/components/tabs/Tabs.module.css
  explorer/client/src/pages/object-result/ObjectResult.module.css
  explorer/client/src/pages/transaction-result/SendReceiveView.module.css
  explorer/client/src/pages/transaction-result/SendReceiveView.tsx
  explorer/client/src/pages/transaction-result/TransactionResult.module.css
  explorer/client/src/pages/transaction-result/TransactionResult.tsx
  explorer/client/src/pages/transaction-result/TransactionResultType.tsx
  explorer/client/src/pages/transaction-result/TransactionView.tsx
  explorer/client/src/pages/transaction-result/TxLinks.module.css
  explorer/client/src/pages/transaction-result/TxLinks.tsx
  explorer/client/src/pages/transaction-result/TxModuleView.module.css
  explorer/client/src/pages/transaction-result/TxModuleView.tsx
  explorer/client/src/pages/transaction-result/TxModulesWrapper.tsx
  explorer/client/src/pages/transaction-result/TxResultHeader.module.css
  explorer/client/src/pages/transaction-result/TxResultHeader.tsx
Labels: sui-explorer

#3197 Update wallet-browser.md with latest link
  doc/src/explore/wallet-browser.md
Labels: Type: Documentation

#3185 Fix incorrect linebreak on research papers
  doc/src/contribute/research-papers.md
Labels: Type: Documentation

#3201 Remove Mac profiling from Contribute index
  doc/src/contribute/index.md
Labels: Type: Documentation

#3187 Remove Mac profiling from Dev Portal navigation
  doc/src/navconfig.json
Labels: Type: Documentation

#3216 Updating sui-move command
  doc/src/build/move.md
Labels: Type: Documentation

#3208 [explorer] Removes word copyright from footer
  explorer/client/src/components/footer/Footer.tsx
  explorer/client/yarn.lock
Labels: sui-explorer

#3222 Fixed JSON file
  doc/src/siteconfig.json
Labels: Type: Documentation

#3218 Add Docker Compose reset instructions to Fullnode doc
  doc/src/build/fullnode.md
Labels: Type: Documentation

#3219 Update json-rpc.md to reflect switch from sui-move command to sui move
  doc/src/build/json-rpc.md
Labels: Type: Documentation

#3220 Update ch1-object-basics.md to reflect switch from sui-move command to sui move
  doc/src/build/programming-with-objects/ch1-object-basics.md
Labels: Type: Documentation

#3102 Refactor sui-client for Sui Rust SDK and Rust SDK example project
  Cargo.lock
  Cargo.toml
  crates/sui-cluster-test/Cargo.toml
  crates/sui-cluster-test/src/main.rs
  crates/sui-core/Cargo.toml
  crates/sui-core/src/event_handler.rs
  crates/sui-core/src/gateway_state.rs
  crates/sui-core/src/unit_tests/event_handler_tests.rs
  crates/sui-faucet/Cargo.toml
  crates/sui-faucet/src/faucet/mod.rs
  crates/sui-faucet/src/faucet/simple_faucet.rs
  crates/sui-gateway/Cargo.toml
  crates/sui-gateway/src/rpc_gateway_client.rs
  crates/sui-gateway/src/unit_tests/rpc_server_tests.rs
  crates/sui-json-rpc-api/src/client.rs
  crates/sui-json-rpc-types/Cargo.toml
  crates/sui-json-rpc-types/src/lib.rs
  crates/sui-json-rpc-types/src/unit_tests/rpc_types_tests.rs
  crates/sui-json-rpc/Cargo.toml
  crates/sui-json-rpc/src/api.rs
  crates/sui-json-rpc/src/bcs_api.rs
  crates/sui-json-rpc/src/event_api.rs
  crates/sui-json-rpc/src/gateway_api.rs
  crates/sui-json-rpc/src/lib.rs
  crates/sui-json-rpc/src/read_api.rs
  crates/sui-open-rpc-macros/src/lib.rs
  crates/sui-open-rpc/Cargo.toml
  crates/sui-open-rpc/src/generate_json_rpc_spec.rs
  crates/sui-sdk/Cargo.toml
  crates/sui-sdk/README.md
  crates/sui-sdk/examples/event_subscription.rs
  crates/sui-sdk/examples/get_owned_objects.rs
  crates/sui-sdk/examples/tic_tac_toe.rs
  crates/sui-sdk/examples/transfer_coins.rs
  crates/sui-sdk/src/crypto.rs
  crates/sui-sdk/src/lib.rs
  crates/sui/Cargo.toml
  crates/sui/src/client_commands.rs
  crates/sui/src/config/mod.rs
  crates/sui/src/keytool.rs
  crates/sui/src/sui_commands.rs
  crates/sui/src/unit_tests/cli_tests.rs
  crates/sui/tests/full_node_tests.rs
  crates/test-utils/Cargo.toml
  crates/test-utils/src/network.rs
  doc/src/build/rust-sdk.md
Labels: Type: Documentation

#3169 [governance] add delegation switching and some tests
  crates/sui-framework/sources/balance.move
  crates/sui-framework/sources/governance/delegation.move
  crates/sui-framework/sources/governance/sui_system.move
  crates/sui-framework/sources/governance/validator.move
  crates/sui-framework/sources/governance/validator_set.move
  crates/sui-framework/tests/delegation_tests.move
  crates/sui-framework/tests/governance_test_utils.move
  crates/sui-framework/tests/validator_set_tests.move
Labels: tokenomics

#3232 Explorer: add 'ago' to time column
  explorer/client/src/components/transaction-card/RecentTxCard.tsx
Labels: sui-explorer

#3237 Explorer: render transferSui
  explorer/client/src/pages/transaction-result/TransactionView.tsx
  explorer/client/src/pages/transaction-result/TxResultHeader.tsx
  explorer/client/src/utils/api/DefaultRpcClient.ts
  explorer/client/yarn.lock
  sdk/typescript/src/index.guard.ts
  sdk/typescript/src/types/transactions.ts
Labels: sui-explorer

#3228 update css styles
  explorer/client/src/pages/transaction-result/SendReceiveView.module.css
  explorer/client/src/pages/transaction-result/SendReceiveView.tsx
  explorer/client/src/pages/transaction-result/TransactionResult.module.css
  explorer/client/src/pages/transaction-result/TxLinks.module.css
Labels: sui-explorer

#3245 fix pagination and style fixes
  explorer/client/src/__tests__/e2e.test.ts
  explorer/client/src/assets/SVGIcons/Copy.svg
  explorer/client/src/components/longtext/Longtext.module.css
  explorer/client/src/components/longtext/Longtext.tsx
  explorer/client/src/components/pagination/Pagination.module.css
  explorer/client/src/components/pagination/Pagination.tsx
  explorer/client/src/components/table/TableCard.module.css
  explorer/client/src/components/table/TableCard.tsx
  explorer/client/src/index.css
  explorer/client/src/pages/transaction-result/SendReceiveView.module.css
  explorer/client/src/pages/transaction-result/SendReceiveView.tsx
  explorer/client/src/pages/transaction-result/TransactionResult.module.css
  explorer/client/src/pages/transaction-result/TxResultHeader.module.css
  explorer/client/src/pages/transaction-result/TxResultHeader.tsx
Labels: sui-explorer

#3136 Explorer: set up Sentry
  explorer/client/package.json
  explorer/client/src/components/transaction-card/RecentTxCard.tsx
  explorer/client/src/index.tsx
  explorer/client/src/pages/object-result/ObjectResult.tsx
  explorer/client/src/pages/transaction-result/TransactionResult.tsx
  explorer/client/src/utils/envUtil.ts
  explorer/client/src/utils/searchUtil.ts
  explorer/client/yarn.lock
Labels: sui-explorer

#3206 Reorganize OS-specific prereqs, make global packages generic
  doc/src/build/install.md
Labels: Type: Documentation

#3223 Convert html table to markdown table in sui-json.md
  doc/src/build/sui-json.md
Labels: Type: Documentation

#3266 Update panzerdogs.md to use Explorer link now that it
  doc/src/explore/panzerdogs.md
Labels: Type: Documentation

#3296 Add CMake Installation tutorial to central Sui install docs
  doc/src/build/install.md
Labels: Type: Documentation

#3301 Update sui-move-diffs.md to replace id.move with object.move
  doc/src/learn/sui-move-diffs.md
Labels: Type: Documentation

#3300 Update move.md to replace id.move with object.move
  doc/src/build/move.md
Labels: Type: Documentation

#3157 [explorer] Implements Address Results Redesign
  explorer/client/src/__tests__/e2e.test.ts
  explorer/client/src/assets/AddressIcon.svg
  explorer/client/src/assets/SVGIcons/back-arrow.svg
  explorer/client/src/components/cookies-consent/CookiesConsent.tsx
  explorer/client/src/components/displaybox/DisplayBox.tsx
  explorer/client/src/components/ownedobjects/OwnedObjects.module.css
  explorer/client/src/components/ownedobjects/OwnedObjects.tsx
  explorer/client/src/components/pagination/PaginationWrapper.module.css
  explorer/client/src/components/pagination/PaginationWrapper.tsx
  explorer/client/src/components/transactions-for-id/TxForID.tsx
  explorer/client/src/pages/address-result/AddressResult.module.css
  explorer/client/src/pages/address-result/AddressResult.tsx
  explorer/client/src/pages/object-result/ObjectResult.module.css
  explorer/client/src/utils/static/mock_data.json
  explorer/client/src/utils/static/owned_object.json
  explorer/client/yarn.lock
Labels: sui-explorer

#3290 fixed pagination
  explorer/client/src/components/pagination/Pagination.module.css
  explorer/client/src/components/pagination/Pagination.tsx
  explorer/client/src/components/tabs/TabFooter.tsx
  explorer/client/src/components/tabs/Tabs.module.css
  explorer/client/src/components/transaction-card/RecentTxCard.tsx
  explorer/client/src/pages/transaction-result/TxModuleView.module.css
  explorer/client/src/pages/transaction-result/TxModulesWrapper.tsx
Labels: sui-explorer

#3315 Add doc templates to Contribute, split and rename Doc section of page
  doc/src/contribute/index.md
Labels: Type: Documentation

#3317 Reorganize Learn contents per Eng review
  doc/src/build/index.md
  doc/src/learn/how-sui-works.md
  doc/src/learn/why-move.md
  doc/src/navconfig.json
Labels: Type: Documentation

#3356 Fix formatting of list in new single-writer apps page
  doc/src/learn/single-writer-apps.md
Labels: Type: Documentation

#3355 Announce single-writer apps for simple transaction in Learn See what'…
  doc/src/learn/index.md
Labels: Type: Documentation

#3339 Announce Sui version 0.6.1 on Learn See what's new, link to Discord f…
  doc/src/learn/index.md
Labels: Type: Documentation

#3360 Fix final line break
  doc/src/learn/single-writer-apps.md
Labels: Type: Documentation

#2994 [crypto] Unify Narwhal and Sui Crypto
  Cargo.lock
  crates/sui-benchmark/Cargo.toml
  crates/sui-benchmark/src/benchmark/transaction_creator.rs
  crates/sui-benchmark/src/benchmark/validator_preparer.rs
  crates/sui-config/Cargo.toml
  crates/sui-config/src/builder.rs
  crates/sui-config/src/genesis.rs
  crates/sui-config/src/node.rs
  crates/sui-core/Cargo.toml
  crates/sui-core/src/authority_active/gossip/configurable_batch_action_client.rs
  crates/sui-core/src/authority_server.rs
  crates/sui-core/src/checkpoints/causal_order_effects.rs
  crates/sui-core/src/checkpoints/tests/checkpoint_tests.rs
  crates/sui-core/src/epoch/reconfiguration.rs
  crates/sui-core/src/epoch/tests/reconfiguration_tests.rs
  crates/sui-core/src/generate_format.rs
  crates/sui-core/src/node_sync/node_follower.rs
  crates/sui-core/src/unit_tests/authority_aggregator_tests.rs
  crates/sui-core/src/unit_tests/authority_tests.rs
  crates/sui-core/src/unit_tests/batch_tests.rs
  crates/sui-core/tests/staged/sui.yaml
  crates/sui-node/src/lib.rs
  crates/sui-open-rpc/samples/objects.json
  crates/sui-open-rpc/samples/owned_objects.json
  crates/sui-open-rpc/samples/transactions.json
  crates/sui-open-rpc/spec/openrpc.json
  crates/sui-sdk/src/crypto.rs
  crates/sui-storage/src/follower_store.rs
  crates/sui-types/Cargo.toml
  crates/sui-types/src/base_types.rs
  crates/sui-types/src/batch.rs
  crates/sui-types/src/committee.rs
  crates/sui-types/src/crypto.rs
  crates/sui-types/src/error.rs
  crates/sui-types/src/messages.rs
  crates/sui-types/src/messages_checkpoint.rs
  crates/sui-types/src/signature_seed.rs
  crates/sui-types/src/unit_tests/base_types_tests.rs
  crates/sui-types/src/unit_tests/messages_tests.rs
  crates/sui-types/src/unit_tests/utils.rs
  crates/sui/Cargo.toml
  crates/sui/src/genesis_ceremony.rs
  crates/sui/src/keytool.rs
  crates/sui/src/sui_commands.rs
  crates/sui/src/unit_tests/cli_tests.rs
  crates/test-utils/src/lib.rs
  crates/test-utils/src/messages.rs
  crates/test-utils/src/network.rs
  crates/workspace-hack/Cargo.toml
  sdk/typescript/src/index.guard.ts
  sdk/typescript/src/rpc/client.guard.ts
  sdk/typescript/test/types/transactions.test.ts
Labels: crypto

#2510 [examples] swap pool implementation
  crates/sui-framework/sources/balance.move
  sui_programmability/examples/defi/sources/pool.move
Labels: move

#3371 Replace signature_seed implementation with Narwhal's crypto
  crates/sui-types/src/crypto.rs
  crates/sui-types/src/signature_seed.rs
  sdk/typescript/bcs/examples/readme.js
Labels: crypto

#3319 Break down Move doc into sub-pages
  doc/src/build/move/build-test.md
  doc/src/build/move/debug-publish.md
  doc/src/build/move/index.md
  doc/src/build/move/sui-move-library.md
  doc/src/build/move/write-package.md
Labels: Type: Documentation

#3348 Split out Move docs in Dev Portal left navigation
  doc/src/navconfig.json
Labels: Type: Documentation

#3347 Fix links into newly broken down Move doc
  README.md
  doc/src/build/cli-client.md
  doc/src/build/index.md
  doc/src/build/install.md
  doc/src/build/json-rpc.md
  doc/src/build/objects.md
  doc/src/build/programming-with-objects/ch1-object-basics.md
  doc/src/build/programming-with-objects/ch2-using-objects.md
  doc/src/build/programming-with-objects/index.md
  doc/src/build/transactions.md
  doc/src/explore/devnet.md
  doc/src/explore/tutorials.md
  doc/src/explore/wallet-browser.md
  doc/src/learn/how-sui-works.md
  doc/src/learn/index.md
  doc/src/learn/sui-compared.md
  doc/src/learn/sui-move-diffs.md
  doc/src/learn/sui-security.md
  doc/src/learn/why-move.md
Labels: Type: Documentation

#3379 Spell out and link to rustup contents, fix curl reference in Install …
  doc/src/build/install.md
Labels: Type: Documentation

#3365 Edit contents of examples.sui.io
  doc/book/book.toml
  doc/book/examples/sources/basics/strings.move
  doc/book/examples/sources/basics/transfer.move
  doc/book/examples/sources/patterns/transferable-witness.move
  doc/book/src/README.md
  doc/book/src/basics/README.md
  doc/book/src/basics/entry-functions.md
  doc/book/src/basics/init-function.md
  doc/book/src/basics/move-toml.md
  doc/book/src/basics/transfer.md
  doc/book/src/patterns/README.md
  doc/book/src/patterns/capability.md
  doc/book/src/samples/README.md
  doc/book/src/samples/nft.md
  doc/src/explore/examples.md
Labels: Type: Documentation

#3363 Replace inline Prototypes with examples.sui.io in Dev Portal footer
  doc/src/siteconfig.json
Labels: Type: Documentation

#3362 Replace inline Examples with examples.sui.io in Dev Portal Quick Links
  doc/src/navconfig.json
Labels: Type: Documentation

#3386 Add Fullnode and PubSub to Build index workflow
  doc/src/build/index.md
Labels: Type: Documentation

#3388 Fixed missing comma
  doc/src/navconfig.json
Labels: Type: Documentation

#3390 Fix JSON file
  doc/src/siteconfig.json
Labels: Type: Documentation

#3401 Fix silly extra paren in Wallet doc
  doc/src/explore/wallet-browser.md
Labels: Type: Documentation

#3333 [explorer] Pagination Redesign and Refactoring
  explorer/client/.stylelintrc.json
  explorer/client/src/__tests__/e2e.test.ts
  explorer/client/src/components/ownedobjects/OwnedObjects.tsx
  explorer/client/src/components/pagination/Pagination.module.css
  explorer/client/src/components/pagination/Pagination.tsx
  explorer/client/src/components/pagination/PaginationLogic.tsx
  explorer/client/src/components/pagination/PaginationWrapper.module.css
  explorer/client/src/components/pagination/PaginationWrapper.tsx
  explorer/client/src/components/tabs/Tabs.module.css
  explorer/client/src/components/transaction-card/RecentTxCard.tsx
  explorer/client/src/components/transactions-for-id/TxForID.tsx
  explorer/client/src/pages/transaction-result/TxModuleView.module.css
  explorer/client/src/pages/transaction-result/TxModulesWrapper.tsx
  explorer/client/tailwind.config.js
Labels: sui-explorer

#3403 Make Install docs by OS much more clear
  doc/src/build/install.md
Labels: Type: Documentation

#3434 Update openrpc.json link in docs
  doc/src/build/json-rpc.md
  doc/src/contribute/faq.md
  doc/src/explore/prototypes.md
  doc/src/learn/index.md
  doc/src/siteconfig.json
Labels: Type: Documentation

#3437 Explorer: fix signatures
  explorer/client/src/pages/transaction-result/TransactionResult.tsx
  explorer/client/src/pages/transaction-result/TransactionView.tsx
  explorer/client/src/utils/static/mock_data.json
Labels: sui-explorer

#3447 Deleting redundant move.md file now in move subdir
  doc/src/build/move.md
Labels: Type: Documentation

#3448 fix typo
  doc/src/learn/sui-security.md
Labels: Type: Documentation

#3432 Correct transfer_object function Build/chapter 4
  doc/src/build/programming-with-objects/ch4-object-wrapping.md
  sui_programmability/examples/objects_tutorial/sources/trusted_swap.move
Labels: Type: Documentation

#3440 Fix miscapitalization in debug-publish.md title
  doc/src/build/move/debug-publish.md
Labels: Type: Documentation

#3446 Make need for updates clear, remove sudo from commands, format and li…
  doc/src/build/install.md
Labels: Type: Documentation

#3464 Announce sui::id is now sui::object and VersionedID is now Info in Learn > See what's new
  doc/src/learn/index.md
Labels: Type: Documentation

#3454 Fix typos
  doc/src/learn/sui-security.md
  doc/src/learn/tokenomics/gas-pricing.md
Labels: Type: Documentation

#3467 Fix name of tutorial
  doc/src/learn/index.md
Labels: Type: Documentation

#3449 Explorer recenttx update
  explorer/client/src/components/tabs/TabFooter.tsx
  explorer/client/src/components/tabs/Tabs.module.css
  explorer/client/src/components/transaction-card/RecentTxCard.tsx
  explorer/client/src/pages/home/Home.tsx
Labels: sui-explorer

#3192 [explorer] Validators
  explorer/client/src/components/error-result/ErrorResult.module.css
  explorer/client/src/components/longtext/Longtext.module.css
  explorer/client/src/components/longtext/Longtext.tsx
  explorer/client/src/components/table/TableCard.tsx
  explorer/client/src/components/top-validators-card/TopValidatorsCard.tsx
  explorer/client/src/pages/config/AppRoutes.tsx
  explorer/client/src/pages/home/Home.module.css
  explorer/client/src/pages/home/Home.tsx
  explorer/client/src/pages/validators/Validators.tsx
  explorer/client/src/pages/validators/mockData.ts
  sdk/typescript/src/index.guard.ts
  sdk/typescript/src/types/objects.ts
Labels: sui-explorer

#3461 [book] Fixes errors introduced by object::Info
  doc/book/examples/sources/basics/custom-transfer.move
  doc/book/examples/sources/basics/entry-functions.move
  doc/book/examples/sources/basics/events.move
  doc/book/examples/sources/basics/init-function.move
  doc/book/examples/sources/basics/shared-object.move
  doc/book/examples/sources/basics/strings.move
  doc/book/examples/sources/basics/transfer.move
  doc/book/examples/sources/patterns/capability.move
  doc/book/examples/sources/patterns/transferable-witness.move
  doc/book/examples/sources/patterns/witness.move
  doc/book/examples/sources/samples/nft.move
Labels: Type: Documentation

#3500 Explorer: render original Move field names
  explorer/client/src/pages/object-result/ObjectLoaded.tsx
  explorer/client/src/pages/object-result/ObjectResult.module.css
Labels: sui-explorer

#3465 Explorer: configure network
  explorer/client/src/components/network/Network.tsx
  explorer/client/src/context.ts
  explorer/client/src/utils/api/rpcSetting.ts
Labels: sui-explorer

#3503 Add connect to RPC server to Sui tokens section of Install docs
  doc/src/build/install.md
Labels: Type: Documentation

#3505 Announce support for Windows 11, macOS, and Linux in Learn See what's…
  doc/src/learn/index.md
Labels: Type: Documentation

#3509 Announce support for Windows, macOS and Linux on Dev Portal landing page
  doc/src/siteconfig.json
Labels: Type: Documentation

#3510 [explorer] Move bytecode improve for Object Results
  explorer/client/src/components/module/ModuleView.module.css
  explorer/client/src/components/module/ModuleView.tsx
  explorer/client/src/components/module/ModulesWrapper.tsx
  explorer/client/src/pages/object-result/ObjectLoaded.tsx
  explorer/client/src/pages/transaction-result/TransactionView.tsx
Labels: sui-explorer

#3507 Add Visual Studio 2022 Preview to Microsoft Windows dependencies
  doc/src/build/install.md
Labels: Type: Documentation

#3512 Update Dev Portal landing to link to precise Install doc OS section
  doc/src/siteconfig.json
Labels: Type: Documentation

#3513 Add Supported OSes named anchor to Windows announcement
  doc/src/learn/index.md
Labels: Type: Documentation

#3514 Delete doc/devnet directory
  doc/devnet/README.md
Labels: Type: Documentation

#3528 Update move-toml.md to remove Markdown extension from Dev Portal
  doc/book/src/basics/move-toml.md
Labels: Type: Documentation

#3529 Update entry-functions.md to remove Markdown extension from Dev Portal links
  doc/book/src/basics/entry-functions.md
Labels: Type: Documentation

#3455 fix doc typo
  doc/src/build/programming-with-objects/ch1-object-basics.md
  doc/src/build/programming-with-objects/ch2-using-objects.md
Labels: Type: Documentation

#3527 Fix link from Defining the package to Move source code section
  doc/src/build/move/write-package.md
Labels: Type: Documentation

#3418 [explorer] Tidies up console warning
  explorer/client/src/__tests__/e2e.test.ts
  explorer/client/src/components/ownedobjects/OwnedObjects.module.css
  explorer/client/src/components/ownedobjects/OwnedObjects.tsx
Labels: sui-explorer

#3523 [explorer] Migrate address view transaction table to new table UI
  explorer/client/src/__tests__/e2e.test.ts
  explorer/client/src/components/transactions-for-id/TxForID.tsx
Labels: sui-explorer

#3486 Edit Rust SDK doc, add links to supporting docs
  doc/src/build/rust-sdk.md
Labels: Type: Documentation

#3518 Add Docs Discord channel to Contribute page, Docs section
  doc/src/contribute/index.md
Labels: Type: Documentation

#3556 Update site to reflect dual branches
  doc/src/build/install.md
  doc/src/contribute/index.md
  doc/src/learn/index.md
Labels: Type: Documentation

#3539 Add Human Vs. Computer games in single-writer friendly app list
  doc/src/learn/single-writer-apps.md
Labels: Type: Documentation

#3610 [explorer] Removes min space for owned objects in mobile
  explorer/client/src/components/ownedobjects/OwnedObjects.module.css
Labels: sui-explorer

#3615 [Explorer] Add lint rule for copyright header
  explorer/client/.eslintrc.js
  explorer/client/package.json
  explorer/client/yarn.lock
Labels: sui-explorer

#3601 fix mobile alignment issues
  explorer/client/src/pages/transaction-result/TransactionResult.module.css
Labels: sui-explorer

#3540 [tutorial] add tictactoc publish script
  .gitignore
  Cargo.lock
  RELEASES.md
  crates/sui-node/Cargo.toml
  crates/sui-tool/Cargo.toml
  crates/sui/Cargo.toml
  doc/src/explore/tutorials.md
Labels: Type: Documentation

#3373 Use SuiClient instead of RPCGatewayClient in Sui CLI
  Cargo.lock
  crates/sui-benchmark/Cargo.toml
  crates/sui-benchmark/src/bin/stress.rs
  crates/sui-cluster-test/Cargo.toml
  crates/sui-cluster-test/src/helper.rs
  crates/sui-cluster-test/src/lib.rs
  crates/sui-cluster-test/src/test_case/native_transfer_test.rs
  crates/sui-cluster-test/src/wallet_client.rs
  crates/sui-config/src/gateway.rs
  crates/sui-config/src/lib.rs
  crates/sui-core/src/gateway_state.rs
  crates/sui-core/src/unit_tests/gateway_state_tests.rs
  crates/sui-faucet/src/faucet/simple_faucet.rs
  crates/sui-faucet/src/main.rs
  crates/sui-gateway/Cargo.toml
  crates/sui-gateway/src/config.rs
  crates/sui-gateway/src/lib.rs
  crates/sui-gateway/src/main.rs
  crates/sui-gateway/src/rpc_gateway_client.rs
  crates/sui-open-rpc/src/generate_json_rpc_spec.rs
  crates/sui-sdk/Cargo.toml
  crates/sui-sdk/examples/tic_tac_toe.rs
  crates/sui-sdk/examples/transfer_coins.rs
  crates/sui-sdk/src/crypto.rs
  crates/sui-sdk/src/lib.rs
  crates/sui/Cargo.toml
  crates/sui/src/client_commands.rs
  crates/sui/src/config/mod.rs
  crates/sui/src/sui_commands.rs
  crates/sui/src/unit_tests/cli_tests.rs
  crates/sui/tests/shared_objects_tests.rs
  crates/test-utils/Cargo.toml
  crates/test-utils/src/network.rs
  crates/test-utils/src/transaction.rs
  doc/src/build/rust-sdk.md
Labels: Type: Documentation
