Repository MystenLabs/sui, pull requests merged in 2022-10, with the labels that each got.

#4846 Add docs history topic
  doc/src/build/install.md
  doc/src/doc-updates/index.md
  doc/src/learn/objects.md
  doc/src/learn/transactions.md
  doc/src/navconfig.json
  doc/utils/sui-setup.sh
Labels: Type: Documentation

#4970 Fix typo and link in tutorials.md
  doc/src/explore/tutorials.md
Labels: Type: Documentation

#4909 [2/n] crypto: simplify keystore
  Cargo.lock
  crates/sui-benchmark/src/util.rs
  crates/sui-cluster-test/src/cluster.rs
  crates/sui-cluster-test/src/wallet_client.rs
  crates/sui-faucet/Cargo.toml
  crates/sui-faucet/src/faucet/simple_faucet.rs
  crates/sui-gateway/src/unit_tests/rpc_server_tests.rs
  crates/sui-open-rpc/Cargo.toml
  crates/sui-open-rpc/src/generate_json_rpc_spec.rs
  crates/sui-rosetta/Cargo.toml
  crates/sui-rosetta/src/main.rs
  crates/sui-sdk/examples/tic_tac_toe.rs
  crates/sui-sdk/examples/transfer_coins.rs
  crates/sui-sdk/src/crypto.rs
  crates/sui-sdk/tests/tests.rs
  crates/sui/src/client_commands.rs
  crates/sui/src/config/mod.rs
  crates/sui/src/keytool.rs
  crates/sui/src/sui_commands.rs
  crates/sui/src/unit_tests/cli_tests.rs
  crates/sui/src/unit_tests/keytool_tests.rs
  crates/sui/tests/checkpoints_tests.rs
  crates/sui/tests/full_node_tests.rs
  crates/sui/tests/transaction_orchestrator_tests.rs
  crates/test-utils/src/messages.rs
  crates/test-utils/src/network.rs
  crates/test-utils/src/transaction.rs
  doc/src/build/rust-sdk.md
Labels: Type: Documentation

#4992 Revert "[2/n] crypto: simplify keystore"
  Cargo.lock
  crates/sui-benchmark/src/util.rs
  crates/sui-cluster-test/src/cluster.rs
  crates/sui-cluster-test/src/wallet_client.rs
  crates/sui-faucet/Cargo.toml
  crates/sui-faucet/src/faucet/simple_faucet.rs
  crates/sui-gateway/src/unit_tests/rpc_server_tests.rs
  crates/sui-open-rpc/Cargo.toml
  crates/sui-open-rpc/src/generate_json_rpc_spec.rs
  crates/sui-rosetta/Cargo.toml
  crates/sui-rosetta/src/main.rs
  crates/sui-sdk/examples/tic_tac_toe.rs
  crates/sui-sdk/examples/transfer_coins.rs
  crates/sui-sdk/src/crypto.rs
  crates/sui-sdk/tests/tests.rs
  crates/sui/src/client_commands.rs
  crates/sui/src/config/mod.rs
  crates/sui/src/keytool.rs
  crates/sui/src/sui_commands.rs
  crates/sui/src/unit_tests/cli_tests.rs
  crates/sui/src/unit_tests/keytool_tests.rs
  crates/sui/tests/checkpoints_tests.rs
  crates/sui/tests/full_node_tests.rs
  crates/sui/tests/transaction_orchestrator_tests.rs
  crates/test-utils/src/messages.rs
  crates/test-utils/src/network.rs
  crates/test-utils/src/transaction.rs
  doc/src/build/rust-sdk.md
Labels: Type: Documentation

#4999 Reapply keystore
  Cargo.lock
  crates/sui-benchmark/src/util.rs
  crates/sui-cluster-test/src/cluster.rs
  crates/sui-cluster-test/src/wallet_client.rs
  crates/sui-faucet/Cargo.toml
  crates/sui-faucet/src/faucet/simple_faucet.rs
  crates/sui-gateway/src/unit_tests/rpc_server_tests.rs
  crates/sui-open-rpc/Cargo.toml
  crates/sui-open-rpc/src/generate_json_rpc_spec.rs
  crates/sui-rosetta/Cargo.toml
  crates/sui-rosetta/src/main.rs
  crates/sui-sdk/examples/tic_tac_toe.rs
  crates/sui-sdk/examples/transfer_coins.rs
  crates/sui-sdk/src/crypto.rs
  crates/sui-sdk/tests/tests.rs
  crates/sui/src/client_commands.rs
  crates/sui/src/config/mod.rs
  crates/sui/src/keytool.rs
  crates/sui/src/sui_commands.rs
  crates/sui/src/unit_tests/cli_tests.rs
  crates/sui/src/unit_tests/keytool_tests.rs
  crates/sui/tests/checkpoints_tests.rs
  crates/sui/tests/full_node_tests.rs
  crates/sui/tests/transaction_orchestrator_tests.rs
  crates/test-utils/src/messages.rs
  crates/test-utils/src/network.rs
  crates/test-utils/src/transaction.rs
  doc/src/build/rust-sdk.md
Labels: Type: Documentation

#4960 Updates to multiple topics to address issues, style, and discoverability
  doc/src/build/devnet.md
  doc/src/build/fullnode.md
  doc/src/build/install.md
  doc/src/contribute/index.md
  doc/src/doc-updates/index.md
  doc/src/explore/sui-explorer.md
Labels: Type: Documentation

#4914 Update wallet-browser.md
  doc/src/explore/wallet-browser.md
Labels: Type: Documentation

#4986 Updating links to moved object and transaction topics
  doc/src/build/cli-client.md
  doc/src/learn/how-sui-works.md
  doc/src/learn/objects.md
  doc/src/learn/sui-compared.md
  doc/src/learn/sui-glossary.md
  doc/src/learn/transactions.md
Labels: Type: Documentation

#5073 coin-object-id is renamed object-id
  doc/src/build/cli-client.md
Labels: Type: Documentation

#5024 Updating topics in the Explore section
  doc/src/explore/index.md
  doc/src/explore/prototypes.md
  doc/src/explore/sui-explorer.md
Labels: Type: Documentation

#5094 [framework] Adds bcs to sui framework
  crates/sui-config/tests/snapshots/snapshot_tests__empty_genesis_snapshot_matches.snap
  crates/sui-cost/tests/snapshots/empirical_transaction_cost__good_snapshot-2.snap
  crates/sui-cost/tests/snapshots/empirical_transaction_cost__good_snapshot.snap
  crates/sui-framework/docs/bcs.md
  crates/sui-framework/docs/elliptic_curve.md
  crates/sui-framework/sources/bcs.move
  crates/sui-framework/sources/crypto/bls12381.move
  crates/sui-framework/sources/crypto/bulletproofs.move
  crates/sui-framework/sources/crypto/ecdsa.move
  crates/sui-framework/sources/crypto/ed25519.move
  crates/sui-framework/sources/crypto/elliptic_curve.move
Labels: move

#5141 Add new folder for reference docs
  doc/src/reference/framework/index.md
  doc/src/reference/index.md
Labels: Type: Documentation

#5225 Fix a link to moved Objects topic
  doc/src/build/programming-with-objects/index.md
Labels: Type: Documentation

#5018 [framework] Adds sui::pay module for wallet functionality
  Cargo.lock
  crates/sui-adapter-transactional-tests/tests/sui/coin_transfer.move
  crates/sui-config/tests/snapshots/snapshot_tests__empty_genesis_snapshot_matches.snap
  crates/sui-core/src/gateway_state.rs
  crates/sui-cost/tests/empirical_transaction_cost.rs
  crates/sui-cost/tests/snapshots/empirical_transaction_cost__good_snapshot-2.snap
  crates/sui-cost/tests/snapshots/empirical_transaction_cost__good_snapshot.snap
  crates/sui-framework/docs/coin.md
  crates/sui-framework/docs/pay.md
  crates/sui-framework/docs/wallet.md
  crates/sui-framework/sources/coin.move
  crates/sui-framework/sources/pay.move
  crates/sui-framework/tests/coin_balance_tests.move
  crates/sui-framework/tests/pay_tests.move
  crates/sui-gateway/src/unit_tests/rpc_server_tests.rs
  crates/sui-rosetta/src/operations.rs
  crates/sui-transaction-builder/src/lib.rs
  crates/sui-types/src/coin.rs
  sdk/typescript/src/signers/txn-data-serializers/local-txn-data-serializer.ts
  sdk/typescript/src/types/framework.ts
  sui_programmability/examples/defi/tests/flash_lender_tests.move
  sui_programmability/examples/fungible_tokens/tests/basket_tests.move
Labels: move

#5244 doc(objects): fix links
  doc/src/learn/objects.md
Labels: Type: Documentation

#5249 Fix windows build failure
  .github/workflows/rust.yml
  crates/workspace-hack/Cargo.toml
  doc/src/build/install.md
  narwhal/examples/Cargo.toml
  narwhal/examples/build.rs
  narwhal/types/Cargo.toml
  narwhal/types/build.rs
Labels: Type: Documentation

#5243 remove some mentioning of gateway
  crates/sui-json-rpc/src/lib.rs
  crates/sui-open-rpc/spec/openrpc.json
  doc/src/build/devnet.md
  doc/src/build/rust-sdk.md
Labels: Type: Documentation

#5334 Change objectID from 16 to 20 bytes
  doc/src/build/sui-json.md
Labels: Type: Documentation

#5336 [documentation] Add trouble shooting step to the install doc
  doc/src/build/install.md
Labels: Type: Documentation, sui-devx-oncall

#5248 [examples, book] adds ID Pointer pattern example
  doc/book/examples/sources/patterns/hot_potato.move
  doc/book/examples/sources/patterns/id_pointer.move
  doc/book/src/SUMMARY.md
  doc/book/src/patterns/hot-potato.md
  doc/book/src/patterns/id-pointer.md
Labels: Type: Documentation

#5361 [fix] book build
  doc/book/examples/sources/patterns/id_pointer.move
Labels: Type: Documentation

#5366 Update docs sui twitter link
  doc/src/siteconfig.json
Labels: Type: Documentation

#5417 Updates for Sui Wallet .2 release
  doc/src/explore/wallet-browser.md
Labels: Type: Documentation

#5266 Updates for gateway deprecation 10/21
  doc/src/build/cli-client.md
  doc/src/build/comms.md
  doc/src/build/devnet.md
  doc/src/build/fullnode.md
  doc/src/build/json-rpc.md
  doc/src/build/pubsub.md
  doc/src/build/rust-sdk.md
  doc/src/build/sui-local-network.md
  doc/src/doc-updates/index.md
  doc/src/learn/how-sui-works.md
  doc/src/learn/sui-glossary.md
  doc/src/navconfig.json
Labels: Type: Documentation

#5463 Updating install command to use node not gateway
  doc/src/build/fullnode.md
  doc/src/build/install.md
Labels: Type: Documentation

#5474 Update Twitter links to SuiNetwork
  apps/explorer/src/components/footer/Footer.tsx
  doc/src/contribute/faq.md
Labels: Type: Documentation

#5407 [framework] Improves performance of BCS implementation
  crates/sui-config/tests/snapshots/snapshot_tests__empty_genesis_snapshot_matches.snap
  crates/sui-cost/tests/snapshots/empirical_transaction_cost__good_snapshot-2.snap
  crates/sui-cost/tests/snapshots/empirical_transaction_cost__good_snapshot.snap
  crates/sui-framework/docs/bcs.md
  crates/sui-framework/sources/bcs.move
Labels: move

#5494 Fixed link in devnet.md to sui token request section in install.md
  doc/src/build/devnet.md
Labels: Type: Documentation

#5508 Update install.md
  doc/src/build/install.md
Labels: Type: Documentation

#5447 [Dynamic Fields] Replace Child Object docs with Dynamic Field Docs
  doc/src/build/programming-with-objects/ch5-child-objects.md
  doc/src/build/programming-with-objects/ch5-dynamic-fields.md
  doc/src/build/programming-with-objects/ch6-collections.md
  doc/src/build/programming-with-objects/index.md
  doc/src/doc-updates/index.md
  doc/src/navconfig.json
Labels: Type: Documentation

#5368 Docs: Update nav titles, add a Reference node, move reference topics
  doc/src/build/index.md
  doc/src/build/reference.md
  doc/src/contribute/faq.md
  doc/src/doc-updates/index.md
  doc/src/navconfig.json
  doc/src/reference/framework/index.md
  doc/src/reference/index.md
  doc/src/reference/sui-json.md
  doc/src/siteconfig.json
Labels: Type: Documentation

#5516 Update siteconfig.json
  doc/src/siteconfig.json
Labels: Type: Documentation

#5528 chore: fix doc on SuiKeystore
  doc/src/build/rust-sdk.md
Labels: Type: Documentation

#5520 Update siteconfig.json
  doc/src/siteconfig.json
Labels: Type: Documentation

#5543 Improve transfer docs cli
  doc/src/build/cli-client.md
Labels: Type: Documentation

#5544 [move][test scenario] Fixed docs. Fixed immutable modified bug
  crates/sui-framework/src/natives/object_runtime/mod.rs
  crates/sui-framework/src/natives/test_scenario.rs
  crates/sui-framework/tests/test_scenario_tests.move
  doc/src/build/move/build-test.md
  doc/src/build/move/debug-publish.md
  doc/src/build/programming-with-objects/ch1-object-basics.md
  doc/src/build/programming-with-objects/ch2-using-objects.md
  doc/src/build/programming-with-objects/ch3-immutable-objects.md
Labels: Type: Documentation

#5551 updated correct path to the roadmap
  doc/src/contribute/index.md
Labels: Type: Documentation

#5546 Correcting link path
  doc/src/reference/index.md
Labels: Type: Documentation

#5563 chore: update roadmap link in explore docs
  doc/src/explore/index.md
  doc/src/learn/index.md
Labels: Type: Documentation

#5607 [Move] Expose causes for Move build errors
  crates/sui-framework-build/src/compiled_package.rs
  crates/sui-types/src/error.rs
Labels: Type: Enhancement, devx, move, rust

#5589 update install doc
  doc/src/build/install.md
Labels: Type: Documentation

#5641 [dynamic-fields][docs] Include "Collections"" in contents page.
  doc/src/build/programming-with-objects/index.md
Labels: Type: Documentation

#5536 New placeholder file for code examples
  doc/code-examples/index.md
Labels: Type: Documentation

#5659 Migrate to move v6 and u16, u32, u256 support
  Cargo.lock
  Cargo.toml
  crates/sui-config/tests/snapshots/snapshot_tests__empty_genesis_snapshot_matches.snap
  crates/sui-core/src/gateway_state.rs
  crates/sui-core/tests/staged/sui.yaml
  crates/sui-cost-tables/src/bytecode_tables.rs
  crates/sui-cost/tests/snapshots/calibration__bytecode_disassemble_snapshot.snap
  crates/sui-cost/tests/snapshots/calibration__natives_disassemble_snapshot.snap
  crates/sui-cost/tests/snapshots/empirical_transaction_cost__good_snapshot-2.snap
  crates/sui-cost/tests/snapshots/empirical_transaction_cost__good_snapshot.snap
  crates/sui-framework/docs/math.md
  crates/sui-framework/sources/math.move
  crates/sui-framework/src/natives/test_scenario.rs
  crates/sui-framework/tests/math_tests.move
  crates/sui-json-rpc-types/src/lib.rs
  crates/sui-json/src/lib.rs
  crates/sui-json/src/tests.rs
  crates/sui-open-rpc/spec/openrpc.json
  crates/sui-verifier/src/entry_points_verifier.rs
  crates/sui-verifier/src/global_storage_access_verifier.rs
  crates/sui-verifier/src/id_leak_verifier.rs
  crates/sui-verifier/src/lib.rs
  crates/sui-verifier/src/private_generics.rs
  crates/workspace-hack/Cargo.toml
  doc/src/build/sui-json.md
  doc/src/reference/sui-json.md
  sdk/typescript/src/signers/txn-data-serializers/call-arg-serializer.ts
  sdk/typescript/src/types/sui-bcs.ts
Labels: Type: Documentation, move, ts-sdk, rust-sdk

#5714 Update index.md
  doc/src/build/programming-with-objects/index.md
Labels: Type: Documentation

#5682 Update ch5-dynamic-fields.md
  doc/src/build/programming-with-objects/ch5-dynamic-fields.md
Labels: Type: Documentation
