Repository MystenLabs/sui, pull requests merged in 2023-02, with the labels that each got.

#7962 Grammar + spelling
  doc/src/learn/tokenomics/gas-pricing.md
Labels: Type: Documentation

#7980 hyperlink fix
  doc/src/learn/how-sui-works.md
Labels: Type: Documentation

#7984 fix broken links in move-example section
  doc/src/explore/move-examples/additional-resources.md
  doc/src/explore/move-examples/index.md
Labels: Type: Documentation

#7985 fix hyperlinks
  doc/src/build/install.md
Labels: Type: Documentation

#7999 Fix typo and add clarification to VSCode IDE setup
  doc/src/build/install.md
Labels: Type: Documentation

#8010 Update sui-local-network.md directory description
  doc/src/build/sui-local-network.md
Labels: Type: Documentation

#7937 [dynamic fields] Improve hashing generation
  crates/sui-framework/src/natives/dynamic_field.rs
Labels: breaking change

#8022 Update objects.md
  doc/src/learn/objects.md
Labels: Type: Documentation

#8034 Added SSD to fullnode hardware requirements
  doc/src/build/fullnode.md
Labels: Type: Documentation

#8066 add pkg-config package dependency
  doc/src/build/install.md
Labels: Type: Documentation

#8123 Update about-sui.md
  doc/src/learn/about-sui.md
Labels: Type: Documentation

#8168 fix to transfer CLI command
  doc/src/build/cli-client.md
Labels: Type: Documentation

#8234 Update debug-publish.md
  doc/src/build/move/debug-publish.md
Labels: Type: Documentation

#8232 Update build-test.md
  doc/src/build/move/build-test.md
Labels: Type: Documentation

#7922 [1/x][move] Expose Clock to Move code
  crates/sui-config/src/genesis.rs
  crates/sui-config/tests/snapshot_tests.rs
  crates/sui-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-3.snap
  crates/sui-framework/docs/clock.md
  crates/sui-framework/docs/genesis.md
  crates/sui-framework/docs/object.md
  crates/sui-framework/sources/clock.move
  crates/sui-framework/sources/governance/genesis.move
  crates/sui-framework/sources/object.move
  crates/sui-framework/src/natives/object_runtime/mod.rs
  crates/sui-json-rpc/src/unit_tests/rpc_server_tests.rs
  crates/sui-types/src/clock.rs
  crates/sui-types/src/lib.rs
  crates/sui-verifier-transactional-tests/tests/entry_points/clock_mut.exp
  crates/sui-verifier-transactional-tests/tests/entry_points/clock_mut.mvir
  crates/sui-verifier-transactional-tests/tests/entry_points/clock_ref.exp
  crates/sui-verifier-transactional-tests/tests/entry_points/clock_ref.mvir
  crates/sui-verifier-transactional-tests/tests/entry_points/clock_val.exp
  crates/sui-verifier-transactional-tests/tests/entry_points/clock_val.mvir
  crates/sui-verifier/src/entry_points_verifier.rs
Labels: move, rust, breaking change, sui-core

#8063 hyperlinks fix
  doc/book/src/README.md
  doc/src/build/cli-client.md
  doc/src/build/devnet.md
  doc/src/build/move/write-package.md
  doc/src/build/programming-with-objects/index.md
  doc/src/explore/tutorials.md
Labels: Type: Documentation

#7806 update sui build.md
  doc/src/build/install.md
Labels: Type: Documentation

#8072 Update install.md
  doc/src/build/install.md
Labels: Type: Documentation

#8143 Update exchange-integration-faq.md
  doc/src/learn/exchange-integration-faq.md
Labels: Type: Documentation

#6798 crypto: Ed25519 fromSecretKey takes pure 32 bytes privkey
  .changeset/sharp-dragons-refuse.md
  apps/wallet/src/test-utils/vault.ts
  crates/sui/src/unit_tests/keytool_tests.rs
  sdk/typescript/src/cryptography/ed25519-keypair.ts
  sdk/typescript/src/cryptography/keypair.ts
  sdk/typescript/test/unit/cryptography/ed25519-keypair.test.ts
  sdk/typescript/test/unit/cryptography/secp256k1-keypair.test.ts
Labels: breaking change

#8492 [docs] improve how sui works doc
  doc/src/learn/how-sui-works.md
Labels: Type: Documentation

#8502 cleanup docs
  doc/src/learn/architecture/consensus.md
  doc/src/learn/architecture/validators.md
  doc/src/learn/how-sui-works.md
  doc/src/learn/sui-compared.md
  doc/src/learn/sui-security.md
Labels: Type: Documentation

#7668 [framework] Display object module
  crates/sui-framework/docs/display.md
  crates/sui-framework/docs/vec_map.md
  crates/sui-framework/sources/display.move
Labels: move

#8500 removing outdated Prototypes section
  doc/src/explore/index.md
  doc/src/explore/panzerdogs.md
  doc/src/explore/prototypes.md
  doc/src/explore/sowork.md
  doc/src/navconfig.json
  doc/src/siteconfig.json
Labels: Type: Documentation

#8563 Update binary install document
  doc/src/build/install.md
Labels: Type: Documentation

#8614 Update patterns.md
  doc/src/explore/move-examples/patterns.md
Labels: Type: Documentation

#7678 [object] Store package version in object
  crates/sui-core/src/authority.rs
  crates/sui-core/src/authority/authority_store.rs
  crates/sui-core/src/transaction_manager.rs
  crates/sui-core/tests/staged/sui.yaml
  crates/sui-cost/tests/snapshots/empirical_transaction_cost__good_snapshot.snap
  crates/sui-json-rpc-types/src/lib.rs
  crates/sui-storage/src/event_store/test_utils.rs
  crates/sui-transaction-builder/src/lib.rs
  crates/sui-types/src/messages.rs
  crates/sui-types/src/move_package.rs
  crates/sui-types/src/object.rs
  crates/sui-types/src/unit_tests/event_filter_tests.rs
Labels: rust, sui-core

#8577 Update cli-client.md
  doc/src/build/cli-client.md
Labels: Type: Documentation

#8665 Adding new Sponsored Transactions topic
  doc/src/doc-updates/index.md
  doc/src/learn/sponsored-transactions.md
  doc/src/navconfig.json
Labels: Type: Documentation

#8627 [move] Expose epoch timestamp through `TxContext`
  crates/sui-adapter-transactional-tests/tests/size_limits/deleted_id_limits_tests.exp
  crates/sui-adapter-transactional-tests/tests/size_limits/new_id_limits_tests.exp
  crates/sui-adapter-transactional-tests/tests/size_limits/transfered_id_limits_tests.exp
  crates/sui-framework/docs/tx_context.md
  crates/sui-framework/sources/test/test_scenario.move
  crates/sui-framework/sources/tx_context.move
  crates/sui-framework/tests/test_scenario_tests.move
  crates/sui-types/src/base_types.rs
Labels: devx, move, breaking change

#8669 Update navconfig.json
  doc/src/navconfig.json
Labels: Type: Documentation

#8565 move: enable Move.lock files
  Cargo.lock
  crates/sui-core/Cargo.toml
  crates/sui-core/src/unit_tests/data/generate_move_lock_file/Move.toml
  crates/sui-core/src/unit_tests/data/generate_move_lock_file/sources/depends_on_basics.move
  crates/sui-core/src/unit_tests/move_integration_tests.rs
  crates/sui-framework-build/Cargo.toml
  crates/sui-move/src/build.rs
  crates/sui/src/client_commands.rs
  doc/in-progress/move_lock_file.md
Labels: Type: Documentation

#8664 [test-utils] Inject additional genesis objects for test cluster.
  Cargo.lock
  crates/sui-swarm/src/memory/swarm.rs
  crates/test-utils/Cargo.toml
  crates/test-utils/src/network.rs
  crates/test-utils/tests/network_tests.rs
Labels: test, cluster-test

#7927 Update copyright info
  doc/src/siteconfig.json
Labels: Type: Documentation

#8441 Update exchange-integration-faq.md
  doc/src/learn/exchange-integration-faq.md
Labels: Type: Documentation

#8723 Updating links that broke when code moved
  doc/src/learn/exchange-integration-guide.md
  doc/src/learn/index.md
  doc/src/reference/framework/index.md
Labels: Type: Documentation
