Repository MystenLabs/sui, pull requests merged in 2023-03, with the labels that each got.

#8750 [upgrades] Introduce Sui Framework APIs for package upgrades
  crates/sui-framework/docs/collectible.md
  crates/sui-framework/docs/display.md
  crates/sui-framework/docs/package.md
  crates/sui-framework/docs/publisher.md
  crates/sui-framework/sources/collectible.move
  crates/sui-framework/sources/display.move
  crates/sui-framework/sources/package.move
  crates/sui-framework/sources/publisher.move
  crates/sui-framework/tests/package_tests.move
  sdk/typescript/test/e2e/data/display_test/sources/display_test.move
Labels: move

#8728 Update exchange-integration-guide.md
  doc/src/learn/exchange-integration-guide.md
Labels: Type: Documentation

#7983 transactions flow example
  doc/src/learn/transactions.md
Labels: Type: Documentation

#8791 Wallet topic updates
  doc/src/explore/wallet-browser.md
Labels: Type: Documentation

#8798 Adding a new topic that includes info about upcoming breaking changes
  doc/src/doc-updates/sui-breaking-changes.md
  doc/src/navconfig.json
  doc/src/siteconfig.json
Labels: Type: Documentation

#8809 Update siteconfig.json to remove "external" from link
  doc/src/siteconfig.json
Labels: Type: Documentation

#8810 Update siteconfig.json
  doc/src/siteconfig.json
Labels: Type: Documentation

#8813 Update navconfig.json
  doc/src/navconfig.json
Labels: Type: Documentation

#8892 [sui-framework] Check test compilation with sui-specific verifier
  crates/sui-framework-test/src/lib.rs
  sui_programmability/examples/fungible_tokens/sources/treasury_lock.move
  sui_programmability/examples/nfts/tests/auction_tests.move
  sui_programmability/examples/nfts/tests/cross_chain_airdrop_tests.move
  sui_programmability/examples/nfts/tests/shared_auction_tests.move
  sui_programmability/examples/objects_tutorial/sources/color_object.move
Labels: move, test

#8836 Update sui-breaking-changes.md
  doc/src/doc-updates/sui-breaking-changes.md
Labels: Type: Documentation

#8922 Update sui-breaking-changes.md
  doc/src/doc-updates/sui-breaking-changes.md
Labels: Type: Documentation

#8729 [clock] Documenting ways to access time
  crates/sui-framework/docs/tx_context.md
  crates/sui-framework/sources/test/test_scenario.move
  crates/sui-framework/sources/tx_context.move
  crates/sui-framework/tests/test_scenario_tests.move
  doc/in-progress/time.md
Labels: Type: Documentation

#8948 [cli/move] Expose --Xdebug flag for sui move disassemble
  crates/sui-move/src/disassemble.rs
Labels: move, observability

#8872 [docs] Update move-analyzer install instructions
  doc/src/build/install.md
Labels: Type: Documentation

#9016 Update transactions.md
  doc/src/learn/transactions.md
Labels: Type: Documentation

#8986 Format updates and remove duplicate entry
  doc/src/doc-updates/sui-breaking-changes.md
Labels: Type: Documentation

#9024 Update transactions.md
  doc/src/learn/transactions.md
Labels: Type: Documentation

#9023 [clock] Add ability to create a Clock for testing
  crates/sui-framework/sources/clock.move
  crates/sui-framework/tests/clock_tests.move
  doc/in-progress/time.md
Labels: Type: Documentation, move

#8825 [programmable transactions] Publish produces UpgradeCap as result
  crates/sui-adapter-transactional-tests/tests/publish/publish_with_upgrade.exp
  crates/sui-adapter-transactional-tests/tests/publish/publish_with_upgrade.move
  crates/sui-adapter/src/programmable_transactions/context.rs
  crates/sui-adapter/src/programmable_transactions/execution.rs
  crates/sui-core/src/unit_tests/gas_tests.rs
  crates/sui-cost/tests/snapshots/empirical_transaction_cost__good_snapshot.snap
  crates/sui-framework/docs/package.md
  crates/sui-framework/sources/package.move
  crates/sui-transactional-test-runner/src/args.rs
  crates/sui-transactional-test-runner/src/test_adapter.rs
  crates/sui-types/src/move_package.rs
  crates/sui-types/src/programmable_transaction_builder.rs
  sdk/typescript/src/builder/legacy.ts
  sdk/typescript/test/e2e/utils/setup.ts
Labels: move, rust

#9049 Change view of SuiJSON Representations
  doc/src/reference/sui-json.md
Labels: Type: Documentation

#8919 move: validate dependencies' published addresses
  Cargo.lock
  crates/sui-benchmark/Cargo.toml
  crates/sui-core/src/test_utils.rs
  crates/sui-core/src/unit_tests/data/custom_properties_in_manifest_dependency_invalid_published_at/Move.toml
  crates/sui-core/src/unit_tests/data/custom_properties_in_manifest_dependency_invalid_published_at/sources/main.move
  crates/sui-core/src/unit_tests/data/custom_properties_in_manifest_dependency_missing_published_at/Move.toml
  crates/sui-core/src/unit_tests/data/custom_properties_in_manifest_dependency_missing_published_at/sources/main.move
  crates/sui-core/src/unit_tests/data/custom_properties_in_manifest_ensure_published_at/Move.toml
  crates/sui-core/src/unit_tests/data/custom_properties_in_manifest_ensure_published_at/sources/main.move
  crates/sui-core/src/unit_tests/move_integration_tests.rs
  crates/sui-framework-build/src/compiled_package.rs
  crates/sui-framework/Move.toml
  crates/sui-framework/build.rs
  crates/sui-framework/deps/move-stdlib/Move.toml
  crates/sui-json-rpc/Cargo.toml
  crates/sui-proc-macros/src/lib.rs
  crates/sui-simulator/Cargo.toml
  crates/sui-simulator/src/lib.rs
  crates/sui/Cargo.toml
  crates/sui/src/client_commands.rs
  crates/test-utils/Cargo.toml
  doc/in-progress/move_published_at_property.md
Labels: Type: Documentation

#9072 [rust-sdk] remove deprecated SuiClient::new
  crates/sui-sdk/src/lib.rs
  doc/src/build/rust-sdk.md
  doc/src/learn/exchange-integration-guide.md
Labels: Type: Documentation

#9088 Update sui-breaking-changes.md
  doc/src/doc-updates/sui-breaking-changes.md
Labels: Type: Documentation

#8842 [docs] In progress docs explaining Object versions
  doc/in-progress/object_versions.md
Labels: Type: Documentation

#9059 [sui-framework] Remove "delegate" and replace with `stake`
  .changeset/slimy-eels-obey.md
  apps/wallet/src/ui/app/components/receipt-card/StakeTxnCard.tsx
  apps/wallet/src/ui/app/redux/slices/sui-objects/Coin.ts
  crates/sui-benchmark/src/workloads/delegation.rs
  crates/sui-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-3.snap
  crates/sui-framework/docs/staking_pool.md
  crates/sui-framework/docs/sui_system.md
  crates/sui-framework/docs/validator.md
  crates/sui-framework/docs/validator_set.md
  crates/sui-framework/sources/governance/staking_pool.move
  crates/sui-framework/sources/governance/sui_system.move
  crates/sui-framework/sources/governance/validator.move
  crates/sui-framework/sources/governance/validator_set.move
  crates/sui-framework/tests/delegation_tests.move
  crates/sui-framework/tests/governance_test_utils.move
  crates/sui-framework/tests/rewards_distribution_tests.move
  crates/sui-framework/tests/sui_system_tests.move
  crates/sui-framework/tests/validator_set_tests.move
  crates/sui-framework/tests/validator_tests.move
  crates/sui-indexer/src/apis/transaction_builder_api.rs
  crates/sui-json-rpc/src/api/transaction_builder.rs
  crates/sui-json-rpc/src/transaction_builder_api.rs
  crates/sui-json-rpc/src/unit_tests/rpc_server_tests.rs
  crates/sui-node/src/lib.rs
  crates/sui-open-rpc/spec/openrpc.json
  crates/sui-rosetta/src/construction.rs
  crates/sui-rosetta/src/operations.rs
  crates/sui-rosetta/src/types.rs
  crates/sui-rosetta/src/unit_tests/balance_changing_tx_tests.rs
  crates/sui-rosetta/tests/end_to_end_tests.rs
  crates/sui-transaction-builder/src/lib.rs
  crates/sui-types/src/governance.rs
  crates/sui-types/src/sui_system_state/sui_system_state_inner_v1.rs
  crates/sui-types/src/sui_system_state/sui_system_state_summary.rs
  crates/sui/src/unit_tests/cli_tests.rs
  crates/sui/tests/reconfiguration_tests.rs
  crates/test-utils/src/messages.rs
  dapps/frenemies/src/components/Validators/actions/AddDelegation.tsx
  dapps/frenemies/src/components/Validators/actions/WithdrawDelegation.tsx
  doc/src/learn/exchange-integration-guide.md
  sdk/typescript/src/framework/sui-system-state.ts
  sdk/typescript/src/providers/json-rpc-provider.ts
  sdk/typescript/src/types/validator.ts
  sdk/typescript/test/e2e/governance.test.ts
  sdk/typescript/test/e2e/txn-builder.test.ts
  sdk/typescript/test/e2e/txn-serializer.test.ts
  sui_programmability/examples/new-frenemies/tests/frenemies_tests.move
  sui_programmability/examples/old-frenemies/tests/frenemies_tests.move
Labels: Type: Documentation

#9119 Copyedits for feature changes, consistency, style
  doc/src/learn/about-sui.md
  doc/src/learn/architecture/consensus.md
  doc/src/learn/architecture/validators.md
  doc/src/learn/exchange-integration-guide.md
  doc/src/learn/how-sui-works.md
  doc/src/learn/index.md
  doc/src/learn/objects.md
  doc/src/learn/single-writer-apps.md
  doc/src/learn/sponsored-transactions.md
  doc/src/learn/sui-glossary.md
  doc/src/learn/sui-move-diffs.md
  doc/src/learn/sui-security.md
  doc/src/learn/tokenomics/gas-pricing.md
  doc/src/learn/tokenomics/index.md
  doc/src/learn/tokenomics/proof-of-stake.md
  doc/src/learn/tokenomics/storage-fund.md
  doc/src/learn/tokenomics/sui-token.md
  doc/src/learn/transactions.md
  doc/src/learn/why-move.md
Labels: Type: Documentation

#9156 [rpc][1 of 2] refactor getTransactions -> queryTransactions
  .changeset/sour-dolls-search.md
  apps/explorer/src/components/transaction-card/TxForID.tsx
  apps/explorer/src/hooks/useSearch.ts
  apps/explorer/src/pages/checkpoints/Transactions.tsx
  apps/wallet/src/ui/app/hooks/index.ts
  apps/wallet/src/ui/app/hooks/useQueryTransactionsByAddress.ts
  apps/wallet/src/ui/app/pages/home/tokens/CoinActivityCard.tsx
  apps/wallet/src/ui/app/pages/home/transactions/index.tsx
  crates/sui-core/src/authority.rs
  crates/sui-indexer/src/apis/read_api.rs
  crates/sui-json-rpc-types/src/lib.rs
  crates/sui-json-rpc-types/src/sui_transaction.rs
  crates/sui-json-rpc/src/api/read.rs
  crates/sui-json-rpc/src/read_api.rs
  crates/sui-json-rpc/src/unit_tests/rpc_server_tests.rs
  crates/sui-open-rpc/spec/openrpc.json
  crates/sui-open-rpc/src/examples.rs
  crates/sui-sdk/src/apis.rs
  crates/sui-sdk/tests/stream_tests.rs
  crates/sui-storage/src/indexes.rs
  crates/sui-types/src/query.rs
  crates/sui/tests/full_node_tests.rs
  dapps/frenemies/src/network/queries/scorecard-history.ts
  doc/src/learn/exchange-integration-guide.md
  sdk/typescript/src/providers/json-rpc-provider.ts
  sdk/typescript/src/providers/provider.ts
  sdk/typescript/src/types/transactions.ts
  sdk/typescript/test/e2e/invalid-ids.test.ts
  sdk/typescript/test/e2e/read-transactions.test.ts
Labels: Type: Documentation

#9127 Updates for code changes, copyedits
  crates/sui-sdk/README.md
  doc/book/src/README.md
  doc/src/build/cli-client.md
  doc/src/build/devnet.md
  doc/src/build/faucet.md
  doc/src/build/install.md
  doc/src/build/json-rpc.md
  doc/src/build/move/write-package.md
  doc/src/build/programming-with-objects/index.md
  doc/src/build/sui-json.md
  doc/src/build/validator-node.md
  doc/src/contribute/code-of-conduct.md
  doc/src/contribute/faq.md
  doc/src/contribute/index.md
  doc/src/contribute/observability.md
  doc/src/explore/examples.md
  doc/src/explore/index.md
  doc/src/explore/move-examples/additional-resources.md
  doc/src/explore/move-examples/index.md
  doc/src/explore/sui-explorer.md
  doc/src/explore/tutorials.md
  doc/src/learn/architecture/consensus.md
  doc/src/learn/sui-compared.md
  doc/src/learn/tokenomics/proof-of-stake.md
  doc/src/navconfig.json
  doc/src/reference/sui-json.md
Labels: Type: Documentation

#9210 Update navconfig.json
  doc/src/navconfig.json
Labels: Type: Documentation

#9241 Adding new Breaking Changes in Release .28 entries for 10-13
  doc/src/doc-updates/sui-breaking-changes.md
Labels: Type: Documentation

#9164 [sui examples] Adds "publisher" and "display" pages
  doc/book/examples/sources/basics/display.move
  doc/book/examples/sources/basics/owned-objects.move
  doc/book/examples/sources/basics/publisher.move
  doc/book/src/SUMMARY.md
  doc/book/src/basics/display.md
  doc/book/src/basics/publisher.md
Labels: Type: Documentation

#9276 Docs 56
  doc/src/learn/transactions.md
Labels: Type: Documentation

#9281 New Migration Guide for release .28
  doc/src/doc-updates/sui-breaking-changes.md
  doc/src/doc-updates/sui-migration-guide.md
  doc/src/siteconfig.json
Labels: Type: Documentation

#9299 Misc updates for style, code changes, etc
  doc/src/build/comms.md
  doc/src/build/event_api.md
  doc/src/build/fullnode.md
  doc/src/build/index.md
  doc/src/build/install.md
  doc/src/build/json-rpc.md
  doc/src/build/rust-sdk.md
  doc/src/explore/tutorials.md
Labels: Type: Documentation

#9297 Move.lock
  doc/in-progress/move_lock_file.md
  doc/src/build/move/lock-file.md
Labels: Type: Documentation

#9292 New topic for accessing time in Sui Move
  doc/src/build/move/time.md
Labels: Type: Documentation

#9290 Added a move.toml topic
  doc/src/build/move/manifest.md
  doc/src/build/move/write-package.md
Labels: Type: Documentation

#9304 Incorrect flag used in docs
  doc/src/build/cli-client.md
Labels: Type: Documentation

#9306 Added versioning topic and updated nav
  doc/src/learn/object-package-versions.md
  doc/src/navconfig.json
Labels: Type: Documentation

#9311 Removed tilde from title
  doc/src/build/move/lock-file.md
  doc/src/build/move/manifest.md
Labels: Type: Documentation

#9316 Fixed broken nav link
  doc/src/navconfig.json
Labels: Type: Documentation

#9321 Update lock-file.md
  doc/src/build/move/lock-file.md
Labels: Type: Documentation

#9324 doc: update exchange integration
  doc/src/learn/exchange-integration-guide.md
Labels: Type: Documentation

#9323 Update navconfig.json
  doc/src/navconfig.json
Labels: Type: Documentation

#9180 [rust sdk] Adding options/pagination to get_objects_owned_by_address (WIP)
  .changeset/young-mangos-complain.md
  apps/explorer/src/components/ownedobjects/OwnedObjects.tsx
  apps/wallet/src/ui/app/hooks/useObjectsOwnedByAddress.ts
  crates/sui-core/src/authority.rs
  crates/sui-indexer/src/apis/read_api.rs
  crates/sui-json-rpc-types/src/sui_object.rs
  crates/sui-json-rpc/src/api/mod.rs
  crates/sui-json-rpc/src/api/read.rs
  crates/sui-json-rpc/src/read_api.rs
  crates/sui-json-rpc/src/transaction_builder_api.rs
  crates/sui-json-rpc/src/unit_tests/rpc_server_tests.rs
  crates/sui-open-rpc/spec/openrpc.json
  crates/sui-open-rpc/src/examples.rs
  crates/sui-rosetta/src/unit_tests/balance_changing_tx_tests.rs
  crates/sui-rosetta/tests/rosetta_client.rs
  crates/sui-sdk/examples/get_owned_objects.rs
  crates/sui-sdk/src/apis.rs
  crates/sui-sdk/src/lib.rs
  crates/sui-storage/src/indexes.rs
  crates/sui-transaction-builder/src/lib.rs
  crates/sui/src/client_commands.rs
  crates/sui/src/console.rs
  crates/sui/src/unit_tests/cli_tests.rs
  crates/test-utils/src/messages.rs
  crates/test-utils/src/transaction.rs
  dapps/frenemies/src/network/queries/use-raw.ts
  doc/src/build/json-rpc.md
  doc/src/build/rust-sdk.md
  sdk/typescript/README.md
  sdk/typescript/src/providers/json-rpc-provider.ts
  sdk/typescript/src/types/objects.ts
  sdk/typescript/test/e2e/dynamic-fields.test.ts
  sdk/typescript/test/e2e/invalid-ids.test.ts
  sdk/typescript/test/e2e/object-display-standard.test.ts
  sdk/typescript/test/e2e/objects.test.ts
  sdk/typescript/test/e2e/rpc-endpoint.test.ts
  sdk/typescript/test/e2e/utils/setup.ts
Labels: Type: Documentation

#9339 Update install.md
  doc/src/build/install.md
Labels: Type: Documentation

#9353 [rust sdk] Adding options/pagination to get_objects_owned_by_address …
  .changeset/young-mangos-complain.md
  Cargo.lock
  apps/explorer/src/components/ownedobjects/OwnedObjects.tsx
  apps/explorer/src/utils/api/searchUtil.ts
  apps/wallet/src/ui/app/hooks/useObjectsOwnedByAddress.ts
  crates/sui-core/src/authority.rs
  crates/sui-indexer/src/apis/read_api.rs
  crates/sui-json-rpc-types/src/sui_object.rs
  crates/sui-json-rpc/src/api/mod.rs
  crates/sui-json-rpc/src/api/read.rs
  crates/sui-json-rpc/src/read_api.rs
  crates/sui-json-rpc/src/transaction_builder_api.rs
  crates/sui-json-rpc/src/unit_tests/rpc_server_tests.rs
  crates/sui-open-rpc/spec/openrpc.json
  crates/sui-open-rpc/src/examples.rs
  crates/sui-rosetta/src/unit_tests/balance_changing_tx_tests.rs
  crates/sui-rosetta/tests/rosetta_client.rs
  crates/sui-sdk/examples/get_owned_objects.rs
  crates/sui-sdk/src/apis.rs
  crates/sui-sdk/src/lib.rs
  crates/sui-storage/src/indexes.rs
  crates/sui-transaction-builder/src/lib.rs
  crates/sui/src/client_commands.rs
  crates/sui/src/console.rs
  crates/sui/src/unit_tests/cli_tests.rs
  crates/test-utils/src/messages.rs
  crates/test-utils/src/transaction.rs
  dapps/frenemies/src/network/queries/use-raw.ts
  doc/src/build/json-rpc.md
  doc/src/build/rust-sdk.md
  sdk/typescript/README.md
  sdk/typescript/src/providers/json-rpc-provider.ts
  sdk/typescript/src/types/objects.ts
  sdk/typescript/test/e2e/dynamic-fields.test.ts
  sdk/typescript/test/e2e/invalid-ids.test.ts
  sdk/typescript/test/e2e/object-display-standard.test.ts
  sdk/typescript/test/e2e/objects.test.ts
  sdk/typescript/test/e2e/rpc-endpoint.test.ts
  sdk/typescript/test/e2e/utils/setup.ts
Labels: Type: Documentation

#9359 Update install.md
  doc/src/build/install.md
Labels: Type: Documentation

#9367 updates for release .28
  doc/src/build/devnet.md
  doc/src/build/fullnode.md
  doc/src/build/json-rpc.md
  doc/src/contribute/faq.md
  doc/src/explore/move-examples/additional-resources.md
  doc/src/explore/move-examples/basics.md
  doc/src/explore/move-examples/index.md
  doc/src/explore/move-examples/patterns.md
  doc/src/explore/move-examples/samples.md
  doc/src/navconfig.json
  doc/src/siteconfig.json
Labels: Type: Documentation

#8521 Sui orchestrator
  Cargo.lock
  Cargo.toml
  crates/sui-orchestrator/Cargo.toml
  crates/sui-orchestrator/assets/plot.py
  crates/sui-orchestrator/assets/settings.json
  crates/sui-orchestrator/readme.md
  crates/sui-orchestrator/src/benchmark.rs
  crates/sui-orchestrator/src/client/aws.rs
  crates/sui-orchestrator/src/client/mod.rs
  crates/sui-orchestrator/src/client/vultr.rs
  crates/sui-orchestrator/src/config.rs
  crates/sui-orchestrator/src/display.rs
  crates/sui-orchestrator/src/error.rs
  crates/sui-orchestrator/src/logs.rs
  crates/sui-orchestrator/src/main.rs
  crates/sui-orchestrator/src/measurement.rs
  crates/sui-orchestrator/src/orchestrator.rs
  crates/sui-orchestrator/src/plot.rs
  crates/sui-orchestrator/src/settings.rs
  crates/sui-orchestrator/src/ssh.rs
  crates/sui-orchestrator/src/testbed.rs
  crates/sui-tls/src/lib.rs
  crates/workspace-hack/Cargo.toml
  crates/x/src/lint.rs
Labels: benchmark

#9452 Devnet topic updates for new console output
  doc/src/build/devnet.md
  doc/static/build-explorer-object.png
Labels: Type: Documentation

#9469 Sui test val
  doc/src/build/sui-local-network.md
Labels: Type: Documentation

#9473 Obj delete and chunk commit cherry
  crates/sui-indexer/src/models/objects.rs
  crates/sui-indexer/src/store/indexer_store.rs
  crates/sui-indexer/src/store/pg_indexer_store.rs
Labels: Type: Documentation

#9484 Update sui-local-network.md
  doc/src/build/sui-local-network.md
Labels: Type: Documentation

#9472 Update sui-local-network.md
  doc/src/build/sui-local-network.md
Labels: Type: Documentation

#9489 Added information about TS-SDK
  doc/src/build/sui-local-network.md
Labels: Type: Documentation

#9508 Update sui-local-network.md
  doc/src/build/sui-local-network.md
Labels: Type: Documentation

#9491 fix: remove incorrect SuiAddress derive
  crates/sui-config/tests/snapshot_tests.rs
  crates/sui-config/tests/snapshots/snapshot_tests__genesis_config_snapshot_matches.snap
  crates/sui-types/src/base_types.rs
  crates/sui-types/src/crypto.rs
  doc/src/learn/exchange-integration-guide.md
Labels: Type: Documentation

#9525 Add instruction for CLI connection in sui-local-network.md
  doc/src/build/sui-local-network.md
Labels: Type: Documentation

#9534 [cherrypick][rpc] Add show_raw_transaction to SuiTransactionResponseOptions (#9521)
  crates/sui-indexer/src/models/transactions.rs
  crates/sui-indexer/src/types.rs
  crates/sui-json-rpc-types/src/sui_transaction.rs
  crates/sui-json-rpc/src/lib.rs
  crates/sui-json-rpc/src/read_api.rs
  crates/sui-json-rpc/src/transaction_execution_api.rs
  crates/sui-json-rpc/src/unit_tests/rpc_server_tests.rs
  crates/sui-json-rpc/src/unit_tests/transaction_tests.rs
  crates/sui-open-rpc/spec/openrpc.json
  crates/sui-open-rpc/src/examples.rs
Labels: Type: Documentation

#9514 [framework] Kiosk+
  crates/sui-adapter-transactional-tests/tests/dynamic_fields/borrow_wrong_type.exp
  crates/sui-adapter-transactional-tests/tests/dynamic_fields/remove_wrong_type.exp
  crates/sui-adapter-transactional-tests/tests/dynamic_fields/transfer_object.exp
  crates/sui-adapter-transactional-tests/tests/size_limits/object_runtime_limits.exp
  crates/sui-framework/docs/bag.md
  crates/sui-framework/docs/borrow.md
  crates/sui-framework/docs/collectible.md
  crates/sui-framework/docs/collectible_safe.md
  crates/sui-framework/docs/dynamic_field.md
  crates/sui-framework/docs/dynamic_object_field.md
  crates/sui-framework/docs/kiosk.md
  crates/sui-framework/docs/linked_table.md
  crates/sui-framework/docs/object_bag.md
  crates/sui-framework/docs/object_table.md
  crates/sui-framework/docs/royalty.md
  crates/sui-framework/docs/table.md
  crates/sui-framework/docs/table_vec.md
  crates/sui-framework/docs/transfer_policy.md
  crates/sui-framework/docs/vec_map.md
  crates/sui-framework/sources/balance.move
  crates/sui-framework/sources/borrow.move
  crates/sui-framework/sources/coin.move
  crates/sui-framework/sources/collectible/collectible.move
  crates/sui-framework/sources/collectible/kiosk.move
  crates/sui-framework/sources/collectible/transfer_policy.move
  crates/sui-framework/sources/dynamic_field.move
  crates/sui-framework/sources/dynamic_object_field.move
  crates/sui-framework/tests/collectible_tests.move
  crates/sui/tests/reconfiguration_tests.rs
Labels: Priority: High, move

#9532 Update sui-local-network.md
  doc/src/build/sui-local-network.md
Labels: Type: Documentation

#9556 Update sui-local-network.md
  doc/src/build/sui-local-network.md
Labels: Type: Documentation

#9565 [rust sdk] adding show.content options in get_owned_objects
  crates/sui-json-rpc-types/src/sui_object.rs
  crates/sui-json-rpc/src/api/mod.rs
  crates/sui-json-rpc/src/read_api.rs
  crates/sui-json-rpc/src/transaction_builder_api.rs
  crates/sui-json-rpc/src/unit_tests/rpc_server_tests.rs
  crates/sui/src/client_commands.rs
  crates/sui/src/console.rs
  crates/sui/src/unit_tests/cli_tests.rs
  crates/test-utils/src/messages.rs
  doc/src/build/rust-sdk.md
Labels: Type: Documentation

#9578 Update sui-local-network.md
  doc/src/build/sui-local-network.md
Labels: Type: Documentation

#9596 [rust sdk] adding show.content options in get_owned_objects (#9565)
  crates/sui-json-rpc-types/src/sui_object.rs
  crates/sui-json-rpc/src/api/mod.rs
  crates/sui-json-rpc/src/read_api.rs
  crates/sui-json-rpc/src/transaction_builder_api.rs
  crates/sui-json-rpc/src/unit_tests/rpc_server_tests.rs
  crates/sui/src/client_commands.rs
  crates/sui/src/console.rs
  crates/sui/src/unit_tests/cli_tests.rs
  crates/test-utils/src/messages.rs
  doc/src/build/rust-sdk.md
Labels: Type: Documentation

#9561 crypto: pass in hashed message for sign and verify
  .changeset/orange-birds-tan.md
  crates/sui-keys/src/keystore.rs
  crates/sui-open-rpc/spec/openrpc.json
  crates/sui-rosetta/src/construction.rs
  crates/sui-rosetta/tests/rosetta_client.rs
  crates/sui-types/src/crypto.rs
  crates/sui-types/src/multisig.rs
  doc/src/learn/exchange-integration-guide.md
  sdk/typescript/src/signers/raw-signer.ts
  sdk/typescript/src/utils/verify.ts
  sdk/typescript/test/e2e/raw-signer.test.ts
Labels: Type: Documentation

#9609 Create prog-trans-ts-sdk.md
  doc/src/build/prog-trans-ts-sdk.md
  doc/src/doc-updates/sui-breaking-changes.md
  doc/src/learn/sponsored-transactions.md
  doc/src/navconfig.json
Labels: Type: Documentation

#9598 Update exchange-integration-guide.md
  doc/src/learn/exchange-integration-guide.md
Labels: Type: Documentation

#9623 Update prog-trans-ts-sdk.md
  doc/src/build/prog-trans-ts-sdk.md
Labels: Type: Documentation

#9678 Style guide and updates
  doc/src/build/move/build-test.md
  doc/src/build/move/debug-publish.md
  doc/src/build/move/index.md
  doc/src/build/move/manifest.md
  doc/src/build/move/sui-move-library.md
  doc/src/build/move/time.md
  doc/src/build/move/write-package.md
Labels: Type: Documentation

#9692 Misc updates for next release
  doc/in-progress/archive-exch-integ-faq.md
  doc/src/learn/exchange-integration-guide.md
  doc/src/learn/tokenomics/index.md
  doc/src/learn/tokenomics/proof-of-stake.md
  doc/src/learn/tokenomics/storage-fund.md
Labels: Type: Documentation

#9704 Small format changes
  doc/src/build/move/debug-publish.md
Labels: Type: Documentation

#9724 Update build-test.md
  doc/src/build/move/build-test.md
Labels: Type: Documentation

#9726 Adding new Object Display topic
  doc/src/build/sui-object-display.md
  doc/src/navconfig.json
Labels: Type: Documentation

#9397 remove the consideration section for Sponsored transaction doc
  doc/src/learn/sponsored-transactions.md
Labels: Type: Documentation

#9732 Updating validator guide with staking info
  doc/src/build/validator-node.md
  doc/src/learn/architecture/validators.md
  doc/src/learn/tokenomics/gas-pricing.md
  doc/src/learn/tokenomics/proof-of-stake.md
  doc/src/learn/tokenomics/storage-fund.md
Labels: Type: Documentation

#9850 Update connect topic to include testnet
  doc/src/build/devnet.md
Labels: Type: Documentation

#9867 Update cli-client.md
  doc/src/build/cli-client.md
Labels: Type: Documentation

#9903 Removed refs to devnet_nft
  doc/src/build/cli-client.md
  doc/src/build/devnet.md
  doc/src/build/event_api.md
  doc/src/navconfig.json
Labels: Type: Documentation

#9909 fix typo
  doc/src/build/devnet.md
Labels: Type: Documentation

#9929 cherrypick #9903 #9915 #9904 #9900 #9893 #9899 #9894 #9529 #9892 to 0.29.0
  Cargo.lock
  crates/sui-core/src/authority.rs
  crates/sui-indexer/migrations/2022-12-01-034426_objects/up.sql
  crates/sui-indexer/src/apis/extended_api.rs
  crates/sui-indexer/src/apis/indexer_api.rs
  crates/sui-indexer/src/models/objects.rs
  crates/sui-indexer/src/models/owners.rs
  crates/sui-indexer/src/store/pg_indexer_store.rs
  crates/sui-indexer/src/store/query.rs
  crates/sui-indexer/tests/integration_tests.rs
  crates/sui-json-rpc-types/src/sui_object.rs
  crates/sui-json-rpc/src/api/extended.rs
  crates/sui-json-rpc/src/api/indexer.rs
  crates/sui-json-rpc/src/coin_api.rs
  crates/sui-json-rpc/src/indexer_api.rs
  crates/sui-json-rpc/src/read_api.rs
  crates/sui-json-rpc/src/transaction_builder_api.rs
  crates/sui-json-rpc/src/unit_tests/rpc_server_tests.rs
  crates/sui-json-rpc/src/unit_tests/transaction_tests.rs
  crates/sui-open-rpc/spec/openrpc.json
  crates/sui-rosetta/src/unit_tests/balance_changing_tx_tests.rs
  crates/sui-rpc-loadgen/README.md
  crates/sui-rpc-loadgen/src/load_test.rs
  crates/sui-rpc-loadgen/src/main.rs
  crates/sui-rpc-loadgen/src/payload/mod.rs
  crates/sui-rpc-loadgen/src/payload/pay_sui.rs
  crates/sui-rpc-loadgen/src/payload/query_transactions.rs
  crates/sui-rpc-loadgen/src/payload/rpc_command_processor.rs
  crates/sui-rpc-loadgen/src/payload/validation.rs
  crates/sui-sdk/Cargo.toml
  crates/sui-sdk/examples/get_owned_objects.rs
  crates/sui-sdk/src/apis.rs
  crates/sui-sdk/src/lib.rs
  crates/sui-storage/src/indexes.rs
  crates/sui-transaction-builder/src/lib.rs
  crates/sui-types/src/object.rs
  crates/sui/src/client_commands.rs
  crates/sui/src/unit_tests/cli_tests.rs
  crates/test-utils/src/transaction.rs
  doc/src/build/cli-client.md
  doc/src/build/devnet.md
  doc/src/build/event_api.md
  doc/src/navconfig.json
  sdk/typescript/src/providers/json-rpc-provider.ts
  sdk/typescript/src/types/objects.ts
Labels: Type: Documentation

#9905 Add Framework split migration info
  doc/src/doc-updates/sui-migration-guide.md
Labels: Type: Documentation

#9725 Rewrite documentation for splitCoins
  doc/src/build/prog-trans-ts-sdk.md
  doc/src/doc-updates/sui-migration-guide.md
  sdk/typescript/README.md
Labels: Type: Documentation

#9931 Updated wallet docs to remove nft create
  doc/src/build/sui-local-network.md
  doc/src/explore/wallet-browser.md
Labels: Type: Documentation

#9946 [ts-sdk] Rename provider methods to reference blocks
  apps/explorer/src/components/module/module-functions-interaction/ModuleFunction.tsx
  apps/explorer/src/components/transactions/TransactionsForAddress.tsx
  apps/explorer/src/components/transactions/TxCardUtils.tsx
  apps/explorer/src/components/transactions/index.tsx
  apps/explorer/src/hooks/useGetTransaction.ts
  apps/explorer/src/hooks/useSearch.ts
  apps/explorer/tests/utils/localnet.ts
  apps/wallet/src/dapp-interface/WalletStandardInterface.ts
  apps/wallet/src/shared/messaging/messages/payloads/transactions/ApprovalRequest.ts
  apps/wallet/src/shared/messaging/messages/payloads/transactions/ExecuteTransactionRequest.ts
  apps/wallet/src/shared/messaging/messages/payloads/transactions/ExecuteTransactionResponse.ts
  apps/wallet/src/ui/app/hooks/useQueryTransactionsByAddress.ts
  apps/wallet/src/ui/app/hooks/useTransactionDryRun.ts
  apps/wallet/src/ui/app/pages/home/nft-transfer/TransferNFTForm.tsx
  apps/wallet/src/ui/app/pages/home/receipt/index.tsx
  apps/wallet/src/ui/app/pages/home/transfer-coin/index.tsx
  apps/wallet/src/ui/app/redux/slices/transaction-requests/index.ts
  apps/wallet/src/ui/app/staking/stake/StakingCard.tsx
  dapps/frenemies/src/components/Validators/actions/AddDelegation.tsx
  dapps/frenemies/src/components/Validators/actions/CancelDelegation.tsx
  dapps/frenemies/src/network/queries/scorecard-history.ts
  doc/src/doc-updates/sui-migration-guide.md
  sdk/typescript/README.md
  sdk/typescript/src/builder/TransactionBlock.ts
  sdk/typescript/src/providers/json-rpc-provider.ts
  sdk/typescript/src/signers/signer-with-provider.ts
  sdk/typescript/test/e2e/dev-inspect.test.ts
  sdk/typescript/test/e2e/entry-point-string.test.ts
  sdk/typescript/test/e2e/governance.test.ts
  sdk/typescript/test/e2e/id-entry-args.test.ts
  sdk/typescript/test/e2e/invalid-ids.test.ts
  sdk/typescript/test/e2e/object-vector.test.ts
  sdk/typescript/test/e2e/read-transactions.test.ts
  sdk/typescript/test/e2e/txn-builder.test.ts
  sdk/typescript/test/e2e/utils/setup.ts
  sdk/wallet-adapter/adapters/base-adapter/src/index.ts
  sdk/wallet-adapter/adapters/unsafe-burner/src/index.ts
  sdk/wallet-adapter/adapters/wallet-standard-adapter/src/StandardWalletAdapter.ts
  sdk/wallet-adapter/adapters/wallet-standard-adapter/src/index.ts
  sdk/wallet-adapter/example/src/App.tsx
  sdk/wallet-adapter/example/src/index.tsx
  sdk/wallet-adapter/site/pages/advanced/wallet-standard.mdx
  sdk/wallet-adapter/site/pages/docs/use-wallet-kit.mdx
  sdk/wallet-adapter/wallet-kit-core/src/index.ts
  sdk/wallet-adapter/wallet-kit/README.md
  sdk/wallet-adapter/wallet-kit/src/WalletKitContext.tsx
  sdk/wallet-adapter/wallet-standard/README.md
  sdk/wallet-adapter/wallet-standard/src/features/index.ts
  sdk/wallet-adapter/wallet-standard/src/features/suiSignAndExecuteTransactionBlock.ts
  sdk/wallet-adapter/wallet-standard/src/features/suiSignTransactionBlock.ts
Labels: Type: Documentation

#9951 [transaction-block-rename][1/n] rename transaction methods
  crates/sui-benchmark/src/bank.rs
  crates/sui-benchmark/src/drivers/bench_driver.rs
  crates/sui-benchmark/src/lib.rs
  crates/sui-benchmark/src/util.rs
  crates/sui-benchmark/src/workloads/adversarial.rs
  crates/sui-benchmark/src/workloads/shared_counter.rs
  crates/sui-cluster-test/src/lib.rs
  crates/sui-cluster-test/src/test_case/fullnode_execute_transaction_test.rs
  crates/sui-core/src/authority.rs
  crates/sui-core/src/authority/authority_store.rs
  crates/sui-core/src/authority_aggregator.rs
  crates/sui-core/src/checkpoints/checkpoint_executor/mod.rs
  crates/sui-core/src/quorum_driver/mod.rs
  crates/sui-core/src/storage.rs
  crates/sui-core/src/transaction_orchestrator.rs
  crates/sui-core/src/unit_tests/authority_tests.rs
  crates/sui-core/src/unit_tests/execution_driver_tests.rs
  crates/sui-faucet/src/faucet/simple_faucet.rs
  crates/sui-indexer/src/apis/indexer_api.rs
  crates/sui-indexer/src/apis/read_api.rs
  crates/sui-indexer/src/apis/write_api.rs
  crates/sui-indexer/tests/integration_tests.rs
  crates/sui-json-rpc/src/api/indexer.rs
  crates/sui-json-rpc/src/api/read.rs
  crates/sui-json-rpc/src/api/write.rs
  crates/sui-json-rpc/src/indexer_api.rs
  crates/sui-json-rpc/src/read_api.rs
  crates/sui-json-rpc/src/transaction_execution_api.rs
  crates/sui-json-rpc/src/unit_tests/rpc_server_tests.rs
  crates/sui-json-rpc/src/unit_tests/transaction_tests.rs
  crates/sui-open-rpc/src/examples.rs
  crates/sui-rosetta/src/construction.rs
  crates/sui-rosetta/src/unit_tests/balance_changing_tx_tests.rs
  crates/sui-rosetta/tests/end_to_end_tests.rs
  crates/sui-rpc-loadgen/src/main.rs
  crates/sui-rpc-loadgen/src/payload/mod.rs
  crates/sui-rpc-loadgen/src/payload/query_transactions.rs
  crates/sui-rpc-loadgen/src/payload/rpc_command_processor.rs
  crates/sui-sdk/examples/tic_tac_toe.rs
  crates/sui-sdk/examples/transfer_coins.rs
  crates/sui-sdk/src/apis.rs
  crates/sui-tool/src/commands.rs
  crates/sui-tool/src/lib.rs
  crates/sui-types/src/messages_checkpoint.rs
  crates/sui-types/src/storage.rs
  crates/sui/src/client_commands.rs
  crates/sui/src/fire_drill.rs
  crates/sui/src/validator_commands.rs
  crates/sui/tests/full_node_tests.rs
  crates/sui/tests/protocol_version_tests.rs
  crates/sui/tests/reconfiguration_tests.rs
  crates/sui/tests/transaction_orchestrator_tests.rs
  crates/test-utils/src/transaction.rs
  doc/src/build/rust-sdk.md
Labels: Type: Documentation

#9972 [transaction-block-rename][3/n] Update RPC types and endpoints
  .changeset/kind-cooks-hear.md
  apps/explorer/src/pages/checkpoints/Transactions.tsx
  crates/sui-core/src/authority.rs
  crates/sui-core/src/unit_tests/authority_tests.rs
  crates/sui-indexer/src/apis/write_api.rs
  crates/sui-json-rpc-types/src/sui_transaction.rs
  crates/sui-json-rpc/src/api/indexer.rs
  crates/sui-json-rpc/src/api/read.rs
  crates/sui-json-rpc/src/api/write.rs
  crates/sui-json-rpc/src/transaction_execution_api.rs
  crates/sui-open-rpc/spec/openrpc.json
  crates/sui-open-rpc/src/examples.rs
  crates/sui-sdk/src/apis.rs
  crates/sui/tests/full_node_tests.rs
  doc/in-progress/archive-exch-integ-faq.md
  doc/src/build/json-rpc.md
  doc/src/build/sui-local-network.md
  doc/src/doc-updates/sui-breaking-changes.md
  doc/src/doc-updates/sui-migration-guide.md
  sdk/typescript/src/providers/json-rpc-provider.ts
  sdk/typescript/src/signers/signer-with-provider.ts
  sdk/typescript/src/types/transactions.ts
Labels: Type: Documentation

#9962 Adding new topics on signing, new Cryptography node in left nav
  doc/src/build/validator-node.md
  doc/src/learn/cryptography/index.md
  doc/src/learn/cryptography/sui-intent-signing.md
  doc/src/learn/cryptography/sui-multisig.md
  doc/src/learn/cryptography/sui-offline-signing.md
  doc/src/navconfig.json
Labels: Type: Documentation

#9980 Update navconfig.json
  doc/src/navconfig.json
Labels: Type: Documentation

#9879 Update faucet.md
  .typos.toml
  doc/src/build/faucet.md
Labels: Type: Documentation

#9974 Update prog-trans-ts-sdk.md
  dapps/sponsored-transactions/src/App.tsx
  doc/src/build/prog-trans-ts-sdk.md
Labels: Type: Documentation

#10039 Adding snapshot document
  doc/src/build/snapshot.md
  doc/src/navconfig.json
Labels: Type: Documentation

#10052 Updating links to moved code
  doc/src/build/install.md
  doc/src/build/move/index.md
  doc/src/build/programming-with-objects/ch1-object-basics.md
  doc/src/build/programming-with-objects/ch3-immutable-objects.md
  doc/src/build/programming-with-objects/ch5-dynamic-fields.md
  doc/src/build/programming-with-objects/ch6-collections.md
  doc/src/learn/exchange-integration-guide.md
  doc/src/learn/sui-move-diffs.md
Labels: Type: Documentation

#10065 Updating doc history for recent changes
  doc/src/build/fullnode.md
  doc/src/build/install.md
  doc/src/doc-updates/index.md
Labels: Type: Documentation

#10069 Updating links to moved code
  doc/book/src/basics/one-time-witness.md
  doc/book/src/patterns/capability.md
  doc/in-progress/archive-exch-integ-faq.md
  doc/src/build/move/build-test.md
  doc/src/build/move/index.md
  doc/src/build/move/sui-move-library.md
  doc/src/build/programming-with-objects/ch1-object-basics.md
  doc/src/build/programming-with-objects/ch2-using-objects.md
  doc/src/build/programming-with-objects/ch6-collections.md
  doc/src/learn/about-sui.md
Labels: Type: Documentation

#10074 Format change on Full node topic
  doc/src/build/fullnode.md
Labels: Type: Documentation

#10185 Fix typo
  doc/src/build/install.md
Labels: Type: Documentation

#10207 [framework] Adds borrowing to Kiosk
  crates/sui-framework/docs/kiosk.md
  crates/sui-framework/packages/sui-framework/sources/kiosk/kiosk.move
  crates/sui-framework/packages/sui-framework/tests/kiosk/kiosk_borrow_tests.move
Labels: move
