Repository MystenLabs/sui, pull requests merged in 2023-01, with the labels that each got.

#7015 Removed --path from sui client publish examples
  doc/src/build/devnet.md
  doc/src/build/json-rpc.md
  doc/src/build/programming-with-objects/ch3-immutable-objects.md
  doc/src/explore/tutorials.md
Labels: Type: Documentation

#7030 docs grammarly check - first contribution
  doc/src/contribute/code-of-conduct.md
  doc/src/contribute/faq.md
  doc/src/contribute/index.md
  doc/src/contribute/research-papers.md
Labels: Type: Documentation

#7091 [faucet] Improving observability and throughput
  crates/sui-faucet/src/errors.rs
  crates/sui-faucet/src/faucet/simple_faucet.rs
  crates/sui-faucet/src/metrics.rs
  crates/sui-faucet/src/metrics_layer.rs
Labels: observability, faucet

#7120 [Doc] Update links away from pointing to the archived Narwhal repo
  doc/src/learn/architecture/consensus.md
  narwhal/README.md
  narwhal/benchmark/README.md
  narwhal/benchmark/data/latest/README.md
  narwhal/benchmark/data/paper-data/README.md
Labels: Type: Documentation

#7137 correct some typos and add grammarly checks
  doc/src/learn/objects.md
Labels: Type: Documentation

#7153 Fix: typos
  doc/src/build/cli-client.md
Labels: Type: Documentation

#7154 Update consensus.md
  doc/src/learn/architecture/consensus.md
Labels: Type: Documentation

#7150 Update objects.md
  doc/src/learn/objects.md
Labels: Type: Documentation

#7155 [faucet] Fix missing `total_available_coins.dec()` on pop
  crates/sui-faucet/src/faucet/simple_faucet.rs
Labels: faucet

#7168 Update devnet.md
  doc/src/build/devnet.md
Labels: Type: Documentation

#7174 [adapter] Ignore deletions for objects that are always wrapped
  crates/sui-adapter-transactional-tests/tests/child_count/unwrap_never_stored.exp
  crates/sui-adapter-transactional-tests/tests/dynamic_fields/unwrap_object.exp
  crates/sui-adapter/src/adapter.rs
  crates/sui-core/src/unit_tests/move_integration_tests.rs
Labels: rust, sui-core

#7171 Add security warning for remote transaction ser
  doc/src/build/json-rpc.md
Labels: Type: Documentation

#7176 Update cli-client.md
  doc/src/build/cli-client.md
Labels: Type: Documentation

#7191 Adding folder for in-progress content
  doc/in-progress/readme.md
Labels: Type: Documentation

#7233 Update index.md
  doc/src/build/move/index.md
Labels: Type: Documentation

#7234 Update write-package.md
  doc/src/build/move/write-package.md
Labels: Type: Documentation

#7262 Update index.md
  doc/src/build/move/index.md
Labels: Type: Documentation

#7205 [doc][in-progress] Quick intro for dev-inspect
  doc/in-progress/dev_inspect_intro.md
Labels: Type: Documentation

#7185 api: Use serialized signature for execute_transaction endpoint
  .changeset/rare-shoes-sell.md
  crates/sui-json-rpc/src/api.rs
  crates/sui-json-rpc/src/transaction_execution_api.rs
  crates/sui-json-rpc/src/unit_tests/rpc_server_tests.rs
  crates/sui-open-rpc/spec/openrpc.json
  crates/sui-open-rpc/src/examples.rs
  crates/sui-sdk/src/apis.rs
  crates/sui-types/src/messages.rs
  crates/sui/offline_signing.md
  crates/sui/src/client_commands.rs
  crates/sui/src/keytool.rs
  doc/src/build/json-rpc.md
  sdk/typescript/src/providers/json-rpc-provider.ts
Labels: Type: Documentation, breaking change

#7286 Update index.md
  doc/src/build/programming-with-objects/index.md
Labels: Type: Documentation

#7246 Update sui-move-library.md
  doc/src/build/move/sui-move-library.md
Labels: Type: Documentation

#7235 Update build-test.md
  doc/src/build/move/build-test.md
Labels: Type: Documentation

#7243 Update consensus.md
  doc/src/learn/architecture/consensus.md
Labels: Type: Documentation

#7244 Update sui-move-library.md
  doc/src/build/move/sui-move-library.md
Labels: Type: Documentation

#7152 Update objects.md
  doc/src/learn/objects.md
Labels: Type: Documentation

#7276 [doc] fix typos
  doc/src/build/programming-with-objects/ch5-dynamic-fields.md
Labels: Type: Documentation

#7118 Sui JSON support optional input
  crates/sui-json/src/lib.rs
  crates/sui/src/client_commands.rs
  crates/sui/src/unit_tests/cli_tests.rs
  doc/src/build/sui-json.md
Labels: Type: Documentation

#7249 Update ch1-object-basics.md
  doc/src/build/programming-with-objects/ch1-object-basics.md
Labels: Type: Documentation

#7196 [framework] Adds publisher module
  crates/sui-cost/tests/snapshots/empirical_transaction_cost__good_snapshot-2.snap
  crates/sui-framework/deps/move-stdlib/sources/address.move
  crates/sui-framework/deps/move-stdlib/sources/type_name.move
  crates/sui-framework/docs/bcs.md
  crates/sui-framework/docs/object.md
  crates/sui-framework/docs/publisher.md
  crates/sui-framework/sources/bcs.move
  crates/sui-framework/sources/publisher.move
Labels: move

#7097 Correcting nav links
  doc/src/navconfig.json
Labels: Type: Documentation

#7305 [faucet] Write-ahead Log
  Cargo.lock
  crates/sui-cluster-test/src/cluster.rs
  crates/sui-cluster-test/src/faucet.rs
  crates/sui-faucet/Cargo.toml
  crates/sui-faucet/src/errors.rs
  crates/sui-faucet/src/faucet/mod.rs
  crates/sui-faucet/src/faucet/simple_faucet.rs
  crates/sui-faucet/src/faucet/write_ahead_log.rs
  crates/sui-faucet/src/main.rs
Labels: faucet

#7376 [main] Update 0L project link
  doc/src/build/move/index.md
Labels: Type: Documentation

#7382 Change ObjectID to 20 byte
  doc/src/reference/sui-json.md
Labels: Type: Documentation

#7371 Update wallet topic for UX changes
  doc/src/explore/wallet-browser.md
Labels: Type: Documentation

#7335 Replaced import calls with content for Move examples
  doc/src/explore/move-examples/basics.md
  doc/src/explore/move-examples/patterns.md
  doc/src/explore/move-examples/samples.md
Labels: Type: Documentation

#7405 Update json-rpc.md
  doc/src/build/json-rpc.md
Labels: Type: Documentation

#7347 Update index.md
  doc/src/build/programming-with-objects/index.md
Labels: Type: Documentation

#7431 Added verify-source command to client cli topic
  doc/src/build/cli-client.md
Labels: Type: Documentation

#7428 Updated move.toml topic to include description of addr_subst
  doc/src/explore/move-examples/basics.md
Labels: Type: Documentation

#7426 [client/publish] Add ability to publish --with-unpublished-dependencies
  Cargo.lock
  crates/sui-cluster-test/src/test_case/fullnode_build_publish_transaction_test.rs
  crates/sui-core/src/unit_tests/data/depends_on_basics/Move.toml
  crates/sui-core/src/unit_tests/data/depends_on_basics/sources/depends_on_basics.move
  crates/sui-core/src/unit_tests/gas_tests.rs
  crates/sui-core/src/unit_tests/move_integration_tests.rs
  crates/sui-framework-build/src/compiled_package.rs
  crates/sui-json-rpc/src/unit_tests/rpc_server_tests.rs
  crates/sui-source-validation/Cargo.toml
  crates/sui-source-validation/src/lib.rs
  crates/sui-source-validation/src/tests.rs
  crates/sui/src/client_commands.rs
  crates/sui/src/sui_move/build.rs
  crates/sui/src/sui_move/unit_test.rs
  crates/sui/src/unit_tests/cli_tests.rs
  crates/test-utils/src/messages.rs
  crates/test-utils/src/transaction.rs
Labels: devx

#7548 Modified link for "test_scenario module"
  doc/src/build/move/build-test.md
Labels: Type: Documentation

#7572 Update validators.md
  doc/src/learn/architecture/validators.md
Labels: Type: Documentation

#7580 Fix typo
  doc/src/explore/tutorials.md
Labels: Type: Documentation

#7554 Add a pseudorandom generator for move tests
  crates/sui-framework/sources/test/test_random.move
  crates/sui-framework/tests/test_random_tests.move
Labels: move

#7632 [1/2][client] Verify dependencies by default
  crates/sui/src/client_commands.rs
  crates/sui/src/unit_tests/cli_tests.rs
Labels: cli, breaking change

#7605 Update gas-pricing documentation.md
  doc/src/learn/tokenomics/gas-pricing.md
Labels: Type: Documentation

#7635 Added information for new --with-unpublished-dependencies flag
  doc/src/build/cli-client.md
  doc/src/build/json-rpc.md
Labels: Type: Documentation

#7645 Update gas-pricing.md
  doc/src/learn/tokenomics/gas-pricing.md
Labels: Type: Documentation

#7647 Change definition of Epochs to mention tokenomics operations
  doc/src/learn/architecture/validators.md
Labels: Type: Documentation

#7648 Update gas-pricing.md
  doc/src/learn/tokenomics/gas-pricing.md
Labels: Type: Documentation

#7657 Update proof-of-stake.md
  doc/src/learn/tokenomics/proof-of-stake.md
Labels: Type: Documentation

#7406 Update ch1-object-basics.md
  doc/src/build/programming-with-objects/ch1-object-basics.md
Labels: Type: Documentation

#7159 Update install.md
  doc/src/build/install.md
Labels: Type: Documentation

#7430 Update ch2-using-objects.md
  doc/src/build/programming-with-objects/ch2-using-objects.md
Labels: Type: Documentation

#7658 Add doc for faucet
  doc/src/build/faucet.md
  doc/src/navconfig.json
Labels: Type: Documentation

#7662 Remove cookies from a curl command in faucet doc
  doc/src/build/faucet.md
Labels: Type: Documentation

#7663 Update proof-of-stake.md
  doc/src/learn/tokenomics/proof-of-stake.md
Labels: Type: Documentation

#7372 [dev-inspect] Combine to a single end point
  .changeset/empty-baboons-teach.md
  Cargo.lock
  apps/wallet/src/ui/app/redux/slices/transaction-requests/index.ts
  crates/sui-adapter/src/execution_engine.rs
  crates/sui-config/src/genesis.rs
  crates/sui-core/src/authority.rs
  crates/sui-core/src/transaction_input_checker.rs
  crates/sui-core/src/unit_tests/authority_tests.rs
  crates/sui-core/src/unit_tests/data/depends_on_basics/sources/depends_on_basics.move
  crates/sui-core/src/unit_tests/event_handler_tests.rs
  crates/sui-cost-tables/src/bytecode_tables.rs
  crates/sui-json-rpc/Cargo.toml
  crates/sui-json-rpc/src/api.rs
  crates/sui-json-rpc/src/read_api.rs
  crates/sui-open-rpc/spec/openrpc.json
  crates/sui-transactional-test-runner/src/test_adapter.rs
  crates/sui-types/src/gas.rs
  crates/sui-types/src/messages.rs
  sdk/typescript/src/providers/json-rpc-provider.ts
  sdk/typescript/src/providers/provider.ts
  sdk/typescript/src/providers/void-provider.ts
  sdk/typescript/src/signers/signer-with-provider.ts
  sdk/typescript/src/signers/txn-data-serializers/local-txn-data-serializer.ts
  sdk/typescript/src/signers/txn-data-serializers/rpc-txn-data-serializer.ts
  sdk/typescript/src/signers/txn-data-serializers/txn-data-serializer.ts
  sdk/typescript/src/types/sui-bcs.ts
  sdk/typescript/test/e2e/coin-metadata.test.ts
  sdk/typescript/test/e2e/dev-inspect.test.ts
  sdk/typescript/test/e2e/read-transactions.test.ts
  sdk/typescript/test/e2e/txn-serializer.test.ts
Labels: breaking change

#7597 [move/call] Accept Package by ID, not Ref
  .changeset/bright-apples-turn.md
  apps/explorer/src/pages/transaction-result/TransactionView.tsx
  crates/sui-adapter/src/execution_engine.rs
  crates/sui-benchmark/src/util.rs
  crates/sui-benchmark/src/workloads/delegation.rs
  crates/sui-benchmark/src/workloads/shared_counter.rs
  crates/sui-cluster-test/src/test_case/shared_object_test.rs
  crates/sui-core/src/authority.rs
  crates/sui-core/src/test_utils.rs
  crates/sui-core/src/unit_tests/authority_aggregator_tests.rs
  crates/sui-core/src/unit_tests/authority_tests.rs
  crates/sui-core/src/unit_tests/batch_transaction_tests.rs
  crates/sui-core/src/unit_tests/consensus_tests.rs
  crates/sui-core/src/unit_tests/execution_driver_tests.rs
  crates/sui-core/src/unit_tests/gas_tests.rs
  crates/sui-core/src/unit_tests/move_integration_tests.rs
  crates/sui-core/tests/staged/sui.yaml
  crates/sui-cost/tests/empirical_transaction_cost.rs
  crates/sui-json-rpc-types/src/lib.rs
  crates/sui-open-rpc/spec/openrpc.json
  crates/sui-open-rpc/src/examples.rs
  crates/sui-rosetta/src/construction.rs
  crates/sui-rosetta/src/operations.rs
  crates/sui-rosetta/src/types.rs
  crates/sui-rosetta/src/unit_tests/balance_changing_tx_tests.rs
  crates/sui-transaction-builder/src/lib.rs
  crates/sui-transactional-test-runner/src/test_adapter.rs
  crates/sui-types/src/messages.rs
  crates/sui/tests/full_node_tests.rs
  crates/sui/tests/shared_objects_tests.rs
  crates/sui/tests/shared_objects_version_tests.rs
  crates/test-utils/src/messages.rs
  crates/test-utils/src/transaction.rs
  sdk/typescript/src/signers/signer-with-provider.ts
  sdk/typescript/src/signers/txn-data-serializers/call-arg-serializer.ts
  sdk/typescript/src/signers/txn-data-serializers/local-txn-data-serializer.ts
  sdk/typescript/src/types/common.ts
  sdk/typescript/src/types/sui-bcs.ts
  sdk/typescript/src/types/transactions.ts
  sdk/typescript/test/e2e/txn-serializer.test.ts
  sdk/typescript/test/unit/types/common.test.ts
Labels: breaking change

#7711 Update install.md
  doc/src/build/install.md
Labels: Type: Documentation

#7728 Fix Object Ownership Link in Object Basics Doc
  doc/src/build/programming-with-objects/ch1-object-basics.md
Labels: Type: Documentation

#7691 Update ch1-object-basics.md to fix link to moved file
  doc/src/build/programming-with-objects/ch1-object-basics.md
Labels: Type: Documentation

#7736 Updates to wallet and full node for Testnet wave2
  doc/src/build/fullnode.md
  doc/src/explore/wallet-browser.md
Labels: Type: Documentation

#7883 docs - sui documentation updates link fix
  doc/src/learn/index.md
Labels: Type: Documentation

#7879 Update comms.md
  doc/src/build/comms.md
Labels: Type: Documentation

#7423 crypto: ser/de update and use nonrecoverable sig for secp256k1/r1
  .changeset/wicked-cats-occur.md
  Cargo.lock
  Cargo.toml
  apps/wallet/src/background/keyring/Account.ts
  crates/sui-framework/docs/ecdsa_k1.md
  crates/sui-framework/sources/crypto/ecdsa_k1.move
  crates/sui-framework/src/natives/crypto/ecdsa_k1.rs
  crates/sui-framework/src/natives/mod.rs
  crates/sui-framework/tests/crypto/ecdsa_k1_tests.move
  crates/sui/offline_signing.md
  crates/workspace-hack/Cargo.toml
  narwhal/node/tests/staged/narwhal.yaml
  sdk/typescript/src/cryptography/ed25519-keypair.ts
  sdk/typescript/src/cryptography/keypair.ts
  sdk/typescript/src/cryptography/secp256k1-keypair.ts
  sdk/typescript/src/signers/raw-signer.ts
  sdk/typescript/test/e2e/raw-signer.test.ts
  sdk/typescript/test/unit/cryptography/secp256k1-keypair.test.ts
  sdk/typescript/test/unit/signers/raw-signer.test.ts
Labels: breaking change

#7901 Update index.md
  doc/src/learn/index.md
Labels: Type: Documentation

#7633 [2/2][client] Remove --verify-dependencies
  crates/sui/src/client_commands.rs
  crates/sui/src/unit_tests/cli_tests.rs
Labels: cli, breaking change

#7924 Behavior of dependency check has changed
  doc/src/build/cli-client.md
Labels: Type: Documentation

#7936 Update why-move.md – grammar
  doc/src/learn/why-move.md
Labels: Type: Documentation

#7938 Fix spelling (sui-security.md)
  doc/src/learn/sui-security.md
Labels: Type: Documentation

#7934 Updating the doc updates page with sui client publish change
  doc/src/doc-updates/index.md
Labels: Type: Documentation
