Repository MystenLabs/sui, pull requests merged in 2023-06, with the labels that each got.

#12281 Fix wormhole doc references
  doc/src/learn/sui-bridging.md
Labels: Type: Documentation

#12256 Create sui-kiosk.md
  doc/src/build/sui-kiosk.md
  doc/src/navconfig.json
Labels: Type: Documentation

#12328 Fix link in kiosk docs
  doc/src/build/sui-kiosk.md
Labels: Type: Documentation

#12342 [Doc] update intro to sui move
  doc/src/build/move/index.md
Labels: Type: Documentation

#12360 Update sui lutris paper
  doc/paper/sui-lutris.pdf
Labels: Type: Documentation

#12334 update event doc: removed all system events from the docs and updated outputs
  doc/src/build/event_api.md
Labels: Type: Documentation

#10559 Add metric for command per sec
  crates/sui-benchmark/src/drivers/bench_driver.rs
Labels: Stale

#12413 Updated url for suifrens
  doc/src/build/sui-object-display.md
Labels: Type: Documentation

#12422 [docs/package-upgrades] Cannot add abilities to structs
  doc/src/build/package-upgrades.md
Labels: Type: Documentation

#12424 Create rpc-best-practices.md
  doc/src/build/rpc-best-practices.md
  doc/src/navconfig.json
Labels: Type: Documentation

#12298 crypto: Multisig support in typescript
  .changeset/fresh-fishes-relax.md
  Cargo.lock
  crates/sui-core/src/generate_format.rs
  crates/sui-core/tests/staged/sui.yaml
  crates/sui-open-rpc/spec/openrpc.json
  crates/sui-types/src/base_types.rs
  crates/sui-types/src/crypto.rs
  crates/sui-types/src/lib.rs
  crates/sui-types/src/multisig.rs
  crates/sui-types/src/multisig_legacy.rs
  crates/sui-types/src/signature.rs
  crates/sui-types/src/transaction.rs
  crates/sui-types/src/unit_tests/crypto_tests.rs
  crates/sui-types/src/unit_tests/multisig_tests.rs
  crates/sui/src/keytool.rs
  crates/workspace-hack/Cargo.toml
  doc/src/learn/cryptography/sui-multisig.md
  sdk/typescript/README.md
  sdk/typescript/src/builder/bcs.ts
  sdk/typescript/src/cryptography/ed25519-publickey.ts
  sdk/typescript/src/cryptography/multisig.ts
  sdk/typescript/src/cryptography/publickey.ts
  sdk/typescript/src/cryptography/secp256k1-publickey.ts
  sdk/typescript/src/cryptography/secp256r1-publickey.ts
  sdk/typescript/src/cryptography/signature.ts
  sdk/typescript/src/index.ts
  sdk/typescript/test/unit/cryptography/multisig.test.ts
Labels: Type: Documentation, crypto

#12462 [pruner] remove point delete option
  crates/sui-config/data/fullnode-template-with-path.yaml
  crates/sui-config/data/fullnode-template.yaml
  crates/sui-config/src/node.rs
  crates/sui-core/src/authority/authority_store_pruner.rs
  crates/sui-swarm-config/tests/snapshots/snapshot_tests__network_config_snapshot_matches.snap
  crates/sui-tool/src/db_tool/mod.rs
  doc/src/build/fullnode.md
  nre/config/validator.yaml
Labels: Type: Documentation

#12544 Update docs for the CLI and keytool import command
  doc/src/learn/cryptography/sui-wallet-specs.md
Labels: Type: Documentation

#12554 [doc/src/learn] fix index.md typo
  doc/src/learn/index.md
Labels: Type: Documentation

#12429 Gas doc revised
  doc/src/learn/tokenomics/gas-in-sui.md
Labels: Type: Documentation

#12606 fix(write-package.md): change part bullet points to render nicely
  doc/src/build/custom-upgrade-policy.md
  doc/src/build/move/write-package.md
Labels: Type: Documentation

#12607 [doc] remove recipient from the event filter doc
  doc/src/build/event_api.md
Labels: Type: Documentation

#12601 multisig: add tool to verify a multisig locally
  crates/sui/src/keytool.rs
  doc/src/learn/cryptography/sui-multisig.md
Labels: Type: Documentation

#12764 clarify aws snapshot docs
  doc/src/build/snapshot.md
Labels: Type: Documentation
