Repository MystenLabs/sui, pull requests merged in 2023-09, with the labels that each got.

#13520 [ts-sdk] Patch from Blaize Security auditing team for multisig and cryptography
  sdk/typescript/src/cryptography/intent.ts
  sdk/typescript/src/cryptography/keypair.ts
  sdk/typescript/src/cryptography/multisig.ts
  sdk/typescript/src/cryptography/signature.ts
  sdk/typescript/src/cryptography/utils.ts
  sdk/typescript/src/multisig/publickey.ts
  sdk/typescript/test/e2e/multisig.test.ts
  sdk/typescript/test/unit/cryptography/intent.test.ts
  sdk/typescript/test/unit/cryptography/keypair.test.ts
  sdk/typescript/test/unit/cryptography/multisig.publickey.test.ts
  sdk/typescript/test/unit/cryptography/multisig.test.ts
  sdk/typescript/test/unit/cryptography/publickey.test.ts
  sdk/typescript/test/unit/cryptography/signature.test.ts
  sdk/typescript/test/unit/cryptography/utils.test.ts
Labels: crypto, ts-sdk

#13607 [Doc] Update typo for blake2b
  doc/src/learn/cryptography/hashing.md
Labels: Type: Documentation

#13662 doc: zklogin page
  doc/src/build/zk_login.md
  doc/static/zklogin-facebook1.png
  doc/static/zklogin-facebook2.png
  doc/static/zklogin-flow.png
  doc/static/zklogin-google1.png
  doc/static/zklogin-google2.png
  doc/static/zklogin-google3.png
  doc/static/zklogin-twitch1.png
  doc/static/zklogin-twitch2.png
Labels: Type: Documentation

#13666 Adding zkLogin to nav
  doc/src/build/zk_login.md
  doc/src/navconfig.json
  doc/static/zklogin-facebook1.png
  doc/static/zklogin-facebook2.png
  doc/static/zklogin-google2.png
  doc/static/zklogin-google3.png
  doc/static/zklogin-twitch1.png
  doc/static/zklogin-twitch2.png
Labels: Type: Documentation

#13673 Update zk_login.md
  doc/src/build/zk_login.md
Labels: Type: Documentation

#13678 Update zk_login.md
  doc/src/build/zk_login.md
Labels: Type: Documentation

#13670 Add randomness generation to zklogin sdk
  .changeset/honest-dodos-shave.md
  apps/wallet/src/background/accounts/zk/utils.ts
  doc/src/build/zk_login.md
  sdk/zklogin/src/index.ts
  sdk/zklogin/src/nonce.ts
  sdk/zklogin/src/poseidon.ts
Labels: Type: Documentation

#13684 Update zk_login.md
  doc/src/build/zk_login.md
Labels: Type: Documentation

#11877 [docs] Add comments regarding type argument instantiation
  crates/sui-core/src/unit_tests/authority_tests.rs
  crates/sui-json/src/lib.rs
  crates/sui/src/client_commands.rs
  doc/src/build/cli-client.md
Labels: Type: Documentation, Stale

#13711 Update zk_login.md to add OpenID providers
  doc/src/build/zk_login.md
Labels: Type: Documentation

#12476 Add note to dev cheat sheet on tests and public(friend) functions
  doc/src/build/dev_cheat_sheet.md
Labels: Type: Documentation, Stale

#13779 fix: fix sui move signatures example
  doc/src/learn/cryptography/sui-move-signatures.md
Labels: Type: Documentation

#13784 fix: zklogin doc fixes
  doc/src/build/zk_login.md
Labels: Type: Documentation

#13793 fix: update prover endpoint
  doc/src/build/zk_login.md
Labels: Type: Documentation

#13808 zklogin docs clarifications
  doc/src/build/zk_login.md
Labels: Type: Documentation

#13812 [doc] follow-ups from https://github.com/MystenLabs/sui/pull/13808
  doc/src/build/zk_login.md
Labels: Type: Documentation

#13824 Update zk_login.md
  doc/src/build/zk_login.md
Labels: Type: Documentation

#13837 [docs] Updated RPC Best Practice page
  doc/src/build/rpc-best-practices.md
Labels: Type: Documentation

#13842 Update rpc-best-practices.md
  doc/src/build/rpc-best-practices.md
Labels: Type: Documentation

#13843 zklogin: update prover url
  doc/src/build/zk_login.md
Labels: Type: Documentation

#13850 Update prover URI with https
  doc/src/build/zk_login.md
Labels: Type: Documentation

#13811 [docs] adjust zklogin intro
  doc/src/build/zk_login.md
Labels: Type: Documentation

#13972 Typo fix
  doc/src/build/fullnode.md
Labels: Type: Documentation

#13973 Fix minor discrepancy in the zkLogin docs
  doc/src/build/zk_login.md
Labels: Type: Documentation

#14001 Correct anchor link in connect-sui-network.md
  doc/src/build/connect-sui-network.md
Labels: Type: Documentation

#14004 zkLogin: update doc
  doc/src/build/zk_login.md
Labels: Type: Documentation

#14012 explorer: show zklogin signature
  .changeset/afraid-laws-wash.md
  .changeset/hot-beers-argue.md
  apps/explorer/src/pages/transaction-result/Signatures.tsx
  apps/wallet/src/background/accounts/zk/ZkAccount.ts
  doc/src/build/zk_login.md
  pnpm-workspace.yaml
  sdk/typescript/package.json
  sdk/typescript/src/cryptography/index.ts
  sdk/typescript/src/cryptography/keypair.ts
  sdk/typescript/src/cryptography/multisig.ts
  sdk/typescript/src/cryptography/signature-scheme.ts
  sdk/typescript/src/cryptography/signature.ts
  sdk/typescript/src/cryptography/utils.ts
  sdk/typescript/src/keypairs/ed25519/keypair.ts
  sdk/typescript/src/keypairs/ed25519/publickey.ts
  sdk/typescript/src/keypairs/secp256k1/keypair.ts
  sdk/typescript/src/keypairs/secp256k1/publickey.ts
  sdk/typescript/src/keypairs/secp256r1/keypair.ts
  sdk/typescript/src/keypairs/secp256r1/publickey.ts
  sdk/typescript/src/multisig/index.ts
  sdk/typescript/src/multisig/publickey.ts
  sdk/typescript/src/verify/index.ts
  sdk/typescript/src/zklogin/address.ts
  sdk/typescript/src/zklogin/bcs.ts
  sdk/typescript/src/zklogin/index.ts
  sdk/typescript/src/zklogin/jwt-utils.ts
  sdk/typescript/src/zklogin/signature.ts
  sdk/typescript/src/zklogin/types.ts
  sdk/typescript/src/zklogin/utils.ts
  sdk/typescript/test/unit/cryptography/multisig.publickey.test.ts
  sdk/typescript/test/unit/cryptography/signature.test.ts
  sdk/typescript/test/unit/cryptography/utils.test.ts
  sdk/typescript/zklogin/package.json
  sdk/zklogin/src/address.ts
  sdk/zklogin/src/bcs.ts
  sdk/zklogin/src/index.ts
  sdk/zklogin/src/nonce.ts
  sdk/zklogin/src/utils.ts
Labels: Type: Documentation
