Repository MystenLabs/sui, pull requests merged in 2024-01, with the labels that each got.

#15592 Sui v1.16.0 Bytecode Framework snapshot
  crates/sui-framework-snapshot/bytecode_snapshot/33/0x0000000000000000000000000000000000000000000000000000000000000001
  crates/sui-framework-snapshot/bytecode_snapshot/33/0x0000000000000000000000000000000000000000000000000000000000000002
  crates/sui-framework-snapshot/bytecode_snapshot/33/0x0000000000000000000000000000000000000000000000000000000000000003
  crates/sui-framework-snapshot/bytecode_snapshot/33/0x000000000000000000000000000000000000000000000000000000000000dee9
  crates/sui-framework-snapshot/manifest.json
Labels: urgent

#15593 Sui v1.17.0 version bump
  Cargo.lock
  Cargo.toml
  crates/sui-open-rpc/spec/openrpc.json
Labels: urgent

#12922 move sui-oracle move package to public repo
  Cargo.lock
  crates/sui-oracle/Cargo.toml
  crates/sui-oracle/move/oracle/Move.toml
  crates/sui-oracle/move/oracle/sources/data.move
  crates/sui-oracle/move/oracle/sources/decimal_value.move
  crates/sui-oracle/move/oracle/sources/meta_oracle.move
  crates/sui-oracle/move/oracle/sources/simple_oracle.move
  crates/sui-oracle/tests/data/Test/Move.toml
  crates/sui-oracle/tests/data/Test/sources/test_module.move
  crates/sui-oracle/tests/integration_tests.rs
Labels: Stale

#14884 [sui-proxy] add abbrev=12 to GIT_REVISION
  crates/sui-proxy/src/main.rs
Labels: Stale

#15366 [graphql/docs] Add initial graphql docs content
  crates/sui-graphql-rpc/src/commands.rs
  crates/sui-graphql-rpc/src/examples.rs
  crates/sui-graphql-rpc/src/main.rs
  docs/content/concepts/graphql-rpc.mdx
  docs/content/guides/developer/getting-started.mdx
  docs/content/guides/developer/getting-started/graphql-rpc.mdx
  docs/content/references.mdx
  docs/content/sidebars/concepts.js
  docs/content/sidebars/guides.js
  docs/content/sidebars/references.js
  docs/site/docusaurus.config.js
  docs/site/package.json
  docs/site/pnpm-lock.yaml
Labels: Type: Documentation

#15860 [docs][graphql] Removed draft status, gitignore autogen docs
  .gitignore
  docs/content/concepts/graphql-rpc.mdx
  docs/content/guides/developer/getting-started/graphql-rpc.mdx
  docs/content/sidebars/references.js
  docs/content/snippets/info-graphql-release.mdx
  docs/site/docusaurus.config.js
Labels: Type: Documentation

#15849 fix: add execute command using a combined signed tx
  crates/sui/src/client_commands.rs
  docs/content/concepts/cryptography/transaction-auth/offline-signing.mdx
  docs/content/references/cli/client.mdx
Labels: Type: Documentation

#15868 [Deepbook Docs] adding scaling doc
  docs/content/standards/deepbook/trade-and-swap.mdx
Labels: Type: Documentation

#15878 Update sui-install.mdx to add libpq to dependency
  docs/content/guides/developer/getting-started/sui-install.mdx
Labels: Type: Documentation

#15880 [docs] Add landing page for GraphQL and fix small typos
  docs/content/concepts/graphql-rpc.mdx
  docs/content/references/sui-api/graphql.mdx
  docs/content/sidebars/references.js
Labels: Type: Documentation

#15887 [GraphQL/Docs] Update Getting Started Examples
  docs/content/guides/developer/getting-started/graphql-rpc.mdx
Labels: Type: Documentation

#15889 [docs] add an example for transaction execution to graphql docs
  docs/content/guides/developer/getting-started/graphql-rpc.mdx
Labels: Type: Documentation

#15865 profiler documentation
  docs/content/references/cli/client.mdx
Labels: Type: Documentation

#15883 [docs][easy] Update rpc-best-practices.mdx
  docs/content/references/sui-api/rpc-best-practices.mdx
Labels: Type: Documentation

#15848 [docs][kiosk apps] Added to nav
  docs/content/sidebars/standards.js
  docs/content/standards.mdx
  docs/content/standards/kiosk-apps.mdx
  docs/content/standards/kiosk.mdx
Labels: Type: Documentation

#15898 merge formal snapshot and snapshots docs
  docs/content/guides/operator/formal-snapshot.mdx
  docs/content/guides/operator/snapshots.mdx
  docs/content/sidebars/guides.js
Labels: Type: Documentation

#15772 Simplify process to setup own zkLogin proving service
  docs/content/concepts/cryptography/zklogin.mdx
Labels: Type: Documentation

#15909 [docs][easy] Update cli.mdx
  docs/content/references/cli.mdx
Labels: Type: Documentation

#15881 [docs] Security architecture
  docs/content/concepts/sui-architecture/sui-security.mdx
  docs/content/sidebars/concepts.js
Labels: Type: Documentation

#15929 Fix typo in shared-owned.mdx and rewrite for clarity
  docs/content/guides/developer/sui-101/shared-owned.mdx
Labels: Type: Documentation

#15972 [docs] Add `MoveEventModule` to the event filter docs
  docs/content/guides/developer/sui-101/using-events.mdx
Labels: Type: Documentation

#15955 docs: add sui move 2024 conventions
  docs/content/concepts/sui-move-concepts/conventions.mdx
  docs/content/sidebars/concepts.js
Labels: Type: Documentation

#15999 docs: import typo on the conventions example
  docs/content/concepts/sui-move-concepts/conventions.mdx
Labels: Type: Documentation

#16009 [GraphQL/Docs] Tweaking "Getting Started"
  docs/content/guides/developer/getting-started/graphql-rpc.mdx
Labels: Type: Documentation

#16018 [GraphQL/Docs] Split Conceptual docs into separate pages
  docs/content/concepts/graphql-rpc.mdx
  docs/content/concepts/graphql-rpc/fragments.mdx
  docs/content/concepts/graphql-rpc/headers.mdx
  docs/content/concepts/graphql-rpc/limits.mdx
  docs/content/concepts/graphql-rpc/pagination.mdx
  docs/content/concepts/graphql-rpc/variables.mdx
  docs/content/guides/developer/advanced/graphql-migration.mdx
  docs/content/guides/developer/getting-started/graphql-rpc.mdx
  docs/content/sidebars/concepts.js
  docs/content/sidebars/guides.js
Labels: Type: Documentation

#16019 [GraphQL/Docs][RFC] Move GraphQL References out from Sui API heading
  .gitignore
  crates/sui-graphql-rpc/src/main.rs
  docs/content/guides/developer/advanced/graphql-migration.mdx
  docs/content/guides/developer/getting-started/graphql-rpc.mdx
  docs/content/references.mdx
  docs/content/references/sui-graphql.mdx
  docs/content/sidebars/references.js
  docs/site/docusaurus.config.js
Labels: Type: Documentation

#16033 [GraphQL/Docs] Update docs to match capabilities of MVP
  docs/content/guides/developer/getting-started/graphql-rpc.mdx
Labels: Type: Documentation
