Repository MystenLabs/sui, pull requests merged in 2024-02, with the labels that each got.

#16040 [docs] Remove the graphql MVP launch date info
  docs/content/concepts/graphql-rpc.mdx
  docs/content/concepts/graphql-rpc/fragments.mdx
  docs/content/concepts/graphql-rpc/headers.mdx
  docs/content/concepts/graphql-rpc/limits.mdx
  docs/content/concepts/graphql-rpc/pagination.mdx
  docs/content/concepts/graphql-rpc/variables.mdx
  docs/content/guides/developer/advanced/graphql-migration.mdx
  docs/content/guides/developer/getting-started/graphql-rpc.mdx
  docs/content/snippets/info-graphql-release.mdx
Labels: Type: Documentation

#16051 [docs] Fix wrong heading in Sui CLI reference page
  docs/content/references/cli/client.mdx
Labels: Type: Documentation

#15983 [move-2024] Migration mode
  external-crates/move/crates/move-cli/src/base/build.rs
  external-crates/move/crates/move-cli/src/base/migrate.rs
  external-crates/move/crates/move-cli/src/base/mod.rs
  external-crates/move/crates/move-cli/src/lib.rs
  external-crates/move/crates/move-cli/tests/build_tests/migration/Move.toml
  external-crates/move/crates/move-cli/tests/build_tests/migration/Move.toml.expected
  external-crates/move/crates/move-cli/tests/build_tests/migration/args.exp
  external-crates/move/crates/move-cli/tests/build_tests/migration/args.txt
  external-crates/move/crates/move-cli/tests/build_tests/migration/backup_sources/mod0.move
  external-crates/move/crates/move-cli/tests/build_tests/migration/backup_sources/mod1.move
  external-crates/move/crates/move-cli/tests/build_tests/migration/backup_sources/mod2.move
  external-crates/move/crates/move-cli/tests/build_tests/migration/backup_sources/mod3_4.move
  external-crates/move/crates/move-cli/tests/build_tests/migration/expected_migration.patch
  external-crates/move/crates/move-cli/tests/build_tests/migration/migration.patch
  external-crates/move/crates/move-cli/tests/build_tests/migration/migration_sources/mod0.move
  external-crates/move/crates/move-cli/tests/build_tests/migration/migration_sources/mod1.move
  external-crates/move/crates/move-cli/tests/build_tests/migration/migration_sources/mod2.move
  external-crates/move/crates/move-cli/tests/build_tests/migration/migration_sources/mod3_4.move
  external-crates/move/crates/move-cli/tests/build_tests/migration/sources/mod0.move
  external-crates/move/crates/move-cli/tests/build_tests/migration/sources/mod1.move
  external-crates/move/crates/move-cli/tests/build_tests/migration/sources/mod2.move
  external-crates/move/crates/move-cli/tests/build_tests/migration/sources/mod3_4.move
  external-crates/move/crates/move-cli/tests/build_tests/migration_edition_not_allowed/Move.toml
  external-crates/move/crates/move-cli/tests/build_tests/migration_edition_not_allowed/args.exp
  external-crates/move/crates/move-cli/tests/build_tests/migration_edition_not_allowed/args.txt
  external-crates/move/crates/move-cli/tests/build_tests/migration_edition_not_allowed/sources/A.move
  external-crates/move/crates/move-command-line-common/src/interactive.rs
  external-crates/move/crates/move-command-line-common/src/lib.rs
  external-crates/move/crates/move-compiler/src/cfgir/translate.rs
  external-crates/move/crates/move-compiler/src/command_line/compiler.rs
  external-crates/move/crates/move-compiler/src/command_line/mod.rs
  external-crates/move/crates/move-compiler/src/diagnostics/codes.rs
  external-crates/move/crates/move-compiler/src/diagnostics/mod.rs
  external-crates/move/crates/move-compiler/src/editions/mod.rs
  external-crates/move/crates/move-compiler/src/parser/syntax.rs
  external-crates/move/crates/move-compiler/src/shared/mod.rs
  external-crates/move/crates/move-compiler/src/typing/translate.rs
  external-crates/move/crates/move-compiler/tests/move_2024/migration/all_migrations.exp
  external-crates/move/crates/move-compiler/tests/move_2024/migration/all_migrations.migration
  external-crates/move/crates/move-compiler/tests/move_2024/migration/all_migrations.migration.exp
  external-crates/move/crates/move-compiler/tests/move_2024/migration/all_migrations.move
  external-crates/move/crates/move-compiler/tests/move_2024/migration/let_mut_migrate.exp
  external-crates/move/crates/move-compiler/tests/move_2024/migration/let_mut_migrate.migration
  external-crates/move/crates/move-compiler/tests/move_2024/migration/let_mut_migrate.migration.exp
  external-crates/move/crates/move-compiler/tests/move_2024/migration/let_mut_migrate.move
  external-crates/move/crates/move-compiler/tests/move_2024/migration/public_struct_migrate.exp
  external-crates/move/crates/move-compiler/tests/move_2024/migration/public_struct_migrate.migration
  external-crates/move/crates/move-compiler/tests/move_2024/migration/public_struct_migrate.migration.exp
  external-crates/move/crates/move-compiler/tests/move_2024/migration/public_struct_migrate.move
  external-crates/move/crates/move-compiler/tests/move_check_testsuite.rs
  external-crates/move/crates/move-package/src/compilation/build_plan.rs
  external-crates/move/crates/move-package/src/compilation/compiled_package.rs
  external-crates/move/crates/move-package/src/lib.rs
  external-crates/move/crates/move-package/src/migration/mod.rs
  external-crates/move/crates/move-package/src/source_package/manifest_parser.rs
  external-crates/move/crates/move-symbol-pool/src/lib.rs
Labels: move, cli

#16048 [docs] Add information on how to get tokens using the Sui CLI
  docs/content/guides/developer/getting-started/get-coins.mdx
Labels: Type: Documentation

#16066 [docs][easy] Update upgrade.mdx
  docs/content/concepts/sui-move-concepts/packages/upgrade.mdx
Labels: Type: Documentation

#16092 [docs] Adds a more identifiable caution about using ML servers
  docs/content/guides/developer/app-examples.mdx
  docs/content/references/sui-api/rpc-best-practices.mdx
  docs/content/snippets/warn-ml-rpcs.mdx
Labels: Type: Documentation

#16093 update homebrew sui install
  docs/content/guides/developer/getting-started/sui-install.mdx
Labels: Type: Documentation

#15944 [docs] Working with ptb topic
  docs/content/guides/developer/sui-101/working-with-ptbs.mdx
  docs/content/sidebars/guides.js
Labels: Type: Documentation

#15979 feat: decode or verify tx command
  crates/sui/src/keytool.rs
  docs/content/references/cli/keytool.mdx
Labels: Type: Documentation

#16142 [doc] fix typo in concepts/sui-architecture/indexer-functions
  docs/content/concepts/sui-architecture/indexer-functions.mdx
Labels: Type: Documentation

#16195 [docs] Show how to use `sui client faucet` for getting tokens from faucet
  docs/content/guides/developer/getting-started/local-network.mdx
Labels: Type: Documentation

#16194 Proofreading docs & sui_programmability
  docs/content/concepts/cryptography/zklogin.mdx
  docs/content/concepts/sui-architecture/epochs.mdx
  docs/content/standards/deepbook/design.mdx
  docs/content/standards/deepbook/pools.mdx
  sui_programmability/examples/crypto/sources/ec_ops.move
  sui_programmability/examples/games/sources/drand_based_lottery.move
Labels: Type: Documentation

#16136 [docs][easy] Some graphql beta cleanup
  docs/content/references/sui-api.mdx
  docs/content/references/sui-api/beta-graph-ql.mdx
Labels: Type: Documentation

#16226 [docs][easy] Removed devnet only notice
  docs/content/guides/developer/sui-101/create-coin.mdx
Labels: Type: Documentation

#16274 [GraphQL/Docs] Add example for iterating overall dynamic fields
  docs/content/guides/developer/getting-started/graphql-rpc.mdx
Labels: Type: Documentation

#16276 [GraphQL/Docs] Increased Concepts/References cross-linking
  docs/content/concepts/graphql-rpc.mdx
  docs/content/references/sui-graphql.mdx
  docs/site/package.json
Labels: Type: Documentation

#16283 Typo fix
  docs/content/references/sui-move.mdx
Labels: Type: Documentation

#16278 [docs] Updating link pointing to wrong location
  docs/content/concepts/transactions.mdx
Labels: Type: Documentation

#16251 [cli] Add client balance command
  crates/sui/src/client_commands.rs
  docs/content/references/cli/client.mdx
Labels: Type: Documentation

#16288 [docs] Improve migrate graphql linking
  docs/content/guides/developer.mdx
  docs/content/guides/developer/advanced.mdx
  docs/content/guides/developer/advanced/graphql-migration.mdx
  docs/content/sidebars/guides.js
  docs/content/snippets/migrate-to-graphql.mdx
Labels: Type: Documentation

#16260 [data ingestion] initial draft version of the docs
  docs/content/guides/developer/advanced/custom-indexer.mdx
  docs/content/sidebars/guides.js
  docs/site/docusaurus.config.js
Labels: Type: Documentation

#16311 Fix brew install all deps by including libpq
  docs/content/guides/developer/getting-started/sui-install.mdx
Labels: Type: Documentation

#16337 Typo fixed in the documentation
  docs/content/guides/developer/first-app/write-package.mdx
Labels: Type: Documentation

#16336 [docs] Added info callout
  docs/content/standards/kiosk.mdx
Labels: Type: Documentation

#16346 [docs] speedscope reporting fix
  docs/content/references/cli/client.mdx
Labels: Type: Documentation

#16354 【docs】Fix broken code block in event usage documentation
  docs/content/guides/developer/sui-101/using-events.mdx
Labels: Type: Documentation

#16341 Update blackjack v2 guide
  docs/content/guides/developer/app-examples/blackjack.mdx
Labels: Type: Documentation

#16372 [docs] Fix links in the trading example
  docs/content/guides/developer/app-examples/trading/frontend.mdx
  docs/content/guides/developer/app-examples/trading/indexer-api.mdx
Labels: Type: Documentation

#16343 [docs] add diagrams and fix broken links
  docs/content/guides/developer/sui-101/shared-owned.mdx
Labels: Type: Documentation

#16374 【docs】Fix Rust sample code for subscribing to events
  docs/content/guides/developer/sui-101/using-events.mdx
Labels: Type: Documentation

#16386 [docs] Fix broken link for shared/owned objects and add diagrams part 2
  docs/content/guides/developer/sui-101/shared-owned.mdx
Labels: Type: Documentation

#16391 Update ptb.mdx
  docs/content/references/cli/ptb.mdx
Labels: Type: Documentation

#16398 [docs][easy] Fixing link to updated path
  docs/content/concepts.mdx
Labels: Type: Documentation

#16400 [docs] Add CLI PTB item in the CLI reference page.
  docs/content/references/cli.mdx
Labels: Type: Documentation

#16406 [docs] Fix typo in CLI PTB page
  docs/content/references/cli/ptb.mdx
Labels: Type: Documentation

#16414 [Docs] Change sidebar defaults
  docs/content/sidebars/guides.js
  docs/content/sidebars/references.js
  docs/site/docusaurus.config.js
  docs/site/vercel.json
Labels: Type: Documentation

#16422 [docs] Added mainnet config
  docs/content/guides/operator/sui-full-node.mdx
Labels: Type: Documentation

#16437 [Docs] fix doc format
  docs/content/guides/operator/sui-full-node.mdx
Labels: Type: Documentation

#16447 [docs][easy] Formatting fix
  docs/content/guides/operator/sui-full-node.mdx
Labels: Type: Documentation

#16448 Update formatting
  docs/content/guides/operator/sui-full-node.mdx
Labels: Type: Documentation

#16467 [move-2024] Add migration for tests
  external-crates/move/crates/move-cli/tests/build_tests/migration/args.exp
  external-crates/move/crates/move-cli/tests/build_tests/migration/args.txt
  external-crates/move/crates/move-cli/tests/build_tests/migration/expected_migration.patch
  external-crates/move/crates/move-cli/tests/build_tests/migration/migration_tests/test0.move
  external-crates/move/crates/move-cli/tests/build_tests/migration/tests/test0.move
  external-crates/move/crates/move-package/src/lib.rs
Labels: move
