Repository MystenLabs/sui, pull requests merged in 2024-06, with the labels that each got.

#18076 Update graphql-rpc.mdx
  docs/content/guides/developer/getting-started/graphql-rpc.mdx
Labels: Type: Documentation

#18080 Update zklogin-integration.mdx
  docs/content/guides/developer/cryptography/zklogin-integration.mdx
Labels: Type: Documentation

#18100 Fix some incorrectly updated docs
  docs/content/guides/developer/app-examples/trustless-swap/frontend.mdx
  docs/content/guides/developer/cryptography/zklogin-integration.mdx
  docs/content/guides/developer/sui-101/sign-and-send-txn.mdx
Labels: Type: Documentation

#17524 Add zkSend navigationAdd a navigation to the sdk document
  docs/content/references/sui-sdks.mdx
  docs/content/sidebars/references.js
Labels: Type: Documentation

#18148 Update asset-tokenization.mdx
  docs/content/guides/developer/advanced.mdx
  docs/content/guides/developer/nft.mdx
  docs/content/guides/developer/nft/asset-tokenization.mdx
  docs/content/sidebars/guides.js
  docs/site/vercel.json
Labels: Type: Documentation

#18155 Randomness doc - stress that the example is insecure
  docs/content/guides/developer/advanced/randomness-onchain.mdx
Labels: Type: Documentation

#18132 [bridge] bridge node check zero transfer value and err
  crates/sui-bridge/src/abi.rs
  crates/sui-bridge/src/e2e_tests/complex.rs
  crates/sui-bridge/src/error.rs
  crates/sui-bridge/src/eth_client.rs
  crates/sui-bridge/src/events.rs
  crates/sui-bridge/src/orchestrator.rs
Labels: bridge

#18192 [docs] Update time topic
  docs/content/guides/developer/sui-101/access-time.mdx
  examples/move/basics/Move.toml
  examples/move/basics/sources/clock.move
Labels: Type: Documentation

#18215 [docs] Update connect.mdx
  docs/content/guides/developer/getting-started/connect.mdx
Labels: Type: Documentation

#18199 [docs] Using code references
  docs/content/guides/developer/sui-101/shared-owned.mdx
Labels: Type: Documentation

#18205 Update Bridge Github Workflow Environment
  .github/workflows/bridge.yml
Labels: bridge

#18179 [move][move-2024][ide] Split up match in the compiler
  external-crates/move/crates/move-compiler/src/hlir/detect_dead_code.rs
  external-crates/move/crates/move-compiler/src/hlir/match_compilation.rs
  external-crates/move/crates/move-compiler/src/hlir/mod.rs
  external-crates/move/crates/move-compiler/src/hlir/translate.rs
  external-crates/move/crates/move-compiler/src/shared/matching.rs
  external-crates/move/crates/move-compiler/src/shared/mod.rs
  external-crates/move/crates/move-compiler/src/shared/program_info.rs
  external-crates/move/crates/move-compiler/src/typing/core.rs
  external-crates/move/crates/move-compiler/src/typing/dependency_ordering.rs
  external-crates/move/crates/move-compiler/src/typing/match_analysis.rs
  external-crates/move/crates/move-compiler/src/typing/mod.rs
  external-crates/move/crates/move-compiler/src/typing/translate.rs
Labels: move

#18154 [sui native bridge] - add update committee node url to validator CLI
  crates/sui-bridge/src/sui_transaction_builder.rs
  crates/sui/src/sui_commands.rs
  crates/sui/src/validator_commands.rs
  crates/test-cluster/src/lib.rs
Labels: bridge

#17223 add uptime metric to sui security watchdog
  crates/sui-security-watchdog/src/main.rs
Labels: Stale

#18262 [bridge] let bridge node automatically accept new tokens after they are approved.
  Cargo.lock
  crates/sui-bridge/Cargo.toml
  crates/sui-bridge/src/action_executor.rs
  crates/sui-bridge/src/node.rs
  crates/sui-bridge/src/orchestrator.rs
Labels: bridge

#17913 Bridge Indexer Latest Eth Syncer
  Cargo.lock
  crates/sui-bridge-indexer/Cargo.toml
  crates/sui-bridge-indexer/src/eth_worker.rs
  crates/sui-bridge-indexer/src/latest_eth_syncer.rs
  crates/sui-bridge-indexer/src/lib.rs
  crates/sui-bridge-indexer/src/main.rs
  crates/sui-bridge-indexer/src/metrics.rs
  crates/sui-bridge-indexer/src/postgres_manager.rs
  crates/sui-bridge-indexer/src/sui_worker.rs
Labels: bridge

#18289 [sui native bridge] - store sui ingression progress in db
  crates/sui-bridge-indexer/config.yaml
  crates/sui-bridge-indexer/src/config.rs
  crates/sui-bridge-indexer/src/main.rs
  crates/sui-bridge-indexer/src/migrations/00000000000000_diesel_initial_setup/down.sql
  crates/sui-bridge-indexer/src/migrations/00000000000000_diesel_initial_setup/up.sql
  crates/sui-bridge-indexer/src/models.rs
  crates/sui-bridge-indexer/src/postgres_manager.rs
  crates/sui-bridge-indexer/src/schema.rs
Labels: bridge

#18220 Enforce non-zero bridge amount
  bridge/evm/contracts/utils/BridgeUtils.sol
  bridge/evm/test/SuiBridgeTest.t.sol
Labels: bridge

#18322 [bridge] some fixes to bridge node
  crates/sui-bridge-cli/src/lib.rs
  crates/sui-bridge-cli/src/main.rs
  crates/sui-bridge-indexer/src/eth_worker.rs
  crates/sui-bridge-indexer/src/main.rs
  crates/sui-bridge/src/abi.rs
  crates/sui-bridge/src/action_executor.rs
  crates/sui-bridge/src/client/bridge_client.rs
  crates/sui-bridge/src/config.rs
  crates/sui-bridge/src/encoding.rs
  crates/sui-bridge/src/eth_client.rs
  crates/sui-bridge/src/eth_syncer.rs
  crates/sui-bridge/src/events.rs
  crates/sui-bridge/src/lib.rs
  crates/sui-bridge/src/metrics.rs
  crates/sui-bridge/src/node.rs
  crates/sui-bridge/src/orchestrator.rs
  crates/sui-bridge/src/server/mod.rs
  crates/sui-bridge/src/sui_client.rs
  crates/sui-bridge/src/sui_syncer.rs
  crates/sui-bridge/src/sui_transaction_builder.rs
  crates/sui-bridge/src/types.rs
Labels: bridge

#18344 fix: update providers and link
  docs/content/guides/developer/cryptography/zklogin-integration.mdx
  docs/content/snippets/openid-providers.mdx
Labels: Type: Documentation

#18379 [bridge cli] add dry run option in governance cmd
  crates/sui-bridge-cli/src/lib.rs
  crates/sui-bridge-cli/src/main.rs
  crates/sui-bridge/src/client/bridge_authority_aggregator.rs
Labels: bridge

#18359 [bridge] emit CommitteeMemberUrlUpdateEvent event
  Cargo.lock
  crates/sui-framework/docs/bridge/committee.md
  crates/sui-framework/docs/bridge/message.md
  crates/sui-framework/packages/bridge/sources/committee.move
  crates/sui-framework/packages/bridge/sources/message.move
  crates/sui-framework/published_api.txt
  crates/sui-open-rpc/spec/openrpc.json
  crates/sui-protocol-config/src/lib.rs
  crates/sui-protocol-config/src/snapshots/sui_protocol_config__test__Mainnet_version_52.snap
  crates/sui-protocol-config/src/snapshots/sui_protocol_config__test__Testnet_version_52.snap
  crates/sui-protocol-config/src/snapshots/sui_protocol_config__test__version_52.snap
  crates/sui-swarm-config/tests/snapshots/snapshot_tests__genesis_config_snapshot_matches.snap
  crates/sui-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
  crates/sui/Cargo.toml
  crates/sui/src/validator_commands.rs
Labels: bridge

#18437 [PTB Concepts]Update prog-txn-blocks.mdx
  docs/content/concepts/transactions/prog-txn-blocks.mdx
Labels: Type: Documentation

#18452 include --request-payer flag in docs
  docs/content/guides/operator/snapshots.mdx
Labels: Type: Documentation
