Repository MystenLabs/sui, pull requests merged in 2024-07, with the labels that each got.

#18439 [bridge-indexer] - Bridge indexer cleanup refactoring 1/n
  crates/sui-bridge-indexer/Cargo.toml
  crates/sui-bridge-indexer/src/config.rs
  crates/sui-bridge-indexer/src/eth_worker.rs
  crates/sui-bridge-indexer/src/latest_eth_syncer.rs
  crates/sui-bridge-indexer/src/main.rs
  crates/sui-bridge-indexer/src/sui_transaction_handler.rs
  crates/sui-bridge-indexer/src/sui_worker.rs
Labels: bridge

#18477 fix typo
  docs/content/references/cli/cheatsheet.mdx
Labels: Type: Documentation

#18471 [cli] Change all documentation and workflows to use `sui` binary instead of `sui-test-validator`
  .github/actions/ts-e2e/action.yml
  .github/workflows/e2e.yml
  apps/wallet/playwright.config.ts
  crates/sui-graphql-rpc/README.md
  crates/sui-indexer/README.md
  crates/sui-rpc-loadgen/README.md
  docs/content/guides/developer/getting-started/get-coins.mdx
  docs/content/guides/developer/getting-started/local-network.mdx
  sdk/deepbook/package.json
  sdk/docs/pages/typescript/sui-client.mdx
  sdk/graphql-transport/package.json
  sdk/kiosk/package.json
  sdk/typescript/README.md
  sdk/typescript/package.json
Labels: Type: Documentation

#18433 docs: automated address management
  docs/content/concepts/sui-move-concepts/packages.mdx
  docs/content/concepts/sui-move-concepts/packages/automated-address-management.mdx
  docs/content/concepts/sui-move-concepts/packages/upgrade.mdx
  docs/content/guides/developer/nft/asset-tokenization.mdx
  docs/content/sidebars/concepts.js
  docs/site/vercel.json
Labels: Type: Documentation

#18422 [bridge-indexer] - smarter checkpoint backfill
  crates/sui-bridge-indexer/config.yaml
  crates/sui-bridge-indexer/src/config.rs
  crates/sui-bridge-indexer/src/lib.rs
  crates/sui-bridge-indexer/src/main.rs
  crates/sui-bridge-indexer/src/migrations/2024-06-25-112132_smart_progress_store/down.sql
  crates/sui-bridge-indexer/src/migrations/2024-06-25-112132_smart_progress_store/up.sql
  crates/sui-bridge-indexer/src/models.rs
  crates/sui-bridge-indexer/src/postgres_manager.rs
  crates/sui-bridge-indexer/src/schema.rs
  crates/sui-bridge-indexer/src/sui_checkpoint_ingestion.rs
  crates/sui-bridge-indexer/src/sui_worker.rs
Labels: bridge

#18489 add instruction for microsoft
  docs/content/guides/developer/cryptography/zklogin-integration.mdx
  docs/content/guides/developer/cryptography/zklogin-integration/developer-account.mdx
  docs/content/guides/developer/cryptography/zklogin-integration/images/microsoft1.png
  docs/content/guides/developer/cryptography/zklogin-integration/images/microsoft2.png
  docs/content/guides/developer/cryptography/zklogin-integration/images/microsoft3.png
  docs/content/guides/developer/cryptography/zklogin-integration/images/microsoft4.png
  docs/content/guides/developer/cryptography/zklogin-integration/images/microsoft5.png
  docs/content/guides/developer/cryptography/zklogin-integration/images/microsoft6.png
Labels: Type: Documentation

#18453 [docs] Update Distributed Counter example app
  docs/content/guides/developer/app-examples/e2e-counter.mdx
  sdk/create-dapp/templates/react-client-dapp/src/main.tsx
  sdk/create-dapp/templates/react-client-dapp/src/networkConfig.ts
  sdk/create-dapp/templates/react-e2e-counter/README.md
  sdk/create-dapp/templates/react-e2e-counter/move/counter/sources/counter.move
  sdk/create-dapp/templates/react-e2e-counter/src/Counter.tsx
  sdk/create-dapp/templates/react-e2e-counter/src/CreateCounter.tsx
Labels: Type: Documentation

#18556 [Fix Doc] Update randomness-onchain.mdx
  docs/content/guides/developer/advanced/randomness-onchain.mdx
Labels: Type: Documentation

#18549 docs: automated address management updates
  docs/content/concepts/sui-move-concepts/packages/automated-address-management.mdx
  docs/content/concepts/sui-move-concepts/packages/upgrade.mdx
Labels: Type: Documentation

#18562 Update local-network.mdx
  docs/content/guides/developer/getting-started/local-network.mdx
Labels: Type: Documentation

#18572 [Fix doc] fix mut generator
  docs/content/guides/developer/advanced/randomness-onchain.mdx
Labels: Type: Documentation

#18597 [docs] Re-organized list of example apps
  docs/content/guides/developer/app-examples.mdx
  docs/content/sidebars/guides.js
Labels: Type: Documentation

#18530 [docs] Deepbook v3
  docs/content/sidebars/standards.js
  docs/content/snippets/deepbook.mdx
  docs/content/standards/deepbook.mdx
  docs/content/standards/deepbookv2.mdx
  docs/content/standards/deepbookv2/design.mdx
  docs/content/standards/deepbookv2/orders.mdx
  docs/content/standards/deepbookv2/pools.mdx
  docs/content/standards/deepbookv2/query-the-pool.mdx
  docs/content/standards/deepbookv2/routing-a-swap.mdx
  docs/content/standards/deepbookv2/trade-and-swap.mdx
  docs/content/standards/deepbookv3.mdx
  docs/content/standards/deepbookv3/balance-manager.mdx
  docs/content/standards/deepbookv3/design.mdx
  docs/content/standards/deepbookv3/flash-loans.mdx
  docs/content/standards/deepbookv3/images/DBv3Architecture.png
  docs/content/standards/deepbookv3/images/governance.png
  docs/content/standards/deepbookv3/images/placeorder.png
  docs/content/standards/deepbookv3/images/pool.png
  docs/content/standards/deepbookv3/orders.mdx
  docs/content/standards/deepbookv3/query-the-pool.mdx
  docs/content/standards/deepbookv3/staking-governance.mdx
  docs/content/standards/deepbookv3/swaps.mdx
  docs/site/static/doc/deepbook.pdf
  docs/site/vercel.json
Labels: Type: Documentation

#18608 Update connect.mdx
  docs/content/guides/developer/getting-started/connect.mdx
Labels: Type: Documentation

#18298 [bridge] support rank validators by voting power when requesting signatures
  crates/sui-bridge/src/client/bridge_authority_aggregator.rs
  crates/sui-bridge/src/sui_client.rs
  crates/sui-bridge/src/types.rs
  crates/sui-core/src/authority.rs
  crates/sui-json-rpc-types/src/sui_protocol.rs
  crates/sui-open-rpc/spec/openrpc.json
  crates/sui-protocol-config/src/lib.rs
  crates/sui-rest-api/src/system.rs
  crates/sui-types/src/transaction.rs
  sui-execution/latest/sui-adapter/src/execution_engine.rs
Labels: bridge

#18558 [Examples/Docs] Tic-tac-toe
  docs/content/guides/developer/app-examples/tic-tac-toe.mdx
  docs/site/src/css/custom.css
  examples/tic-tac-toe/README.md
Labels: Type: Documentation

#18510 [bridge indexer] - record bridge txn errors
  crates/sui-bridge-indexer/src/eth_worker.rs
  crates/sui-bridge-indexer/src/lib.rs
  crates/sui-bridge-indexer/src/migrations/2024-07-02-101842_error_transaction/down.sql
  crates/sui-bridge-indexer/src/migrations/2024-07-02-101842_error_transaction/up.sql
  crates/sui-bridge-indexer/src/models.rs
  crates/sui-bridge-indexer/src/postgres_manager.rs
  crates/sui-bridge-indexer/src/schema.rs
  crates/sui-bridge-indexer/src/sui_transaction_handler.rs
  crates/sui-bridge-indexer/src/sui_worker.rs
  crates/sui-bridge-indexer/src/types.rs
Labels: bridge

#18703 Grammar fix on the Wallet Standard page
  docs/content/standards/wallet-standard.mdx
Labels: Type: Documentation

#17633 Update sui-bridging.mdx for the correct anchor link
  docs/content/concepts/tokenomics/sui-bridging.mdx
Labels: Type: Documentation, Stale

#18685 [bridge] add metrics for SignerWithCache
  crates/sui-bridge/src/metrics.rs
  crates/sui-bridge/src/node.rs
  crates/sui-bridge/src/server/governance_verifier.rs
  crates/sui-bridge/src/server/handler.rs
Labels: bridge

#18724 [docs] update sui move cli options
  docs/content/references/cli/move.mdx
Labels: Type: Documentation

#18766 Update zklogin.mdx
  docs/content/concepts/cryptography/zklogin.mdx
Labels: Type: Documentation

#18769 [Docs - NFT Rental] Updates broken link
  docs/content/guides/developer/nft/nft-rental.mdx
Labels: Type: Documentation

#18745 [docs] Content updates and style changes
  docs/content/references/contribute/style-guide.mdx
  docs/content/standards/deepbookv3/design.mdx
  docs/content/standards/deepbookv3/swaps.mdx
Labels: Type: Documentation

#18711 [docs] add custom indexer example to doc page
  docs/content/guides/developer/advanced/custom-indexer.mdx
  docs/content/snippets/custom-indexer-source.mdx
  examples/custom-indexer/rust/.gitignore
  examples/custom-indexer/rust/Cargo.toml
  examples/custom-indexer/rust/README.md
  examples/custom-indexer/rust/main.rs
Labels: Type: Documentation

#18765 [docs] Updates to wallet standard
  docs/content/standards/wallet-standard.mdx
Labels: Type: Documentation

#18783 [docs] Retrieving edits
  docs/content/guides/developer/advanced/custom-indexer.mdx
  docs/content/snippets/custom-indexer-source.mdx
  docs/site/src/plugins/inject-code/injectLoader.js
Labels: Type: Documentation

#18799 docs: fix spelling issues
  docs/content/concepts/sui-architecture/epochs.mdx
  docs/content/concepts/sui-architecture/sui-security.mdx
  docs/content/concepts/sui-move-concepts/packages/automated-address-management.mdx
Labels: Type: Documentation

#18837 docs: update outdated mention on Move.toml
  docs/content/guides/developer/first-app/write-package.mdx
Labels: Type: Documentation

#18855 [docs] update snapshot docs based off operator feedback
  docs/content/guides/operator/snapshots.mdx
Labels: Type: Documentation
