Repository MystenLabs/sui, pull requests merged in 2024-09, with the labels that each got.

#19190 [docs] Fix typos
  bridge/incentivize_testnet_faq.md
  docs/content/concepts/transactions.mdx
  nre/docker/README.md
  nre/validator_tool.md
  sdk/docs/pages/kiosk/from-v1.mdx
Labels: Type: Documentation

#19181 fix typo in deepbookv3-sdk.mdx doc
  docs/content/standards/deepbookv3-sdk.mdx
Labels: Type: Documentation

#19160 Fixed incomplete sentence in the docs
  docs/content/guides/operator/sui-full-node.mdx
Labels: Type: Documentation

#19187 Update swaps.mdx
  docs/content/standards/deepbookv3/swaps.mdx
Labels: Type: Documentation

#19198 [Docs] update references and metrics post Mysticeti launch
  docs/content/concepts/cryptography/transaction-auth/signatures.mdx
  docs/content/concepts/sui-architecture.mdx
  docs/content/guides/developer/sui-101/access-time.mdx
  docs/content/guides/operator/exchange-integration.mdx
  docs/content/guides/operator/validator-committee.mdx
  docs/content/guides/operator/validator-tasks.mdx
  docs/content/references/contribute/sui-environment.mdx
  docs/content/references/exchange-integration-guide.mdx
  docs/content/references/sui-compared.mdx
  docs/content/references/sui-glossary.mdx
  docs/content/standards/deepbookv2/design.mdx
  docs/content/standards/deepbookv2/pools.mdx
Labels: Type: Documentation

#19261 [docs] Include a reference to "The Move Book" in the Write a Move Package page
  docs/content/guides/developer/first-app/write-package.mdx
Labels: Type: Documentation

#19014 Assertions for groth16 public inputs parser
  crates/sui-framework/docs/move-stdlib/vector.md
  crates/sui-framework/docs/sui-framework/groth16.md
  crates/sui-framework/packages/move-stdlib/sources/vector.move
  crates/sui-framework/packages/move-stdlib/tests/vector_tests.move
  crates/sui-framework/packages/sui-framework/sources/crypto/groth16.move
  crates/sui-framework/packages/sui-framework/tests/crypto/groth16_tests.move
  crates/sui-framework/packages_compiled/move-stdlib
  crates/sui-framework/packages_compiled/sui-framework
  crates/sui-framework/published_api.txt
  crates/sui-open-rpc/spec/openrpc.json
  crates/sui-protocol-config/src/lib.rs
  crates/sui-protocol-config/src/snapshots/sui_protocol_config__test__Mainnet_version_59.snap
  crates/sui-protocol-config/src/snapshots/sui_protocol_config__test__Testnet_version_59.snap
  crates/sui-protocol-config/src/snapshots/sui_protocol_config__test__version_59.snap
  crates/sui-swarm-config/tests/snapshots/snapshot_tests__genesis_config_snapshot_matches.snap
  crates/sui-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
  docs/content/guides/developer/cryptography/groth16.mdx
Labels: Type: Documentation

#19224 chore: update doc for new providers
  docs/content/snippets/openid-providers.mdx
Labels: Type: Documentation

#16523 move toolchain: fix multiple issues with bytecode dependencies
  Cargo.lock
  crates/sui-move-build/src/lib.rs
  crates/sui-move-build/src/unit_tests/build_tests.rs
  crates/sui-source-validation/src/lib.rs
  crates/sui-source-validation/src/tests.rs
  external-crates/move/Cargo.lock
  external-crates/move/Cargo.toml
  external-crates/move/crates/move-bytecode-utils/Cargo.toml
  external-crates/move/crates/move-bytecode-utils/src/dependency_graph.rs
  external-crates/move/crates/move-bytecode-utils/src/lib.rs
  external-crates/move/crates/move-cli/src/base/test.rs
  external-crates/move/crates/move-cli/tests/move_unit_tests/bytecode_deps/B/Move.toml
  external-crates/move/crates/move-cli/tests/move_unit_tests/bytecode_deps/B/sources/Bar.move
  external-crates/move/crates/move-cli/tests/move_unit_tests/bytecode_deps/C/Move.toml
  external-crates/move/crates/move-cli/tests/move_unit_tests/bytecode_deps/C/sources/Foo.move
  external-crates/move/crates/move-cli/tests/move_unit_tests/bytecode_deps/Move.toml
  external-crates/move/crates/move-cli/tests/move_unit_tests/bytecode_deps/args.exp
  external-crates/move/crates/move-cli/tests/move_unit_tests/bytecode_deps/args.txt
  external-crates/move/crates/move-cli/tests/move_unit_tests/bytecode_deps/sources/A.move
  external-crates/move/crates/move-compiler/src/unit_test/mod.rs
  external-crates/move/crates/move-package/src/resolution/resolution_graph.rs
  external-crates/move/crates/move-unit-test/src/lib.rs
  external-crates/move/crates/move-unit-test/src/test_runner.rs
Labels: Stale

#18543 fix typos
  crates/sui-core/src/authority_server.rs
  crates/sui-core/src/unit_tests/transaction_tests.rs
  crates/sui-transaction-checks/src/lib.rs
  crates/sui-types/src/error.rs
Labels: Stale

#19358 [docs] Beta tag for graphql
  docs/content/concepts/graphql-rpc.mdx
  docs/content/guides/developer/advanced/graphql-migration.mdx
  docs/content/references/sui-graphql.mdx
  docs/content/sidebars/concepts.js
  docs/content/sidebars/guides.js
  docs/content/sidebars/references.js
  docs/site/docusaurus.config.js
  docs/site/pnpm-lock.yaml
  docs/site/src/components/BetaTag/index.tsx
  docs/site/src/plugins/betatag/index.js
  docs/site/src/theme/MDXContent/index.js
Labels: Type: Documentation

#19436 [cli] Remove indexer feature for `sui` and remove the `sui-pg` binary
  .github/actions/ts-e2e/action.yml
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  crates/sui-graphql-rpc/README.md
  crates/sui-indexer/README.md
  crates/sui-rpc-loadgen/README.md
  crates/sui-test-validator/src/main.rs
  crates/sui/Cargo.toml
  crates/sui/src/sui_commands.rs
  crates/sui/tests/cli_tests.rs
  docs/content/guides/developer/getting-started/local-network.mdx
  sdk/graphql-transport/package.json
  sdk/typescript/package.json
Labels: Type: Documentation

#19448 [docs] libpq updates
  docs/content/guides/developer/getting-started/sui-install.mdx
  docs/content/snippets/libpq-req.mdx
Labels: Type: Documentation

#19315 [Consensus] Garbage Collection - 1
  consensus/core/src/dag_state.rs
  consensus/core/src/linearizer.rs
  crates/sui-open-rpc/spec/openrpc.json
  crates/sui-protocol-config/src/lib.rs
Labels: do-not-merge

#19464 add no sign request to archives docs
  docs/content/guides/operator/archives.mdx
Labels: Type: Documentation

#19466 Include the aws region in example config
  docs/content/guides/operator/archives.mdx
Labels: Type: Documentation

#19278 [docs] Updated example and linked to source
  docs/content/guides/developer/sui-101/using-events.mdx
Labels: Type: Documentation

#19409 [docs] trustless swap updates
  docs/content/concepts/object-model.mdx
  docs/content/concepts/sui-move-concepts/packages/custom-policies.mdx
  docs/content/guides/developer/app-examples/images/styles.png
  docs/content/guides/developer/app-examples/images/trustless-accept-escrow.png
  docs/content/guides/developer/app-examples/images/trustless-cancel-escrow.png
  docs/content/guides/developer/app-examples/images/trustless-escrow-locked.png
  docs/content/guides/developer/app-examples/images/trustless-lock-bear.png
  docs/content/guides/developer/app-examples/images/trustless-my-locked.png
  docs/content/guides/developer/app-examples/images/trustless-new-bear.png
  docs/content/guides/developer/app-examples/images/trustless-objects.png
  docs/content/guides/developer/app-examples/images/trustless-start-escrow.png
  docs/content/guides/developer/app-examples/images/trustless-unlock-bear.png
  docs/content/guides/developer/app-examples/tic-tac-toe.mdx
  docs/content/guides/developer/app-examples/trusted-swap.mdx
  docs/content/guides/developer/app-examples/trustless-swap.mdx
  docs/content/guides/developer/app-examples/trustless-swap/backend.mdx
  docs/content/guides/developer/app-examples/trustless-swap/frontend.mdx
  docs/content/guides/developer/app-examples/trustless-swap/indexer-api.mdx
  docs/content/guides/developer/coin/in-game-token.mdx
  docs/content/guides/developer/coin/loyalty.mdx
  docs/content/guides/developer/first-app/build-test.mdx
  docs/content/guides/developer/nft.mdx
  docs/content/guides/developer/nft/asset-tokenization.mdx
  docs/content/guides/developer/sui-101/shared-owned.mdx
  docs/content/references/contribute/mdx-components.mdx
  docs/content/sidebars/guides.js
  docs/content/standards/deepbookv3-sdk.mdx
  docs/site/docusaurus.config.js
  docs/site/src/components/EffortBox/index.tsx
  docs/site/src/css/custom.css
  docs/site/src/plugins/effort/index.js
  docs/site/src/plugins/inject-code/injectLoader.js
  docs/site/src/plugins/inject-code/utils.js
  docs/site/src/theme/Admonition/Types.js
  docs/site/src/theme/CodeBlock/Content/String.js
  docs/site/src/theme/CodeBlock/Content/styles.module.css
  docs/site/src/theme/MDXComponents/Details.js
  docs/site/src/theme/MDXContent/index.js
  examples/trading/api/helpers/create-demo-data.ts
  examples/trading/api/helpers/create-demo-escrows.ts
  examples/trading/contracts/escrow/sources/lock.move
  examples/trading/contracts/escrow/sources/shared.move
  examples/trading/frontend/src/components/escrows/Escrow.tsx
  examples/trading/frontend/src/components/escrows/EscrowList.tsx
  examples/trading/frontend/src/components/locked/ApiLockedList.tsx
  examples/trading/frontend/src/components/locked/LockOwnedObjects.tsx
  examples/trading/frontend/src/components/locked/partials/Locked.tsx
  examples/trading/frontend/src/hooks/useTransactionExecution.ts
  examples/trading/frontend/src/mutations/escrow.ts
  examples/trading/frontend/src/mutations/locked.ts
  examples/trading/frontend/src/networkConfig.ts
  examples/trading/frontend/src/routes/EscrowDashboard.tsx
  examples/trading/frontend/src/routes/LockedDashboard.tsx
Labels: Type: Documentation

#19537 Set the right path to get a coin from faucet
  docs/content/guides/developer/getting-started/get-coins.mdx
Labels: Type: Documentation

#19546 [docs] Fixed typos and formatting
  docs/content/concepts/events.mdx
  docs/content/concepts/sui-move-concepts/conventions.mdx
  docs/content/concepts/sui-move-concepts/packages/custom-policies.mdx
  docs/content/concepts/transactions/prog-txn-blocks.mdx
Labels: Type: Documentation

#19571 Np/new provider arden
  Cargo.lock
  Cargo.toml
  crates/sui-config/src/node.rs
  crates/sui-swarm-config/tests/snapshots/snapshot_tests__network_config_snapshot_matches.snap
  crates/sui/src/keytool.rs
Labels: Type: Documentation

#18759 FungibleStakedSui Implementation
  crates/sui-framework/docs/sui-system/staking_pool.md
  crates/sui-framework/docs/sui-system/sui_system.md
  crates/sui-framework/docs/sui-system/sui_system_state_inner.md
  crates/sui-framework/docs/sui-system/validator.md
  crates/sui-framework/docs/sui-system/validator_set.md
  crates/sui-framework/packages/sui-system/sources/staking_pool.move
  crates/sui-framework/packages/sui-system/sources/sui_system.move
  crates/sui-framework/packages/sui-system/sources/sui_system_state_inner.move
  crates/sui-framework/packages/sui-system/sources/validator.move
  crates/sui-framework/packages/sui-system/sources/validator_set.move
  crates/sui-framework/packages/sui-system/tests/staking_pool.move
  crates/sui-framework/packages/sui-system/tests/sui_system_tests.move
  crates/sui-framework/packages_compiled/sui-system
  crates/sui-framework/published_api.txt
  crates/sui-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
Labels: move-std

#19625 [docs] fix interface reference for data ingestion
  docs/content/guides/developer/advanced/custom-indexer.mdx
Labels: Type: Documentation
