Repository MystenLabs/sui, pull requests merged in 2025-07, with the labels that each got.

#22582 Update dynamic-fields.mdx
  docs/content/concepts/dynamic-fields.mdx
Labels: Type: Documentation

#22627 Recommend aggressive object version pruning to validators
  docs/content/guides/operator/data-management.mdx
Labels: Type: Documentation

#22831 [docs] fix file path in e2e counter example docs
  docs/content/guides/developer/app-examples/e2e-counter.mdx
Labels: Type: Documentation

#22685 [docs] Sui play
  docs/content/guides/suiplay0x1.mdx
  docs/content/guides/suiplay0x1/best-practices.mdx
  docs/content/guides/suiplay0x1/integration.mdx
  docs/content/guides/suiplay0x1/migration-strategies.mdx
  docs/content/guides/suiplay0x1/wallet-integration.mdx
  docs/content/sidebars/guides.js
  docs/content/snippets/suiplay.mdx
Labels: Type: Documentation

#21705 [vm][move-vm][rewrite] Rename package ID types
  external-crates/move/crates/move-cli/src/sandbox/cli.rs
  external-crates/move/crates/move-cli/src/sandbox/commands/publish.rs
  external-crates/move/crates/move-cli/src/sandbox/utils/on_disk_state_view.rs
  external-crates/move/crates/move-transactional-test-runner/src/vm_test_harness.rs
  external-crates/move/crates/move-vm-runtime/src/cache/move_cache.rs
  external-crates/move/crates/move-vm-runtime/src/dev_utils/compilation_utils.rs
  external-crates/move/crates/move-vm-runtime/src/dev_utils/in_memory_test_adapter.rs
  external-crates/move/crates/move-vm-runtime/src/dev_utils/storage.rs
  external-crates/move/crates/move-vm-runtime/src/dev_utils/vm_test_adapter.rs
  external-crates/move/crates/move-vm-runtime/src/execution/dispatch_tables.rs
  external-crates/move/crates/move-vm-runtime/src/jit/execution/ast.rs
  external-crates/move/crates/move-vm-runtime/src/jit/execution/translate.rs
  external-crates/move/crates/move-vm-runtime/src/jit/optimization/ast.rs
  external-crates/move/crates/move-vm-runtime/src/jit/optimization/translate.rs
  external-crates/move/crates/move-vm-runtime/src/runtime/data_cache.rs
  external-crates/move/crates/move-vm-runtime/src/runtime/mod.rs
  external-crates/move/crates/move-vm-runtime/src/runtime/package_resolution.rs
  external-crates/move/crates/move-vm-runtime/src/shared/linkage_context.rs
  external-crates/move/crates/move-vm-runtime/src/shared/types.rs
  external-crates/move/crates/move-vm-runtime/src/unit_tests/loader_tests.rs
  external-crates/move/crates/move-vm-runtime/src/unit_tests/package_cache_tests.rs
  external-crates/move/crates/move-vm-runtime/src/validation/deserialization/ast.rs
  external-crates/move/crates/move-vm-runtime/src/validation/mod.rs
  external-crates/move/crates/move-vm-runtime/src/validation/verification/ast.rs
  external-crates/move/crates/move-vm-runtime/src/validation/verification/linkage.rs
  external-crates/move/crates/move-vm-runtime/src/validation/verification/translate.rs
  sui-execution/latest/sui-adapter/src/error.rs
  sui-execution/latest/sui-adapter/src/programmable_transactions/datastore.rs
Labels: Stale

#22890 docs: fix typos and improve clarity in exchange integration guide
  docs/content/guides/operator/exchange-integration.mdx
Labels: Type: Documentation

#22675 [lint] public entry
  crates/sui-core/src/authority/snapshots/sui_core__authority__execution_time_estimator__tests__execution_time_observer_v90.snap
  crates/sui-framework/packages/sui-framework/sources/coin.move
  crates/sui-framework/packages/sui-framework/sources/display.move
  crates/sui-framework/packages/sui-framework/sources/package.move
  crates/sui-framework/packages/sui-framework/sources/pay.move
  crates/sui-framework/packages/sui-framework/sources/sui.move
  crates/sui-framework/packages/sui-system/sources/staking_pool.move
  crates/sui-framework/packages/sui-system/sources/sui_system.move
  crates/sui-framework/packages_compiled/sui-framework
  crates/sui-open-rpc/spec/openrpc.json
  crates/sui-protocol-config/src/lib.rs
  crates/sui-protocol-config/src/snapshots/sui_protocol_config__test__Mainnet_version_90.snap
  crates/sui-protocol-config/src/snapshots/sui_protocol_config__test__Testnet_version_90.snap
  crates/sui-protocol-config/src/snapshots/sui_protocol_config__test__version_90.snap
  crates/sui-swarm-config/tests/snapshots/snapshot_tests__genesis_config_snapshot_matches.snap
  crates/sui-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
  external-crates/move/crates/move-compiler/src/linters/mod.rs
  external-crates/move/crates/move-compiler/src/sui_mode/linters/mod.rs
  external-crates/move/crates/move-compiler/src/sui_mode/linters/unnecessary_public_entry.rs
  external-crates/move/crates/move-compiler/tests/linter/true_positive_unnecessary_conditional.move
  external-crates/move/crates/move-compiler/tests/linter/true_positive_unnecessary_conditional.snap
  external-crates/move/crates/move-compiler/tests/sui_mode/linter/false_unnecessary_public_entry.move
  external-crates/move/crates/move-compiler/tests/sui_mode/linter/false_unnecessary_public_entry.snap
  external-crates/move/crates/move-compiler/tests/sui_mode/linter/public_random_invalid.move
  external-crates/move/crates/move-compiler/tests/sui_mode/linter/public_random_invalid.snap
  external-crates/move/crates/move-compiler/tests/sui_mode/linter/suppress_unnecessary_public_entry.move
  external-crates/move/crates/move-compiler/tests/sui_mode/linter/suppress_unnecessary_public_entry.snap
  external-crates/move/crates/move-compiler/tests/sui_mode/linter/true_unnecessary_public_entry.move
  external-crates/move/crates/move-compiler/tests/sui_mode/linter/true_unnecessary_public_entry.snap
Labels: move, move-linter
