Repository MystenLabs/sui, pull requests merged in 2025-02, with the labels that each got.

#20984 [framework] Adds `peel_enum` to bcs
  crates/sui-framework/docs/sui/bcs.md
  crates/sui-framework/packages/sui-framework/sources/bcs.move
  crates/sui-framework/packages/sui-framework/tests/bcs_tests.move
  crates/sui-framework/packages_compiled/sui-framework
  crates/sui-framework/published_api.txt
  crates/sui-open-rpc/spec/openrpc.json
  crates/sui-protocol-config/src/lib.rs
  crates/sui-protocol-config/src/snapshots/sui_protocol_config__test__Mainnet_version_74.snap
  crates/sui-protocol-config/src/snapshots/sui_protocol_config__test__Testnet_version_74.snap
  crates/sui-protocol-config/src/snapshots/sui_protocol_config__test__version_74.snap
  crates/sui-swarm-config/tests/snapshots/snapshot_tests__genesis_config_snapshot_matches.snap
  crates/sui-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
Labels: move

#21093 fix broken tokenomics.pdf links in docs
  docs/content/concepts/tokenomics.mdx
Labels: Type: Documentation

#21097 Fix docs typo
  docs/content/snippets/info-gas-budget.mdx
  docs/content/snippets/libpq-req.mdx
Labels: Type: Documentation

#21078 Adding a unified narrative doc for data access interfaces
  docs/content/concepts/graphql-rpc.mdx
  docs/content/guides/developer/advanced/custom-indexer.mdx
  docs/content/guides/developer/advanced/graphql-migration.mdx
  docs/content/guides/developer/getting-started/data-serving.mdx
  docs/content/guides/developer/getting-started/graphql-rpc.mdx
  docs/content/guides/developer/images/dataservingstack.png
  docs/content/references/sui-api.mdx
  docs/content/references/sui-graphql.mdx
  docs/content/sidebars/guides.js
  docs/content/snippets/data-serving-gql-alpha.mdx
  docs/content/snippets/data-serving-msg.mdx
Labels: Type: Documentation

#21090 [docs] Render proto files
  docs/content/references/fullnode-protocol.mdx
  docs/content/sidebars/references.js
  docs/site/docusaurus.config.js
  docs/site/src/components/Protocol/index.tsx
  docs/site/src/plugins/protocol/index.js
  docs/site/src/plugins/protocol/protocolLoader-json.js
Labels: Type: Documentation

#21120 [docs] Fix image background in dark mode
  docs/content/guides/developer/getting-started/data-serving.mdx
Labels: Type: Documentation

#21110 [docs] style updates to api doc
  docs/content/concepts/graphql-rpc.mdx
  docs/content/guides/developer/getting-started/data-serving.mdx
  docs/site/src/components/BetaTag/index.tsx
Labels: Type: Documentation

#21136 Minor change to data serving doc to clarify query patterns difference
  docs/content/guides/developer/getting-started/data-serving.mdx
Labels: Type: Documentation

#21106 feat(doc): add reference for passkey
  docs/content/concepts/cryptography/transaction-auth/signatures.mdx
Labels: Type: Documentation

#21143 Remove unnecessary config fields in examples
  docs/content/guides/operator/data-management.mdx
  nre/config/validator.yaml
Labels: Type: Documentation

#21170 Update publish.mdx
  docs/content/guides/developer/first-app/publish.mdx
Labels: Type: Documentation

#20997 style guide updates
  docs/content/guides/developer/advanced/local-fee-markets.mdx
Labels: Type: Documentation

#20892 Add advanced guide for congestion control to Sui docs
  docs/content/guides/developer/advanced/local-fee-markets.mdx
  docs/content/sidebars/guides.js
Labels: Type: Documentation

#21212 [docs] Vesting topic
  docs/content/concepts/tokenomics/vesting-strategies.mdx
  docs/content/sidebars/concepts.js
  examples/vesting/Move.toml
  examples/vesting/sources/backloaded.move
  examples/vesting/sources/cliff.move
  examples/vesting/sources/hybrid.move
  examples/vesting/sources/linear.move
  examples/vesting/sources/milestone.move
  examples/vesting/tests/backloaded_tests.move
  examples/vesting/tests/cliff_tests.move
  examples/vesting/tests/hybrid_tests.move
  examples/vesting/tests/immediate_tests.move
  examples/vesting/tests/linear_tests.move
  examples/vesting/tests/milestone_tests.move
Labels: Type: Documentation

#21240 Update vesting-strategies.mdx
  docs/content/concepts/tokenomics/vesting-strategies.mdx
Labels: Type: Documentation

#21242 :memo: docs: improve randomness-onchain
  docs/content/guides/developer/advanced/randomness-onchain.mdx
Labels: Type: Documentation

#21278 Update deepbookv3-sdk.mdx
  docs/content/standards/deepbookv3-sdk.mdx
Labels: Type: Documentation

#21271 changed references to my_module to example
  docs/content/guides/developer/first-app/build-test.mdx
  docs/content/guides/developer/first-app/write-package.mdx
Labels: Type: Documentation

#21279 [docs] site to text file
  docs/content/references/cli/client.mdx
  docs/site/package.json
  docs/site/pnpm-lock.yaml
  docs/site/src/plugins/descriptions/index.js
Labels: Type: Documentation

#21295 [docs] Remove move book topics
  docs/content/concepts.mdx
  docs/content/concepts/dynamic-fields.mdx
  docs/content/concepts/dynamic-fields/tables-bags.mdx
  docs/content/concepts/object-model.mdx
  docs/content/concepts/object-ownership.mdx
  docs/content/concepts/tokenomics/vesting-strategies.mdx
  docs/content/guides/developer/app-examples/reviews-rating.mdx
  docs/content/guides/developer/app-examples/tic-tac-toe.mdx
  docs/content/guides/developer/app-examples/weather-oracle.mdx
  docs/content/guides/developer/getting-started/graphql-rpc.mdx
  docs/content/guides/operator/bridge-node-configuration.mdx
  docs/content/sidebars/concepts.js
  docs/content/standards/kiosk-apps.mdx
  docs/site/src/components/Cards/index.tsx
Labels: Type: Documentation

#21307 [examples] Add usdc_usage example contracts to /examples/move
  examples/move/usdc_usage/.gitignore
  examples/move/usdc_usage/Move.toml
  examples/move/usdc_usage/sources/example.move
Labels: examples

#21215 Refactor/update sui-node-deterministic to latest stagex
  docker/sui-node-deterministic/Dockerfile
Labels: reproducible-builds

#21345 Add Zed to Move extensions
  docs/content/guides/developer/getting-started/sui-install.mdx
Labels: Type: Documentation

#21363 fix `5 broken link` reviews-rating.mdx
  docs/content/guides/developer/app-examples/reviews-rating.mdx
Labels: Type: Documentation

#18820 feat: allow passkey in multisig
  crates/sui-core/benches/batch_verification_bench.rs
  crates/sui-core/src/authority/authority_per_epoch_store.rs
  crates/sui-core/src/signature_verifier.rs
  crates/sui-core/src/unit_tests/batch_verification_tests.rs
  crates/sui-e2e-tests/tests/multisig_tests.rs
  crates/sui-graphql-rpc/src/types/zklogin_verify_signature.rs
  crates/sui-json-rpc/src/read_api.rs
  crates/sui-mvr-graphql-rpc/src/types/zklogin_verify_signature.rs
  crates/sui-open-rpc/spec/openrpc.json
  crates/sui-protocol-config/src/lib.rs
  crates/sui-protocol-config/src/snapshots/sui_protocol_config__test__Testnet_version_76.snap
  crates/sui-protocol-config/src/snapshots/sui_protocol_config__test__version_76.snap
  crates/sui-types/src/crypto.rs
  crates/sui-types/src/multisig.rs
  crates/sui-types/src/signature.rs
  crates/sui-types/src/unit_tests/multisig_tests.rs
  crates/sui-types/src/unit_tests/zk_login_authenticator_test.rs
  crates/sui/src/keytool.rs
Labels: Stale

#21374 Add a public doc for passkeys for testnet launch
  docs/content/concepts/cryptography.mdx
  docs/content/concepts/cryptography/passkeys.mdx
  docs/content/sidebars/concepts.js
Labels: Type: Documentation

#21386 [docs] sui bridge content
  docs/content/concepts/sui-bridge.mdx
  docs/content/concepts/tokenomics/sui-bridging.mdx
  docs/content/sidebars/concepts.js
Labels: Type: Documentation
